[2021-07-11 05:42] #596 closed

[2021-07-13 18:07] tpseven-777 commented on #591
Got this now for a second card in that month. Anything to do?

[2021-07-14 15:40] kostyay commented on #591
Same here

[2021-07-14 18:00] esakal commented on #591
Hello,
As I manage to scrape visa cal as always, there are two options:
1. your transactions include data that I don't get and is causing this issue.
2. you are not using the latest israeli-bank-scrapers version.

It is easy to rollout the second one, please update to latest `v1.3.1`, or reply if you already tried it.

Thanks
Eran

[2021-07-17 18:31] tpseven-777 commented on #591
I've upgraded to the last version, and I still experience this.
Also I've notice this issue is inconsistent. It can appear and disappear and I can't tell the reason.

[2021-07-25 07:00] baruchiro commented on #589
I think it is the best way to be a first-time contributor- I did the same way...
Just look at other banks that already implemented and get ideas.

I think you can ask questions here, I'm a contributor and I'm here to help :-)

[2021-07-25 07:01] baruchiro commented on #589
BTW, you know [Riseup](https://www.riseup.co.il/)?
It is interesting that they don't have Bank Yahav support, like this project...

[2021-07-25 07:25] hannanel100 commented on #589
__😜____

[2021-07-27 14:57] orentet opened #598 "fix union scraper"
Hi
Great job on this project.
the union scraper is not working for quite a while now.
I provided a fix in #566 but was not accepted.

personally i don't have time for more than the fix, and personally i'm using my own branch which fixes this issue for me, but for the sake of everyone else and other projects that rely on this project. please fix it.

if you need me to test a fix, i'd be happy to te

[2021-07-27 15:28] esakal commented on #588
@erikash Hi,  can you elaborate on the gains you believe you'll have when entering the credentials manually?

Keep in mind that this is usually a node (server-side library) where you don't have user interactivity.

And for Electron, it can be done but keep in mind that:
- you are still potentially exposing your credentials, the application that will initiate the puppeteer instance can add listener

[2021-07-30 08:54] tpseven-777 commented on #591
Anything we could do here? @esakal

[2021-07-31 05:04] ifeins commented on #591
@esakal I'm experiencing this issue as well

[2021-08-03 18:47] esakal commented on #591
I'll check and update

[2021-08-05 13:40] esakal commented on #591
I'm not sure if we can do anything, because the login api returns a token that we cannot verify but seems valid.
see this example, a valid auth that still fail the scraping
![CleanShot 2021-08-05 at 16 26 50@2x](https://user-images.githubusercontent.com/4751797/128358799-70fd68c6-f8bb-468e-9868-f41946315bd2.jpg)

and another run just right after that works
![CleanShot 2021-08-05 at 16 27 32@2x](ht

[2021-08-05 14:46] esakal commented on #591
@ifeins @tpseven-777 I have an idea that might help. in the attached PR I replaced the api used to login. We don't look for 100% success but I hope this api doesn't suffer from the other login api issues.

Please let me know how it worked for you

[2021-08-08 06:37] #591 closed

[2021-08-09 18:38] gczobel commented on #589
@hannanel100
I started working on that, but I have zero UI expertise and don't have the time to continue.
I actually have a fork and it's working for me.
You can take a look here: https://github.com/gczobel/israeli-bank-scrapers/blob/yahav/src/scrapers/yahav.ts

[2021-08-09 20:22] hannanel100 commented on #589
Where exactly did you get stuck?

[2021-08-10 12:08] gczobel commented on #589
Check the `searchByDates` function. I never figured out how to select the dates correctly.
Actually is hardcoded to choose the last 3 months from the drop down.

But everything else is working. I use that fork daily on a cron.

[2021-08-10 17:17] esakal commented on #589
@gczobel can you add snapshots of the dropdown and the date selectors?
usually what happens is that you need to pick the custom dates option in the drop menu and then to type the dates into the components. if they are using a date selector and block manual typing you sometimes can still set the value and it will catch up.

did you try that?

[2021-08-10 17:25] gczobel commented on #589
@esakal
Yes, check here: https://github.com/eshaham/israeli-bank-scrapers/issues/542

[2021-08-10 17:26] esakal commented on #598
@orentet Hello :)
Actually we can almost add it, the changes are not complicated but I'm not sure we can ignore them.

[code]
When you changed the selector of singing you removed the promise.race and now it doesn't support restore. You can just revert to the original version with the promise.race and change the first selector like you did. It will work.

[code]
this one I dont understand how it wo

[2021-08-10 17:27] esakal commented on #590
Hello @wwwshayronen , Only people who has account in an institute can support it, because in order to add a scraper you need to work against their site.  Do you have basic experience with node.js and jaascript? if so you can use other scrapers as a reference and support Marcantil, wdyt?

[2021-08-10 17:28] esakal commented on #588
I'm going to close this issue. If someone want feel free to comment

[2021-08-10 17:28] #588 closed

[2021-08-10 18:30] esakal commented on #589
@gczobel this one looks promising
https://stackoverflow.com/questions/58507589/how-to-use-this-datepicker-with-puppeteer
remove the readonly from the field and type, it sounds reasonable, can you try?

[2021-08-29 23:46] #586 closed

[2021-08-31 18:00] esakal opened #602 "Possible issue with Visa Cal?"
Hi All,
Something is wrong with visa cal, today they stopped sending transaction type thus for me at least the scraper fails.

I'm going to wait till tomorrow to see if this is a bug or not on their side.

![CleanShot 2021-08-31 at 21 00 40@2x](https://user-images.githubusercontent.com/4751797/131553072-cdace715-1792-4ac2-9b54-39dc22634527.jpg)

[2021-09-03 16:53] LiranBri opened #604 "Beinleumi balance is missing in response"
Hi, the scrapper of the beinleumi (הבינלאומי) is missing the `balance` field.
it does return the transactions though

[2021-09-05 21:52] esakal commented on #602
@brafdlog yes it is the same issue. You can try my proposal in #603, I'm working with it since then and beside not having memo it seems fine.

The options are either to use my proposal or to re-write the scraper from scratch using browser scrapping approach.

@eshaham please advice

[2021-09-06 18:31] #569 closed

[2021-09-08 18:41] LiranBri commented on #547
I created a PR for getting the balance of Beinleumi bank
https://github.com/eshaham/israeli-bank-scrapers/pull/605

[2021-09-08 18:42] #604 closed

[2021-09-10 05:24] tpseven-777 commented on #602
Got the very same issue. How do I get the patch before a version is released?

[2021-09-11 21:01] LiranBri opened #607 "Finance Notifier project"
Hi, I published a new project which uses the Israeli bank scrapers project for automated email/whatsapp alerts for custom logic. feel free to add it in the "who is using the project" section of the readme

https://github.com/LiranBri/finance-notifier

[2021-09-13 05:48] eshaham commented on #607
Added 😃

[2021-09-13 05:48] #607 closed

[2021-09-13 16:17] esakal commented on #602
@tpseven-777 You can have the dependency from the PR directly. see https://stackoverflow.com/questions/33181297/npm-install-from-github-pull-request

I don't have the ability to merge my own PR so we need @eshaham assistance. But regardless the PR seems to be partial because although it fixes the null issue, it doesn't resolve the missing memo and potentially / maybe issue with pending transaction

[2021-09-21 09:37] LiranBri commented on #387
I also get this `GENERIC: text is not iterable` error from bank hapoalim scraper, but its not consistent

[2021-10-04 16:54] RoiNsec commented on #602
Hi
Is there an expectation when this will be resolved?

[2021-10-05 05:13] tpseven-777 commented on #602
@esakal I've just tried installing this PR by with the following:
`  821  npm install --save-dev  eshaham/israeli-bank-scrapers#pull/603/head`
`  822  npm install --save-dev  israeli-bank-scrapers/israeli-bank-scrapers#pull/603/head`
`  823  npm -i --save-dev  israeli-bank-scrapers/israeli-bank-scrapers#pull/603/head`
`  824  npm -i --save-dev  israeli-bank-scrapers/israeli-bank-scrapers\#pull/603

[2021-10-05 18:05] sushi30 opened #610 "GENERIC: Error: failed to find element matching selector ".main_balance" when scraping beileumi"
When using the beinleumi scraper:

[code]

Checking with UI it appears the main balance indeed goes missing after the first page.

## Frist page
![image](https://user-images.githubusercontent.com/26347589/136078330-ec982d4a-164d-4816-8652-a32245d75742.png)

## Second page
![image](https://user-images.githubusercontent.com/26347589/136078112-ae00b032-201d-484b-8b95-6f333552c604.png)

[2021-10-09 17:00] esakal commented on #602
@tpseven-777 my bad, as this is compiled library you cannot install directly from the pull request. What I'm doing for now in my project is:
1. pull the PR locally
2. change the package name in `package.json` - postfix it by `-hotfix.1`. the value will be `1.0.4-hotfix.1`.
3. run `npm build`
4. run `npm pack`
5. a file named `israeli-bank-scrapers-1.0.4-hotfix.1.tgz` will be created.
6. copy the f

[2021-10-09 17:17] esakal commented on #610
@sushi30 please see PR #611

[2021-10-28 21:28] brafdlog opened #618 "Visa cal scraper only fetches transactions from a single card"
@esakal I think the latest change to the visa cal scraper broke the flow of scraping multiple cards.
You can see in the function around the code below that it is hard coded a single account
https://github.com/eshaham/israeli-bank-scrapers/blob/67c29169717342326fc8df6934cb070046cf6d7a/src/scrapers/visa-cal.ts#L266

[2021-10-30 06:26] #598 closed

[2021-10-30 06:26] #590 closed

[2021-10-30 06:26] #589 closed

[2021-10-30 12:04] #618 closed

[2021-11-05 10:13] baruchiro opened #622 "Mizrahi: Support multiple accounts"
If you have multiple accounts in Mizrahi, it will fetch only the first account.

![image](https://user-images.githubusercontent.com/17686879/140494627-e83e1657-9917-4312-9131-7640b1223d22.png)

![image](https://user-images.githubusercontent.com/17686879/140494843-18f415a5-73ee-4299-9ac2-8ceb862274dd.png)

[2021-11-07 11:54] #622 closed

[2021-11-10 09:06] LiranBri opened #624 "BUG: hapoalim scrapper fails consistently"
Bank Hapoalim scrapper is failing consistently with:

[code]

or:
[code]

[2021-11-10 19:51] nmazuz commented on #624
Same problem

[2021-11-11 11:44] DimDimi4 opened #625 "GENERIC: MAX scrapper fails with error "Evaluation failed: TypeError: Failed to fetch""
As described in the title MAX scrapper fails constantly with this error for couple of days now. There is no debug messages in scrapper itself so I dont know where exactly does it happens.

[2021-11-12 07:15] erikash commented on #625
+1 here

[2021-11-12 07:44] ifeins commented on #625
I'm getting this as well

[2021-11-12 09:27] NetanelBrauner commented on #625
Same issue for me

[2021-11-12 09:57] tpseven-777 opened #626 "w"

[2021-11-12 10:01] #626 closed

[2021-11-12 10:01] tpseven-777 commented on #625
+1

[2021-11-12 12:28] sushi30 opened #627 "[visaCal] Foreign currency parsed as NaN"
### Output

[code]

### Expected

[code]

I suspect this is because in `getAmountData`, parsing should be done in reverse. I will file a PR for this later this weekend.

https://github.com/eshaham/israeli-bank-scrapers/blob/6301efd1c1178378774a0c65fff421522ec7714d/src/scrapers/visa-cal.ts#L103-L105

### Original Transaction from CAL website
![image](https://user-images.githubusercontent.com/263475

[2021-11-13 07:07] erikash commented on #625
Hi guys,
I've opened a PR with a fix for this issue.. would appreciate if you can test it..
@esakal FYI
https://github.com/eshaham/israeli-bank-scrapers/pull/629

[2021-11-13 15:40] esakal commented on #625
@DimDimi4 please check with the version just deployed

[2021-11-13 15:41] esakal commented on #624
Hi sorry but I don't have an account in bank hapoalim.  Can you try to fix it?

[2021-11-13 16:39] gczobel commented on #625
Works in my private branch using the proposed fix.

[2021-11-13 17:44] Urigo opened #630 "Collaboration on scrapers"
Hi,
About 2 years ago I suggested a couple of changes into how the scrapers are build and wanted to contribute.

Some of these changes were accepted (migration to TS, but at the end I wasn't the one who did the actual work...) and some rejected.
The main ones who got rejected were around getting the raw and full response from the scrapers (Related to this one as well: https://github.com/eshaham/is

[2021-11-14 08:10] gczobel commented on #589
@esakal I know it's old but I was not able to check this until now.
I tried the workaround you suggested and it's not working.
I'm able to remove the 'readonly' and put the new text in the correct format. But nothing happens.
I tried doing  `await page.keyboard.press('Enter') ` to check if this fire something but no...

Every click open the  'calendar' that you can see in the pictures in #542

[2021-11-14 19:50] erikash commented on #624
Can you guys retry now?
A friend of mine said the scrapers started working again for him,..

[2021-11-14 21:23] nmazuz commented on #624
Yes, now it's working

Thanks!

On Sun, Nov 14, 2021 at 9:50 PM Erik Ashepa ***@***.***>
wrote:

[2021-11-16 11:37] DimDimi4 commented on #625
It does work now! Thanks.

[2021-11-16 11:37] #625 closed

[2021-11-17 06:30] podj opened #632 "Add .nvmrc file to specify the node version"
I used node version `v10.9.0` and the `npm install` command failed over a weird error:
[code]

Upgrading to `v16.13.0` solved the issue.

[2021-11-17 10:57] #632 closed

[2021-11-18 18:05] baruchiro commented on #630
I have a question.

What is the **full response** you're talking about? I guess you're talking about SPA scrapers that catch the server response for data, but in the scrapers I worked on, it was done by parsing an HTML table. What is the **raw data** there?

Another suggestion, I don't know if you implemented it like that, is to integrate the schema validation in the tests. It will not help in pro

[2021-11-18 18:16] baruchiro commented on #528
חוק הבנקאות הפתוחה עבר בחוק ההסדרים.
I suggest starting to think about if and how this library will continue.
Let's think, what we will get with **open banks**?
We will get more secured account analytics apps, but is the regular person will be able to implement a private app itselfs?
I think no.

I see two points-
1. Be the library for individuals who will not work for getting approval and authent

[2021-11-19 17:28] #627 closed

[2021-11-21 19:16] tpseven-777 opened #633 "Visa cal issues with an account that has multiple cards"
Hi,
I've just upgraded to the latest version, and everything works except that account.
It's a visa-cal account with 4 (!) different cards. some of them are not active, but some are.
I was getting the following error:
`Error: failed to find element matching selector "[id$=FormAreaNoBorder_FormArea_ctlMainToolBar_lblCaption]"`
I also have another visa-cal account with just a single card, scraping w

[2021-11-22 07:37] tpseven-777 opened #634 "waitFor is deprecated"
Getting this when scraping amex:
`waitFor is deprecated and will be removed in a future release. See https://github.com/puppeteer/puppeteer/issues/6214 for details and how to migrate your code.`
Latest version

[2021-11-22 14:58] Urigo commented on #630
@baruchiro yes, by full response I meant the server response data (Poalim and Isracard), but in general and with the context of an HTML scraper I think it means every piece of data you can get out from the website (HTML and network or any other way you can get as much data as possible).
So that we have all the data that is possible to extract and might be useful to someone, and in a later stage fi

[2021-11-26 10:27] esakal commented on #633
Hi @tpseven-777
I believe it is because of the not active cards because for others with multiple accounts it works.
Two options:
1. create a PR and filter out the inactive accounts.
2. share snapshots and also selector that might help identify those inactive accounts

The best option will be a PR from you as you will be able to test it at the same time. If for any reason it is not possible lets tr

[2021-11-26 10:28] esakal commented on #630
Hi @Urigo I just wanted to let you know that I saw your suggestion and I'll try to address it soon. I need to finalize some other thing first.

Thanks and enjoy the weekend

[2021-11-26 10:30] esakal commented on #634
Thanks, we will address it when we will upgrade the puppeteer dependency. At the moment this is only a warning and shouldn't impact the functionality of the scrapers

[2021-11-26 10:30] #634 closed

[2021-11-26 11:20] Urigo commented on #630
Hi @esakal , we can work on it together, don't address it by yourself, I wrote a whole library and I can help you integrate it

[2021-12-01 21:31] esakal commented on #633
@tpseven-777 Hi. I believe the problem is not due to multiple cards. Can you check the PR #635 and let me know if it works for you?

[2021-12-04 00:19] ReaBar opened #637 "Otsar Hahayal bank transactions date is being written as last year instead of current year"
I'm not sure if its an issue in israeli bank  scrapers but I'm using caspion to scrape my financial data and the dates for bank otsar hahayal are last year instead of this year. can anyone verify it?

[2021-12-04 07:55] esakal commented on #637
@ReaBar I don't have otsar hahyal. But a question. is the date of the transactions in the following format? dd/yy/mm?

https://github.com/eshaham/israeli-bank-scrapers/blob/3fcfb7a5cd619a33a7022cc2708a45c084c7f529/src/scrapers/otsar-hahayal.ts#L17

[2021-12-04 14:14] ReaBar commented on #637
Hi @esakal,
example from the excel file:
`<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/reaba/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link

[2021-12-04 18:57] #633 closed

[2021-12-04 18:58] #610 closed

[2021-12-04 18:59] esakal commented on #637
yes, i meant in the website, can you share the day of the same transaction in the browser?

[2021-12-04 19:00] #624 closed

[2021-12-04 20:41] ReaBar commented on #637
sure.
this is the formatting in the bank's website: 20/10/2021

[2021-12-05 06:42] esakal commented on #637
@ReaBar actually the date format is wrong. In the date you showed me it has 4 digits in the year so it should have been YYYY instead of YY

I can help you with that even that I don't have an account there.

To do that I'll need you to reply with dates examples  from Jan-September, from the beginning of the month days 1 to 9.

I need to know if they use 0 for days/month with single digit. Some exam

[2021-12-05 06:49] ReaBar commented on #637
@esakal the format is: 01/01/2021 (trailing zeros)

[2021-12-05 06:49] ReaBar commented on #637
@esakal the format is: 01/01/2021 (trailing zeros)

[2021-12-05 19:14] esakal commented on #637
@ReaBar please run the tests of otsar hahayal against my PR, let me know if it fixed it.

[2021-12-10 11:11] baruchiro opened #639 "Mizrahi future transactions is breaking in case of error"
1. The future transactions in Mizrahi is not working in this case:
![image](https://user-images.githubusercontent.com/17686879/145565123-c5cbcc3d-e615-43cd-af0e-c05ed4387e76.png)
1. I think if the future transactions is not working, it shouldn't fail the whole scrape.

[2021-12-10 22:37] ReaBar commented on #637
@esakal I would be glad to run those tests but I have no experience with typescript and I'm consuming this project through caspion and not directly from this repository.

[2021-12-18 20:02] esakal commented on #639
Hi @baruchiro, the API fails when we are not sure it fetched all the data as expected. If we will silently ignore scraping errors, even for future transactions, the outcome will be that users will assume there aren't any as the scrapping will pass.

Do you have a way to fix it?

[2021-12-18 22:34] ReaBar commented on #637
@esakal what do you say? how can I run the app and save the output? I would be glad to test it out

[2021-12-19 06:48] #637 closed

[2021-12-19 06:49] esakal commented on #637
@ReaBar please track releases of Caspion and let us know once it uses the fix if it has worked or caused a regression (less likely)

@brafdlog fyi

[2021-12-20 09:10] daniel-hauser opened #640 "[hapoalim] Fetch error"
# Description
The poalim scraper stops to work with a `TypeError: Failed to fetch` error.
After investigating, seems like the endpoint added in #576 redirects to itself if the account is closed- causing the error.

# Solution
A possible solution is to wrap the balance logic in a try-catch and fallback the balance to undefined (the value before the #576 PR) if the account is closed.

# Error log
Ad

[2021-12-20 16:57] baruchiro commented on #639
Sorry, I can't find the time to fix this

[2021-12-25 13:05] brafdlog commented on #637
@ReaBar See https://github.com/brafdlog/caspion/pull/306

[2021-12-25 16:49] ReaBar commented on #637
@brafdlog thanks, waiting for the release and I will check

[2021-12-26 11:01] brafdlog commented on #637
@ReaBar try https://github.com/brafdlog/caspion/releases/tag/v0.0.12-beta

We didn't use discord, but I am considering our options for communication. So opened one and we can try it out.
You can join here: https://discord.gg/ejfZrfrN

[2021-12-27 18:21] ReaBar commented on #637
@brafdlog it works.
I'll connect to discord as well.

[2021-12-27 18:54] esakal commented on #637
@ReaBar great news! enjoy.

@brafdlog having discord to caspion sounds like a great idea

[2021-12-27 18:57] esakal commented on #640
@daniel-hauser I'll wait to see if anyone comment and will proceed with the merge tomorrow or the day after.

[2021-12-30 10:41] #640 closed

[2022-01-10 19:45] nmazuz opened #645 "Error while fetching page by Max scraper"
Max scraper has an issue in last few weeks

During the scraper execution I am getting the following error:
`
-f | {
0|israel-f |   success: false,
0|israel-f |   errorType: 'GENERIC',
0|israel-f |   errorMessage: 'Evaluation failed: SyntaxError: Unexpected end of JSON input\n' +
0|israel-f |     '    at __puppeteer_evaluation_script__:11:26\n' +
0|israel-f |     '    at l.invoke (https://www.max.c

[2022-01-11 06:34] esakal commented on #645
Hi @nmazuz I'm using max scraper daily so it might indicate on something not related to the scraper logic.
Did you make sure you are using the latest version? Which version of israeli-bank-scrapers or israeli-bank-scrapers-core are u using?

It looks like the error is when trying to run something in the polyfills of max.co.il but it doesn't make sense as we are using puppeteer which is usually upd

[2022-01-21 21:32] brafdlog opened #646 "Discount scraping fails - success url has changed"
Discount scraping fails because the url after successful has changed. It is now: `https://start.telebank.co.il/apollo/retail/#/MY_ACCOUNT_HOMEPAGE`

https://github.com/eshaham/israeli-bank-scrapers/blob/853b3fddd355ba9c3874c1c08df7871deed42e2e/src/scrapers/discount.ts#L125

[2022-01-22 19:58] #646 closed

[2022-02-03 18:12] naji-makhoul opened #650 "Mercantile bank"
Is there support for Mercantile Bank?

[2022-02-05 21:14] nmazuz commented on #645
Upgrading version solved the issue.
Thanks!

[2022-02-05 21:14] #645 closed

[2022-02-06 20:49] nmazuz opened #651 "Blank page in leumi after login"
Hi

In the last days leumi scraper started to failed

After debugging I noticed that I am getting blank page after login (logging was successful) but element "div.leumi-container" cant be found on the page. I also made a screenshot of the page after 30 sec and still the same blank page.

Is anyone experience the same issue?

I updated to the last version 1.10.3

[2022-02-09 10:04] ReaBar opened #652 "Cal settlement date is broken when changing card billing cycle"
when changing the settlement date for Cal credit card the settlement date is changed from dd/MM/YYYY to MM/YYYY

https://ibb.co/hYSLvnq

[2022-02-12 13:08] LiranBri opened #655 "Is there a way to get the future bill for credit cards such as Cal?"
Is there a way to get the future bill (debt) for credit cards such as Cal? or only transactions are currently supported?

[2022-02-12 14:19] LiranBri commented on #655
I see in code now that there isn't. I can contribute a PR but how would you like me to structure it in the response object? as there are no matching fields currently for it.

probably we need new fields such as:
[code]

[2022-02-19 07:53] #652 closed

[2022-02-19 07:54] esakal commented on #651
Hi, @nmazuz  is this still happening for you? because it scrapes correctly my leumi accounts

[2022-02-19 07:55] ReaBar commented on #652
fixed on version [1.10.4](https://github.com/eshaham/israeli-bank-scrapers/compare/v1.10.3...v1.10.4)

[2022-02-25 15:12] ifeins commented on #651
Don't know if it's related but when I'm scraping bank leumi I'm getting the following error:

[code]

[2022-02-27 08:24] esakal commented on #651
@ifeins  @nmazuz I have fixed this issue, will deploy a version now. It seems that it start failing to @nmazuz  a while ago while it was still functioning for me till yesterday. Now that I had this issue I was able to provide a solution for that.

[2022-03-04 19:17] esakal commented on #655
I have merged the PR but the magic link was incorrect so I'll close this one manually

[2022-03-04 19:17] #655 closed

[2022-03-05 07:30] erikash opened #660 "visaCal Scraper is broken in 1.12.0"
Hi guys,
I've upgraded to the latest version and scraped  a few times and every time I got the following error for `visaCal`:

[code]

@LiranBri @esakal please advise...

Thanks,
Erik.

[2022-03-05 13:24] #660 closed

[2022-03-05 13:24] esakal commented on #660
@erikash please try and update here

[2022-03-07 10:12] thedrow opened #663 "Support foreign currencies"
I've looked into two scrappers, one for Mizrahi and one for Beinleumi and both of them seem to support scrapping accounts in Shekels only.
Is there a plan to add support for foreign currencies?

[2022-03-11 18:17] esakal commented on #663
Hello,
i believe they were added by users without foreign currencies. If you have such an account and you can contribute to them that would be awesome.

[2022-03-19 20:54] naorpeled commented on #663
@esakal I would love to assist with the Mizrahi scraper, feel free to assign me if you'd like.
Regarding Benleumi, I don't have any accounts there.

[2022-03-23 00:23] Asafb26 opened #668 "Mizrahi scrapper is no longer working after site changes"
It seems like Mizrahi has a new site (not sure if it's a rollout or 100% live, can you confirm?)
now Mizrahi scrapper is no longer working due to selectors/URL changes and probably some CSR changes
<img width="1311" alt="Screen Shot 2022-03-23 at 2 26 59" src="https://user-images.githubusercontent.com/6785580/159598494-fb372122-ff08-4fc9-9175-97a39dd91ca0.png">

[2022-03-26 06:59] salowenh opened #670 "Beinleumi scraper is broken"
Errors on:
[code]
It seems like the "login" button isn't getting pressed

Using Caspion 0.0.16 with israeli bank scrapers 1.12.1

[2022-03-26 09:14] salowenh commented on #670
false alarm

[2022-03-26 09:14] #670 closed

[2022-03-31 23:32] Mitrij commented on #650
Yes, the same as discount. The only difference to make it work I had to change login url:
loginUrl: `${BASE_URL}/login/?multilang=he&bank=m&t=p`,
This worked for me.

[2022-04-16 09:36] #630 closed

[2022-04-16 09:36] #639 closed

[2022-04-20 07:22] esm7 opened #674 "Isracard scraper login fail"
Hey,

For some reason the Isracard scraper stopped being able to login. I believe (though not 100% sure) that they changed the format of how the page transitions between password-based login and SMS-based login (https://digital.isracard.co.il/personalarea/Login/).

[code]

[2022-04-20 07:24] esm7 commented on #674
My bad, closing!

[2022-04-20 07:24] #674 closed

[2022-04-20 17:27] samsonmoshe opened #675 "futureDebit object is undefined - Hapoalim Scraper"
After running the scraper, I get the transactions, but not the future debits.

I thought this should contain the future credit card information... Have I misunderstood this?

[2022-04-23 18:55] esakal commented on #675
It depends on the scraper. I don't have Hapoalim account anymore so I cannot say for sure. Based on the codebase it looks like we scrape in hapoalim using specific api by providing current date as end date. This is a common practice in this library. Some of the institutes returns future transactions but based on your issue it might not be the case for Hapoalim. I don't see any filtering logic ther

[2022-04-24 19:28] esakal commented on #668
should be resolved as part of #673

[2022-04-24 19:28] #668 closed

[2022-04-24 19:29] esakal commented on #650
@Mitrij is this the only difference? the login url?

[2022-04-24 21:41] Mitrij commented on #650
Yes, it is the same system. But looks like, it needs this parameters for "Mercantile bank".

[2022-04-28 21:18] daniel-hauser opened #680 "The isracard scraper fails with a timeout error"
Starting today, the isracard scraper stopped working for me with this error:
[code]

Seems like for some reason the isracard website is not loading inside of puppeteer, resulting in a timeout.

This issue is not related to the israeli-bank-scrapers code, but I am opening it to see if anyone else has the same error or knows how to solve it

#### Miniman repro

With the `index.js` and `Dockerfile` f

[2022-04-30 12:25] Vadiki4 commented on #680
Happens to me too.

Interestingly, when I run the scrapper from local (Israel) machine it works, but when i run it from a cloud (Germany) it returns the error you posted.

PS: read on myFinanda facebook page that isracard had changes within the site, but i did not found any myself.

Anyone found a fix?

Thanks.

[2022-04-30 14:20] dorbenzvi commented on #674
@esm7 What was the issue?
I'm facing the same thing now.

[2022-04-30 14:26] gczobel commented on #680
I have the same issue. Started to fail on 27/4

[2022-04-30 14:57] dorbenzvi commented on #680
Same here

[2022-04-30 15:51] daniel-hauser commented on #680
I confirmed that @shaharkazaz's fix is working for me when adding this code to the script above

[code]

[2022-04-30 18:08] LironKS commented on #680
@daniel-hauser can you elaborate how did you apply the fix? Thanks

[2022-04-30 18:16] daniel-hauser commented on #680
I didn't yet check the scraper, I only tested with the docker image of the minimal repro.

Later, after verifying that the scraper works, I will use [patch-package](https://www.npmjs.com/package/patch-package) until the fix will be merged.

[2022-05-01 09:19] esakal commented on #680
@daniel-hauser , I also use patch-package to fix things temporarily, it is an handy tool.

I created a new PR #683 handling specifically the Isracard issue instead of merging #681, you can see reasons here on https://github.com/eshaham/israeli-bank-scrapers/pull/681#issuecomment-1114175029

We will probably continue with the original PR #681 to upgrade dependencies of node.js and puppeteer.

[2022-05-01 09:20] #680 closed

[2022-05-02 06:38] esm7 commented on #674
It was a straight-forward error on my end, I haven't realized that my password changed a few weeks earlier, I haven't used israeli-bank-scapers in those last weeks, so I forgot to update the config with the new password :shrug:

[2022-05-06 08:04] kazazor opened #686 "Can't run on macs with M1 processors"
This has been discussed here: https://github.com/puppeteer/puppeteer/issues/6622 and here: https://github.com/puppeteer/puppeteer/issues/6634

There are a few things that need to happen here:
1. Change `puppeteer` to `puppeteer-core`
2. Be able to pass `executablePath` to the package

[2022-05-14 16:36] esakal commented on #686
@kazazor Hi, we already support it. it is the [https://www.npmjs.com/package/israeli-bank-scrapers-core](israeli-bank-scrapers-core NPM library)

Does it helps?

[2022-05-18 15:47] kazazor commented on #686
Awesome, I'll give it a try

[2022-06-06 11:23] kazazor commented on #686
@esakal maybe I'm missing something here.
In the `Getting chromium version used by puppeteer-core` section of [israeli-bank-scrapers-core](https://www.npmjs.com/package/israeli-bank-scrapers-core) it says to:

1. `To get the required chromium revision use the following code`
[code]

2. `Once you have the chromium revision, you can either download it manually or use other liraries like [download-ch

[2022-06-08 15:47] esakal commented on #686
when do you get this message, whwen trying to download? when executing scrape?

[2022-06-08 18:03] kazazor commented on #686
During the download. I found this thread online: https://stackoverflow.com/a/66044814

Which points to this fix here: https://github.com/puppeteer/puppeteer/commit/9a8479a52a7d8b51690b0732b2a10816cd1b8aef

In this release (6.0.0) : https://github.com/puppeteer/puppeteer/releases/tag/v6.0.0

Seems to me like updating `puppeteer-core` to use `6.0.0` may fix that.

---

Another indication this is the

[2022-06-09 06:30] kazazor commented on #686
By the way, also updating up until version `7.1.0` seems easy enough. The only breaking change there is around `page.screenshot` which I don't believe is actually breaking anything for you here: https://github.com/eshaham/israeli-bank-scrapers/blob/72f5e13039bfe93b0b5d9b2f60736208f139bfd5/src/scrapers/base-scraper-with-browser.ts#L282

Even more, looking at the breaking changes all the way to the

[2022-06-11 15:44] gczobel opened #690 "Beyhad Bishvilha - No password in login page"
Hi
The Beyhad Bishvilha is no longer working.

`Error: failed to find element matching selector "#loginId"`

 @esakal There is a way to fix that? I don't see the password option anymore...

[2022-06-13 09:35] razaz opened #691 "beinleumi fails on waiting for selector `#matafLogoutLink` failed: timeout 30000ms exceeded"
manually modifying the waitForPostLogin method to do the below resolves the issue.

async function waitForPostLogin(page) {
  await sleep(1000);
  return Promise.race([(0, _elementsInteractions.waitUntilElementFound)(page, '#matafLogoutLink', true), (0, _elementsInteractions.waitUntilElementFound)(page, '#validationMsg', true)]);
}

async function sleep(ms) {
  return new Promise(resolve => setTim

[2022-06-17 05:23] esakal commented on #686
@kazazor thank you for suggestion this fix. I ended up upgrading to v6 as more up-dated versions although works are breaking the typescript in many places.

As you mentioned the updated versions don't seems to have complicated breaking changes fixes but for a reason the @types/puppeteer did introduce many changes in versions later then v6 so as you stated that it is good enough I ended up upgradin

[2022-06-17 05:28] esakal commented on #690
Yes this is unfortunate that they don't provide a way to choose between OTP and password like many other institutes, Scrapping them really made my life easier as Beyahad Bishvilha UX is annoying to manually copy transactions from.

There are some alternatives to introduce support for OTP in (any) scrapers but since these library is in maintain mode and not under active development I don't believe

[2022-06-17 05:31] esakal commented on #691
Hi, I'm not sure why sleep helps here as you are waiting for 1 second before continuing. Please try the following:

[code]
If it will work we can merge it.

BTW it will not happen to you always, usually it indicate on either slow network on your side or slow server response.

[2022-06-17 05:32] esakal commented on #675
@samsonmoshe feel free to re-open if relevant

[2022-06-17 05:32] #675 closed

[2022-06-17 05:33] esakal commented on #650
@Mitrij if you'll provide a PR we will be able to add it to the library :)

[2022-06-17 06:49] razaz commented on #691
thanks for the suggestion, tried and it still fails on timeout.
the behavior is consistent, either running locally or through the action, so my conclusion is that this isnt a network issue.
my next option is to try to debug the url, but if there is any other suggestion on how to debug the behavior with/without the 1s sleep that would help a lot.

[2022-06-17 15:18] davidd22 opened #693 "scraping failed for the following reason: Protocol error (Performance.enable): Target closed."
getting this ^ error after npm install the package and trying to run this code...

my **main.ts** file

`
(async function () {
  try {
    // read documentation below for available options
    const options = {
      companyId: CompanyTypes.leumi,
      startDate: new Date('2020-05-01'),
      combineInstallments: false,
      showBrowser: true,
    };

    // read documentation below for informat

[2022-06-17 18:24] esakal commented on #691
Hi @razaz ok, we don't have an active list of contributors for each scraper that we can use to get second verification about your issue. But your suggestion shouldn't do any harm.

Feel free to provide a PR and i'll merge it

[2022-06-18 20:42] Mitrij commented on #650
I'm sorry, what is PR?

[2022-06-21 07:53] kazazor opened #694 "Max - Unknown transaction type כרטיס חליפי & פרעון מוקדם"
# REPLACEMENT_CARD
[code]

![Screen Shot 2022-06-21 at 10 52 08](https://user-images.githubusercontent.com/1577655/174746273-78f0ad6b-f8a1-4070-ad66-672caffa3859.png)

---
# EARLY_REPAYMENT
And another one I just found (so I updated the issue):
[code]

I believe this is enough information, right?

[2022-06-21 07:53] kazazor commented on #686
Sure I'll give it a try 👍

[2022-06-21 08:01] kazazor commented on #686
@esakal It seems to be doing the trick :)

[2022-06-21 08:05] kazazor commented on #686
By the way, would be great if in your merge and deploy you could already also fix https://github.com/eshaham/israeli-bank-scrapers/issues/694

It seems like it's just adding this constant:
[code]

And add it to the switch case of the max scraper

[2022-06-22 10:37] agammyshhay opened #696 "Visa cal - error "Navigation timeout of 30000 ms exceeded""
Hi,

thanks for this important project.

in Visa cal i get error :"Navigation timeout of 30000 ms exceeded"
im working with Caspion

thank

[2022-06-25 19:48] LiranBri commented on #691
I can confirm that I'm also experiencing the same issue. I'll try to take a look but It would take a while as i'm a bit busy currently

[2022-06-25 21:54] konfortes opened #697 "Beinleumi login is broken"
Hey @eshaham, maintainers, love this repo ❤️

It seems like the beinleumi login is broken, I'm not really sure why, the code appears to be okay.
I was, however, able to reproduce it in a simplified snippet (below) and fix it by adding an ugly `waitForTimeout(1000)`

[code]

I don't mind creating a PR to fix it but will need some guidance and hints.

[2022-06-26 13:38] #694 closed

[2022-06-26 13:39] #686 closed

[2022-06-26 13:42] esakal commented on #697
Hello @konfortes I'm glad to hear that you find this repo effective 👍

Obviously we can try to find a better solution or understand the root cause if the issue, but your workaround is good enough and if it does the job you can create a PR and we will merge it.

As I dont have Beinleumi I'm not able to run this scraper but obviously adding this timeout cannot harm others.

[2022-06-26 13:44] esakal commented on #696
Does it continue to happen to you ?

[2022-06-26 13:49] esakal commented on #693
Sorry @davidd22  I don't encounter this issue on my end. Anyone else experience the same issue?

In the meanwhile try to debug it with logs using `DEBUG=israeli-bank-scrapers:*` and use it to diagnose the step that throw this error.

[2022-06-26 13:50] esakal commented on #691
@LiranBri can you check #697

[2022-06-26 18:27] konfortes commented on #697
Hey @esakal @LiranBri
I tested the change locally and it fixes the issue.
Created [this PR](https://github.com/eshaham/israeli-bank-scrapers/pull/699) (please link the issue):

[2022-06-26 19:24] konfortes commented on #697
@esakal any idea why there was no release created for my fix merge?
Looking at the release workflow definition it seems like each push to master should trigger a release. What am I missing?
Saw this log in the [action](https://github.com/eshaham/israeli-bank-scrapers/runs/7062707172?check_suite_focus=true):
[code]

[2022-06-26 19:39] esakal commented on #697
@konfortes yes it is a typo mistake, I accidentally prefixed the commit message with `Fix` instead of `fix` (capital letter F) so semantic release didn't detect it as a valid change.

Will resolve it soon

[2022-06-26 19:40] #697 closed

[2022-06-27 06:47] YehonatanGitHub opened #701 "Logged into union bank but scraping doesn't work"
Hi, I successfully logged into union bank but then nothing happens and the system times out.

here is the console.log(scrapeResult);
{
  success: false,
  errorType: 'GENERIC',
  errorMessage: 'waiting for selector `#signoff` failed: timeout 30000ms exceeded'
}

here is how I set the options:

const options = {
      companyId: CompanyTypes.union,
      verbose: true,
      startDate: new Date('20

[2022-06-28 07:32] agammyshhay commented on #696
No, its stopped
thanks

‫בתאריך יום א׳, 26 ביוני 2022 ב-16:44 מאת ‪Eran Sakal‬‏ <‪
***@***.***‬‏>:‬

[2022-06-28 16:27] LiranBri commented on #691
@esakal after the package upgrade it doesnt happen anymore.
however, for visa-cal this does happen: https://github.com/eshaham/israeli-bank-scrapers/issues/696

[2022-06-28 16:29] LiranBri commented on #696
reproduced to me

[2022-06-29 11:34] gczobel opened #702 "Bank Yahav - login fails"
Due to changes in Yahav login the scrapper fails to login.

[2022-06-29 22:09] vitalybe commented on #686
Is the latest commit should just work on M1?

When I executed `yarn` I am getting:

[code]

[2022-07-01 12:22] ifeins commented on #696
I'm getting the following error:

[code]

[2022-07-01 21:18] kazazor commented on #696
Same here, exactly like mentioned by @ifeins

[2022-07-01 21:27] kazazor commented on #696
Seems to me that the issue is just a change in the login iframe URL.
It used to be something with `connect.cal-online` and now it's `calconnect`.

So in this line: https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/scrapers/visa-cal.ts#L45

Just change from:
[code]

to:
[code]

That solved that for me, can someone else verify it? If it works for everyone else I can open a PR for that

[2022-07-02 14:18] #702 closed

[2022-07-02 14:20] #696 closed

[2022-07-02 14:23] esakal commented on #701
Hello,
Sorry I don't have an account there so I cannot verify the validity of the scraper. But you can run the diagnostics logs it might help figuring out where is the issue.

You should run the node script with the env DEBUG=israeli-bank-scrapers:*

I hope it might help identify the root cause

[2022-07-02 14:24] esakal commented on #691
@LiranBri great. As we handled #696 I believe we can close this one as well. If needed please create a new issue

[2022-07-02 14:25] esakal commented on #650
PR stands for "pull request" with the changes needed so we will be able to merge it into the deployed version

[2022-07-04 05:37] #691 closed

[2022-07-04 05:37] razaz commented on #691
Resolved with 1s sleep before attempting to login

[2022-07-04 17:39] agammyshhay commented on #691
Hi,
i'm using the latest release, and this error still exist - is it happening to other users as well?

[2022-07-07 05:59] doron-cohen opened #706 "Other financial institutes scrapers"
Hi,
I just found out about this project, so first of all thank you for maintaining it.
I would like to ask if you know of any scrapers for other financial institutes that offer services like Pensia, Keren Hishtalmut, stock exchange investment etc. If not, do you consider supporting these?

[2022-07-07 16:13] doron-cohen commented on #706
About collaborating, I'll be glad to do so! I  can start investing time in this only after the summer vacation but let's talk.

[2022-07-07 16:37] gilgardosh commented on #706
you're being polite here.
amazing that you are into it and willing to get your hands dirty 😄 ping me whenever you want to dive in

[2022-07-08 17:33] kazazor opened #707 "Discussion: Add future debit charges for the bank accounts"
# The goal

Be able to see my current balances (already possible) and the future charges I should expect from my credit cards according to their next charging date.
That will help not just reading the history of the charges, but also getting the current status in an easy-to-use way.

# What exists on the bank website?

In the credit card section of each bank website, you have all of your credit ca

[2022-07-09 05:47] LiranBri commented on #707
I think it makes much sense. I like it.

BTW, maybe we should make the interface fit also future scheduled charges defined in the bank website itself (הוראת קבע). Even if not implemented currently.

 I think "Debit" is the official terminology, and not "Charge". Correct me if I'm wrong

[2022-07-09 06:32] kazazor commented on #707
I like the idea of preparing the interface also for future scheduled charges.
I'll take a look at it and comment back how it can look.

Regarding the name, debit got me thinking about debit cards, but I don't mind - can be called futureDebits instead :)

[2022-07-09 12:30] erikash commented on #707
Hi guys,
Thanks for mentioning me @kazazor
TBH I have no need for this feature as I use YNAB and there is no way in the interface to reflect this information but "scheduled transactions" - and as we're talking about future transfers between a bank account and a credit card which amount will be increasing/decreasing per charge it will get messy as YNAB assumes transactions (including transfers betw

[2022-07-09 12:41] erikash commented on #706
Hi guys,
I'm one of the founders of `www.mukdam.co.il`.
We're a digital insurance agency with aspirations for becoming a digital family office in the future.

I started the company for the same frustrations you're experiencing with data and tracking - I also use a google sheet - a pretty good one that sends monthly reports via email and tracks your net worth over time...

What can we offer right n

[2022-07-09 18:47] LiranBri commented on #707
@erikash I understand your concerns, and I do agree that it would be ideal to have this implemented from the credit card isuers crawler (like the PR I contributed).

However, to be honest I'm not sure its practical to expect this to be implemented on every credit card scrapper. going with @kazazor approach is much more reasonable as its a very fast and robust win that would give out-of-the-box sup

[2022-07-10 06:54] erikash commented on #707
Thanks for the clarification @LiranBri 🙏
Sure, fast and practical wins every time!
Good luck and great initiative @kazazor 💪

[2022-07-10 09:29] Urigo commented on #706
@erikash is any of the work that you are doing open source?

[2022-07-10 09:47] erikash commented on #706
Hi @Urigo ,
Not yet but would be happy to open source parts of it!

[2022-07-10 09:54] Urigo commented on #706
what parts?  we would love to help with that!

[2022-07-10 11:01] erikash commented on #706
Let's talk :)
I've send you an email

[2022-07-10 14:33] LiranBri commented on #696
still reproduced to me :|

[2022-07-10 16:01] doron-cohen commented on #706
@erikash count me in. Maybe we can talk over the project's Discord? Or somewhere else we can collaborate?

[2022-07-10 20:40] kazazor commented on #707
* This is mandatory by law in Israel for all banks as part of the Open banking laws, so yes - all banks support it - so you can have it in Leumi as well :) (And I actually see this for Leumi: https://www.leumi.co.il/Articles/38758/)
* Here is also an article about it from January 2020: https://www.ynet.co.il/articles/0,7340,L-5668325,00.html
* You see all your external cards with no exception
* Fo

[2022-07-10 20:56] kazazor commented on #707
By the way, the only "problem" I have with the current implementation done by @LiranBri , is the fact it's "outside" of the standard account object of the result.
Meaning I cannot know which credit card holds the future debit, it's by bank account and not by credit card.

We can also think about changing that instead of relying on the bank's integration (even if it's mandated by law).
At least for

[2022-07-11 04:44] erikash commented on #706
Sounds great @doron-cohen !
Didn't find the project's discord server.. 😬
My email is: erik@mukdam.co.il
Shoot me an email and we'll start the conversation 🙏

[2022-07-11 04:53] erikash commented on #707
BTW:It's been a while since I've looked at the code...I've looked again at the Cal scraper and the transaction API has `processedDate` (which should be called settlementDate probably), that is exactly what you're looking for @kazazor ...
To get he `futureDebits` all you need is to aggregate the transactions by these field and summarize the groups.

Does this make sense?
@esakal am I missing anythi

[2022-07-11 13:01] kazazor commented on #707
Thanks @erikash ! I think there are a few challenges here:

1. The naming is confusing of course :) I'll go over it soon and verify this is actually what this field represents.
2. The charges on the charging date might be from more than 3 months before the date. There are cards that give you this is benefit. So for example, to know the charges on my card for Jul 15th, I'll have to go over transact

[2022-07-11 13:51] kazazor commented on #707
To me single source of truth is the fact the vendor holds the data. If it's the transactions from the vendor or a number the vendor aggregated for me - to me it's the same as it drives from the single source of truth from the vendor.
So I personally treat them the same and don't see a problem there.

I guess the last 3 months can be good enough, let me give it a try and see. Still need to verify t

[2022-07-11 15:13] esakal commented on #707
Hi :)
@erikash `processedDate` should do the trick and I agree the name is not that ideal.

@kazazor, I wasn't aware that we reached to that milestone in the open banking. Since it is part of the regulation thus should apply to all vendors I believe we can continue with your suggestion.

As users of this library must issue manually a request to include their cards, I believe we should provide  ins

[2022-07-11 15:16] LiranBri commented on #707
Go ahead 💪

[2022-07-11 15:41] erikash commented on #707
Go ahead!

On Mon, Jul 11, 2022 at 6:17 PM Liran Brimer ***@***.***>
wrote:

[2022-07-12 05:08] eshaham commented on #707
Love the discussion here and where this is going 💪

[2022-07-12 16:27] erikash commented on #706
@doron-cohen still waiting for that email 😅

[2022-07-13 07:37] doron-cohen commented on #706
@erikash sending one today

[2022-08-08 06:22] mrroitman opened #708 "Bank of Israel"

[2022-08-25 03:41] esakal commented on #708
Hi @mrroitman, can you elaborate about your question? feel free to re-open with description

[2022-08-25 03:41] #708 closed

[2022-08-25 04:21] esakal commented on #706
@doron-cohen feel free to reopen with comment if you would like to continue this discussion

[2022-08-25 04:21] #706 closed

[2022-08-25 04:21] esakal commented on #701
@YehonatanGitHub please re-open the ticket if it is still relevant

[2022-08-25 04:21] #701 closed

[2022-08-25 04:22] esakal commented on #693
@davidd22 please re-open the issue with update if it is still relevant.

[2022-08-25 04:22] #693 closed

[2022-08-25 04:23] esakal commented on #650
@Mitrij please reopen the issue with update once relevant. Thanks

[2022-08-25 04:23] #650 closed

[2022-08-29 19:07] LiranBri opened #714 "American Express scraper throws SyntaxError: Unexpected end of JSON input"
Hi,
I see that the American Express scraper is throwing
[code]

does it happen to more people?

[2022-08-30 21:27] esakal commented on #714
It doesn't happen to me. Did you try re-installing the library? did you update recently to latest?

[2022-09-13 06:41] agammyshhay opened #719 "ISA CAL - "Navigation timeout of 30000 ms exceeded""
hi,

the issue occur every day in the last week.

thanks

[2022-09-16 16:05] erikash opened #721 "Future (Abroad) transactions to be processed in future months are missing in visaCal"
Hi,
So this is not a new issue (for me) but it annoyed me enough to raise it here and maybe to finally solve it :)

In visa cal when you "show transactions by process date" you can't choose a future month later than the next immediate month (i.e the latest is October when i'm viewing my transactions in Sep)
<img width="678" alt="image" src="https://user-images.githubusercontent.com/140349/19068015

[2022-09-18 06:15] asamarom commented on #719
same for me.

[2022-09-20 10:22] shahar4499 opened #722 "Import from Leumi - Navigation timeout of 30000 ms exceeded"
Just tested the fix v2.1.1, and the login still fails for some reason. Now the error is more ambiguous: `Navigation timeout of 30000 ms exceeded`. So it's not clear what it's waiting for.
When looking at the browser it doesn't fill in the user+pass and just stays stuck on the login page like this:
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/9296022/191232184-31fdb6

[2022-09-20 11:52] MusiCode1 opened #723 "Error connecting to Bank Hapoalim"
Hello.
Today I tried this project for the first time, with my bank, Bank Hapoalim.
But there is an error...
The error is `UNKNOWN_ERROR`.
From digging in the debugger, it seems that the URL address of the Bank Hapoalim home page is not updated.

My URL is
https://login.bankhapoalim.co.il/ng-portals/rb/he/current-account/transactions
And this address does not appear in this list:

[code]

Translate

[2022-09-20 11:53] MusiCode1 commented on #723
Now I think that it is because I configured that after logging in I will be shown a page of recent actions, and not the home page.
What now, without changing this definition?

[2022-09-21 06:10] baruchiro commented on #722
Hi @shahar4499, do you want to try to debug it? Do you have the knowledge of that?

[2022-09-21 15:16] shahar4499 commented on #722
OK, so apparently the went back to the previous implementation of their login page 🤦‍♂️
So, this commit: https://github.com/eshaham/israeli-bank-scrapers/commit/962e0b40d545b6f48035b5e1826826dc6e91647a should partially be reverted. I debugged the scraper after reverting the file and it succeeded with the login.
BUT, in `waitForPostLogin` it still seems to be stuck, with or without this latest comm

[2022-09-26 16:31] esakal commented on #723
Hello,
I don't have account in bank hapoalim so I cannot assist extending the scraper. As I see, you can:
1. change the definition back.
2. use the test pages to support also the recent actions page and create a PR.
3. wait for someone here that might have Hapoalim to reply and assist.

[2022-09-26 18:46] esakal commented on #721
Hi @erikash sorry that it took me that long to reply.

I'm familiar with the missing installment transactions when using process dates. I actually tried to implement the scraper originally with the process date and switched eventually to process date.

We have in options the property `futureMonthsToScrape` that is used already in max, amex and isracard. It sounds like you can extend the visa scrap

[2022-09-29 13:31] erikash commented on #721
Thanks Eran,
Now It's my turn to be a bit busy...

Hope to have some time to work on this next week :)

Happy holidays!
Erik.

On Mon, Sep 26, 2022 at 9:46 PM Eran Sakal ***@***.***> wrote:

[2022-10-01 14:21] #663 closed

[2022-10-04 10:44] NoamGit commented on #555
I have the same problem. Solved by adding
[code]
In the scraper file. I can pull a PR if needed

[2022-10-07 21:04] esakal commented on #722
@shahar4499 please check again, for me it works with the latest scrapers

[2022-10-11 08:08] brafdlog opened #729 "Failures logging into discount. Login url changed"
In the last few days, I cannot log in to discount.
It seems that the login URL changed from:
https://start.telebank.co.il/apollo/core/templates/lobby/masterPage.html#/LOGIN_PAGE

to:
https://start.telebank.co.il/login/#/LOGIN_PAGE

Creating a PR to fix

[2022-10-11 08:09] LiranBri commented on #707
I think it makes much sense. I like it.

BTW, maybe we should make the interface fit also future scheduled charges
defined in the bank website itself (הוראת קבע). Even if not implemented
currently.

 I think "Debit" is the official terminology, and not "Charge". Correct me
if I'm wrong.

On Fri, 8 Jul 2022, 20:33 Or Kazaz, ***@***.***> wrote:

[2022-10-11 13:07] esakal commented on #722
@shanigad I'm closing this one as it was not answered in a while. If still relevant please create a new issue

[2022-10-11 13:07] #722 closed

[2022-10-11 13:08] esakal commented on #719
Hi, as this is an old issue, is it still happening to you? if so are you using the latest version? @agammyshhay  @asamarom ?

[2022-10-12 21:19] erikash commented on #721
Didn't have much time.. but I really liked your two step approach without deduplication (except for the combined installment transaction).

Hope to get to this next Saturday 🙏

[2022-10-12 21:23] erikash commented on #719
You should be able to extend it if you have poor wifi now with the `defaultTimeout` option.

[2022-10-16 19:56] eliranma opened #731 "Do you have Expo react native support?"
I tried to import your package in my app but I got
'Unable to resolve "israeli-bank-scrapers" from "functions.js" '
I just Copy-Paste from the example...
`import { CompanyTypes, createScraper } from 'israeli-bank-scrapers';`

[2022-10-18 05:26] agammyshhay commented on #719
hi,
yeah it start hapenning again in the last couple of weeks - i think its since  v2.1.0 -  im using CASPION, so i get everythng in delay.
its occur also for FIBI

[2022-10-20 21:06] esakal commented on #731
Hi, I never tried the library with React Native so I don't know how to answer your question... sorry :/

[2022-10-26 17:27] skoant opened #732 "Hapoalim scraper gets only the first 150 transactions"

[2022-10-30 10:26] mnavon opened #734 "Harel and 2FA"
Hi
I would like to write a new scraper for Harel.
But Harel login works with 2FA and sends code via SMS.
Is there a way to overcome this issue?

[2022-10-30 10:29] esakal commented on #734
Hi @mnavon this is a great question.
I know there are some approaches to this issue, like creating a pub/sub based async communication to ask the application/service who is using our library to provide such an information.

It will change the methodology we had so far by not blocking the scrapping process, but it might be inevitable.

@eshaham  @erikash  @itairaz1  wdyt?

[2022-10-30 10:40] esakal commented on #732
Hi @skoant  checking the code base I see it has a magic number 150 which explain why you get only up to 150.

https://github.com/eshaham/israeli-bank-scrapers/blob/81aed787a263a658180a819aa7b2354a1b6203e4/src/scrapers/hapoalim.ts#L141

as it is there since long time ago, and as I don't have hapoalim account, I don't know it is like that because of a concrete reason. Feel free to adjust the number

[2022-10-31 05:55] erikash commented on #734
This could be an opportunity to discuss the overall design - maybe we should create a new AsyncBaseScraper and let the consuming code call the login and scrape on it's own (also to fill in the OTP)

@mnavon @esakal @itairaz1  wanna jump on a quick zoom call / huddle to discuss?

[2022-11-01 18:33] itairaz1 commented on #734
Hi,
IMO, since this is lib that uses by other apps, it need to be opened to any architecture that will be implemented by the apps the uses it.
So in this case, we can do simple solution like providing a callback function, this will provide other apps to implement any approach they choose.
The callback function can be provided in the options/configs section, and if 2FA is required and no callback i

[2022-11-02 07:09] esakal commented on #734
I believe a callback is a good options.
1. a scraper can support 2FA.
2. if reached a 2FA flow and options has a callback, **something like 'on2FAScrapping'**, it will be called in async way.
3. if the callback is not provided, **a new type of error (something like `ScraperErrorTypes.2FASupportRequested** will be returned to the implementor indicated that 2fa callback is required to complete the p

[2022-11-03 19:21] itairaz1 commented on #734
@esakal Yeah... it make sense

[2022-11-03 21:48] esakal commented on #734
@mnavon feel free to introduce the 2FA concept together with the Harel scraper. You can follow the requirements in https://github.com/eshaham/israeli-bank-scrapers/issues/734#issuecomment-1299677087

[2022-11-09 19:12] skoant commented on #732
Hi @esakal,
Thanks for looking into it.
Please see my [PR](https://github.com/eshaham/israeli-bank-scrapers/pull/738) fixing this issue
BR

[2022-11-14 17:27] itairaz1 opened #739 "[leumi] Slow edge device fail scrap"
Running latest version (3.1.2) with following config:
[code]
I'm keep getting the following error only on slow edge device (Raspberry PI) while scraping leumi
`failed with type GENERIC: waiting for XPath ``//div[contains(string(),"אחד או יותר מפרטי ההזדהות שמסרת שגויים. ניתן לנסות שוב")]`` failed: timeout 30000ms exceed`
Locally (in high end device) I don't get this error, with the same credential

[2022-11-19 19:14] itairaz1 opened #740 "[Discussion] Implement extra scrapping for category"
Hi,
I've started implementing scrapping categories (Maybe more information) per transaction (currently for isracard)
This requires perform extra click for every transaction
It will work only when specific configuration will turned on.
Any insides? anyone tried doing it already?

@eshaham @esakal @erikash

[2022-11-26 16:26] itairaz1 commented on #740
@eshaham @esakal @erikash I made the changes in [PR](https://github.com/eshaham/israeli-bank-scrapers/pull/741), can you please review it? If everything ok and agreed, I can proceed with visa cal or/and add more data to the result set.