[2017-07-30 07:17] ShayDavidson opened #1 "Add tests framework (JEST)"

[2017-07-30 07:18] ShayDavidson opened #2 "Add .node-version / .nvm"

[2017-07-31 09:03] #2 closed

[2017-08-01 17:27] eshaham opened #8 "Support providing a start date for the transactions"
There should be a way for the user to provide a start date in the options.

[2017-08-01 17:31] eshaham opened #9 "Support providing a different timeout for all timed operations"
There should be a way for the user to provide a timeout parameter in the options.
The value of the timeout, in milli seconds, should be used for any operation which should be limited by time, like navigation.

[2017-08-01 20:51] eshaham opened #12 "Support providing a different log level"
The user should be able to pass a different log level in the options object.
This log level should be respected throughout notifications in the scrapers, and also passed along to the phantom object.

[2017-08-06 16:43] eshaham opened #15 "Support multiple accounts"
In case a scraper can return more than one account from the same bank / credit card web sites, it should be able to return them.

[2017-08-06 16:45] eshaham commented on #1
@ShayDavidson I think that writing tests for scrapers is not cost effective.
Closing for now.

[2017-08-06 16:45] #1 closed

[2017-08-06 16:47] eshaham opened #16 "Support providing a time period for fetching transactions"
The user should be able to provide a start date for for fetching the transactions. Transactions with an earlier date should not be returned.

[2017-08-06 16:49] eshaham commented on #16
Oops duplicate of #8, closing

[2017-08-06 16:49] #16 closed

[2017-08-06 21:13] #8 closed

[2017-08-06 21:17] eshaham opened #18 "Error when providing a start date after previous statement in Leumi Card"
When the user provides a start date which occurs after the previous statement in Leumi card, the scraper crashes.
We need to lookup the date of the previous statement and in case it is older than the requested start date, we should not try to fetch `NisTransactions` and `ForeignTransactions`, but rather only the future transactions.

[2017-08-08 20:26] #12 closed

[2017-08-15 06:40] eshaham opened #23 "NPM package isn't transpiled to ES5"
To support usage in an ES5 environment the package needs to be transpiled before it is published to NPM.

https://stackoverflow.com/questions/29738381/how-to-publish-a-module-written-in-es6-to-npm

[2017-08-22 06:02] #23 closed

[2017-11-03 10:00] eshaham opened #31 "Add an option to ignore transactions with 0 amount"
In some of the banks they show transactions with 0 amount - these should not be returned if this option is specified.

[2017-12-18 06:25] eshaham opened #33 "Isracard amount not taken from the actual charged amount"
When the actual charged amount is different from the transaction amount, it should be reflected in the transaction amount.

[2017-12-19 07:40] #33 closed

[2017-12-19 07:44] eshaham opened #35 "Leumi card scraper returns charged amount for original amount"
It currently uses charged amount value for both charged amount and original amount fields:

[code]

[2017-12-19 08:40] eshaham opened #36 "Add the option of returning installment payments even if charged before start date"
Currently the scrapers return a transaction only if it's date is after the specified start date.
This might require a change in the way the leumi card scraper works, since it will not return each installments separately.

[2017-12-19 08:53] #35 closed

[2017-12-26 07:50] #18 closed

[2017-12-26 22:03] #36 closed

[2017-12-28 16:18] #15 closed

[2018-01-29 17:59] asfktz opened #57 "Status property"
Sometimes, recent transactions may change.

For example, in Bank Hapoalim, transactions above the fold are still `"pending"`:
![screen shot 2018-01-25 at 9 30 46 pm](https://user-images.githubusercontent.com/199747/35408496-ffbbd098-0217-11e8-9a99-217d635caf47.jpg)

Having a `status` field will be useful to differentiate between `pending` and `posted` transactions

Example for `Bank Hapoalim`:

[c

[2018-02-03 15:47] asfktz opened #62 "LeumiCard scraper fails on v0.5.2"
The LeumiCard scarper fails with version `0.5.2` of `israeli-bank-scrapers`

It throws `TypeError: Cannot read property 'timeout' of undefined` when trying to log in.

I dag into the code and found that the error is originally thrown by `waitUntil`, but swallowed by its `catch` block on line 25:
https://github.com/eshaham/israeli-bank-scrapers/blob/cd8ba284dc0de053278b5d032591d1f8487af584/src/help

[2018-02-03 19:38] asfktz opened #64 "Consider returning a serialized response"
Hi @eshaham!

When working with israeli-bank-scraper, I prefer to save the results to a JSON file and work with it instead, to avoid being risked in getting my IP blocked the Bank.

Since the scraper returns a Date object in the results, It defers from the serialized cached response and requires an extra step to convert the dates back when deserializing.

I would like to suggest that instead of Da

[2018-02-04 08:24] eshaham commented on #64
@asfktz sounds like a good idea, PR welcome!

[2018-02-04 08:27] eshaham commented on #62
@asfktz thanks for reporting, I'll take a look

[2018-02-04 09:33] #62 closed

[2018-02-08 18:59] ifeins opened #67 "Visa Cal scraper returning error"
I'm using the Israeli ynab updater with the latest version of bank scrapers (0.5.3) and I'm getting the following error when trying to use the Visa Cal scraper:

[code]

[2018-02-09 13:52] ifeins commented on #67
Found the issue, will open a PR soon.

[2018-02-10 15:19] #67 closed

[2018-02-10 20:43] eshaham commented on #57
@asfktz I've created [a new branch](https://github.com/eshaham/israeli-bank-scrapers/tree/txn_status) for this feature.
Feel free to create a PR against this branch for Bank Hapoalim.
I will try to push code for Discount bank within the next week or so.
I don't think this concept exists in credit cards, does it?

[2018-02-11 21:03] asfktz commented on #57
Nice! I will

Hmm.. I don't think so too

[2018-02-14 10:52] tounano opened #74 "Mizrahi Tefahot scraping brainstorming"
Hi,

I've tried to reverse engineer scraping of Mizrahi.

They work with the stupid dot net session thing.

Couldn't find a way to do proper scraping. Anyone here tried to scrape them?

[2018-02-15 06:57] #64 closed

[2018-02-15 08:18] eshaham commented on #74
@tounano I don't have an account in Mizrahi Tefahot, so I didn't tried scraping them.
But I'm not sure why you can't simply go the headless browser route. Under the browser, you don't need to take care of the session, it is done for you by the browser.
Some of the scrapers, like the one for Discount bank, even get access to simple REST calls, after logging in within the browser.

[2018-02-15 08:45] tounano commented on #74
@eshaham Nice. That was my second option.

They don't have REST API.

I'll try to imitate what you did with discount.

[2018-02-15 09:03] tounano opened #75 "Credit funding on credit cards"
Hi,

I'm planning to use this library for accounting automation.

In order to do accounting automation, you need to include the transactions that come from your bank account.

For most of you it's on a fixed date. For businesses it might be several times a months, to release some credit in the card.

I'm planning to add this feature to Amex/Mastercard.

Since it's not my project, I wanna know what

[2018-02-16 08:03] chilikla opened #76 "Account summary alongside the transactions data"
My use case, for now, of using this library is getting all of my finance information in one place. For this matter, transactions data is less important for me, but accounts summaries are more useful. e.g. getting the current balance of my bank account(s), or knowing the my expected credit card(s) charge for this month.
Is this something this project willing to include?
I already wrote a code for m

[2018-02-16 20:56] eshaham commented on #75
@tounano how does it look on the statement in the credit card website?
does it appear as an additional transaction with a different type?
any type you can attach a relevant screenshot so it is easier to understand what you mean?

[2018-02-16 21:08] eshaham commented on #76
Hey @chilikla 😄
I think that adding account summaries would be a great add-on to existing data we scrape.
can you suggest the signature changes for the existing scrape result?
I wonder if we could still maintain the same signature for both banks and credit cards when it comes to summaries. Something tells me it's going to be difficult.
We would need to add these to all scrapers of course, so it wi

[2018-02-17 18:07] chilikla commented on #76
Hi @eshaham :)
I don't really understand what do you mean by maintaining same signature. I found out you used signatures for marking accounts, but I don't understand the connection of this to the issue.
I can only tell about the accounts I have access to. Every transaction in Bank Hapoalim is returning the account balance after the transaction has been made, so it's quite easy to know the current

[2018-02-17 19:32] eshaham commented on #76
@chilikla sorry for not making it clearer.
what I mean by defining same signature/structure for all scrapers results, is thinking about the model we will be returning for the new account summary data. something along these lines:
[code]
Which other fields other than balance do you think provide value for account summary?

As for supporting multiple accounts in Bank Hapoalim, PR welcome 😄
None of t

[2018-02-18 21:14] chilikla commented on #76
Every financial account has some more information attached to the account itself, which can be useful, but maybe difficult to obtain.
Bank accounts, beside the balance property, may return the credit limit of the account, and maybe the interest rates for overdraft.
Credit cards, beside the next month charge (which we can call balance, I think), may return the credit limit, and how much it utilized

[2018-02-18 21:25] chilikla opened #79 "Multiple accounts for Bank Hapoalim scarper"
Hi,

I'm looking into implementing multiple acounts for Bank Hapoalim scarper, but I couldn't get data for accounts other than the primary one.
Currently the scarper uses this url to get transactions data:
`${apiSiteUrl}/current-account/transactions?accountId=${accountNumber}&numItemsPerPage=150&retrievalEndDate=${endDateStr}&retrievalStartDate=${startDateStr}&sortCode=1`
And I couldn't succeeded

[2018-02-19 07:09] eshaham commented on #76
@chilikla regarding account summary, sounds like a good start.
regarding Leumi Card, 👍

I've created a new `account_summary` branch that we can use to iterate until all scrapers support account summary.
I think we should agree on a structure / signature for the account summary object before starting to push code into that branch.

[2018-02-19 09:35] chilikla commented on #76
@eshaham, what you think of:
[code]
for now?
The problem is with credit cards with "credit" accumulated through months. In this case, the credit use is not just the {credit_limit}-{balance}, and we can have {credit_use} by itself. Leumi Card provides this sum, but I don't know about other credit cards websites/apis. In bank accounts, anyway, the above equation is right (it's more {credit_limit}+{b

[2018-02-20 06:27] eshaham commented on #76
@chilikla
The direction sounds good.
I think all the numbers should be of type `double` and not `int`.
Also, to remain consistent, prop names should be lower camel case.

I believe that with credit cards, the balance should not only include the next upcoming payment, but any future payments. That reflects the true balance of the account, and will take care of the calculation issue you mentioned.

[2018-02-20 07:00] eshaham opened #80 "Add a charged currency property to transactions"
In some cases when users have a foreign currency account in their banks, transactions in that foreign currency get charged directly against the foreign currency bank account, and conversion to `ILS` is not needed.

Currently this module always assumes `chargedAmount` is returned in `ILS`.
We should introduce a new `chargedCurrency` property to transactions that will hold the actual currency used.

[2018-02-20 10:11] tounano commented on #31
@eshaham Why not?

From book keeping / business stand point these have a meaning. I understand why for personal use, these are irrelevant. But for accounting automation these transactions are important.

[2018-02-20 10:14] eshaham commented on #31
@tounano absolutely agree, what I had in mind is to make this optional.
I've updated the issue title and description accordingly.

[2018-02-20 10:15] tounano commented on #75
@eshaham Here's how it looks like: https://d.pr/i/Csht88

It's the black ones that say: Total for date.

Now with Amex/Mastercard it would say total for date for future dates as well, but future dates might be ignored.

In the REST calls these transactions don't have "misparRutz" or something like that.

Basically, from accounting stand point, when you add all the statement lines one to another, a

[2018-02-20 11:35] chilikla commented on #76
@eshaham
The two suggestions are great, and I agreed this sums up the bank's `summary`.

As for `balance` for credit cards, your definition to it is indeed reflects the true balance of the account, but by that the balance property is not so much informative, since the `creditUsage` (I'm using the term `creditUtilization`, since I think is more accurate) reflecting the balance in a more accurate te

[2018-02-21 19:11] asfktz commented on #80
I would like to handle that for Isracard and Bank Hapoalim.

One challenge I have it that I'm not sure I've seen a case where a transaction in foreign currency is converted to ILS.

In my Isracard account, I see that some of my transactions are converted to ILS, but the "Original Currency" column is also ILS:

(Isracard)
![image](https://user-images.githubusercontent.com/199747/36499539-3dcf9ae4-1

[2018-02-23 10:09] chilikla commented on #79
OK, it turned out, I checked the above URL with account without transactions (not a checking account (עובר ושב)), and that's why the URL didn't work. It's supposed to work with every checking account.

As for the credit data, I fount this:
`${apiSiteUrl}/current-account/composite/balanceAndCreditLimit?accountId=${accountNumber}&view=details`
with the `currentBalance`, `currentAccountLimitsAmount`

[2018-02-23 10:11] #79 closed

[2018-02-24 23:56] chilikla commented on #76
Hi @eshaham,
I basically finished working on accounts summaries for the Leumi Card and Hapoalim scarpers, but I don't want to create a PR until, as you said, we will agree on the summary structure.
What do you think of the proposal I made in the last comment?

[2018-02-25 20:36] eshaham commented on #76
@chilikla sorry, it has been a hectic week, and this week too (out on a business trip to the west coast).
`creditUtilization` indeed sounds much better than `creditUsage`, I now recollect using this name at a previous company.
Could you explain which value should `creditUtilization` field hold? Is it next month's charge? Or any pending unpaid balance?

I also agree about needing to create differen

[2018-02-25 20:40] eshaham commented on #75
@tounano this is a tough one, I'm not sure how to approach it.
I'm pretty sure we shouldn't include transactions coming from the bank account, but rather manage the balance / credit utilization.
see the discussion here: https://github.com/eshaham/israeli-bank-scrapers/issues/76

do you think the account summary could somehow answer your needs?

[2018-02-25 20:41] eshaham commented on #74
@tounano let me know if we still need this issue, or we can close it.

[2018-02-26 08:27] chilikla commented on #76
@eshaham
No need to apologize, I just thought you missed it. With most of your comments I agree, just few comments:

`creditUtilization`, as you guessed, indeed holds any pending unpaid balance. By including it, we will have information about the next payments as a whole, and not just the upcoming single month charge (which represented by `upcomingCardLocalCharge` and `upcomingCardForeginCharge`).

[2018-03-02 00:27] esakal opened #83 "Add an extra description property (Memo) for transactions"
@eshaham you created an essential project that is missing in the Israeli financial atmosphere! I really liked the way you scaffold the project and provided an infrastructure that is easy to follow and extend.

I'm working on a crawler for the Leumi Bank where they provide an extra field relevant to transfers into your account. This field describe the actual payee and it is an essential field for m

[2018-03-03 00:19] eshaham commented on #83
@esakal yes, it certainly makes sense, and `memo` as the field name sounds right.
Having said that, I would love to apply it as once for all banks, so it will be a joint effort.

If I understand correctly, you're working on the Leumi Bank scraper to be added here? If so, I would suggest separating the addition of the new field `memo` from your work on this scraper.

Btw, for Leumi Bank, @Urigo has

[2018-03-04 22:28] esakal commented on #83
@eshaham great lets do it. I commented 3 places in the PR for bank leumi #86  so you will be able to easily plug it back.

@ifeins, feel free to check my work in #86 . I added information about the scraper in the PR description.

@Urigo did great work with his scrapers. Anyone who contribute to the open banking concept in Israel is a valued man. I chose a different strategy for the bank Leumi scra

[2018-03-06 18:38] arikfr commented on #74
@tounano another option is to see what their mobile app does. It might be using a saner API. Just configure some proxy on your phone and see what happens.

[2018-03-15 07:33] eshaham commented on #76
Ok, so this is different than what I had in mind. I don't find it as useful as the other options, but I definitely see value in this field. Perhaps we name it something like `cardName` or `cardTitle`?

There are definitely other options - usually in credit cards issued by the bank, which allows you to setup a foreign checking account, and have all foreign transactions in that currency taken out of

[2018-03-18 16:11] chilikla commented on #76
@eshaham

`cardName` sounds to me indeed accurate.

Regarding `upcomingCardForeginCharge` , in my Leumi Card balance page, the `upcomingCardForeginCharge` is empty, since all of my foreign currencies purchases are converted to ILS. In a case of existing `upcomingCardForeginCharge` and `upcomingCardForeginCurrency`, I can isolate both of them, just don't know what to do the unknown currency symbol.

[2018-03-19 20:08] eshaham commented on #76
@chilikla what I meant above is, unless the charge is in ILS, I don't think we can associate one currency for the entire charge, only for specific transactions. Because even if my card is setup to charge all USD transactions from my USD account, it could be that I'm also spending EUR, and these transactions will actually get converted to ILS.

What I suggest is, let's not tackle this at the moment

[2018-03-19 21:28] chilikla commented on #76
@eshaham I'm not exactly sure how it supposed to work, but in Leumi Card, for instance, there is separated entry for foreign currencies charge, like here:

![leumi card](https://user-images.githubusercontent.com/13035026/37622640-e1103de6-2bca-11e8-8dc3-cac1e4ebcfde.PNG)

I don't quite understand why my `upcomingCardForeignCharge` is also in ILS, but since all my abroad purchases are converted to

[2018-03-23 16:36] ifeins opened #94 "Leumi bank scraper times out"
I'm using the latest version of `israeli-ynab-updater` which uses `israeli-bank-scrapers` version `0.5.5`.

When I'm trying to scrape Leumi I get the following output:

[code]

[2018-03-23 16:38] ifeins commented on #94
cc: @esakal

[2018-03-23 16:58] ifeins commented on #94
I tried logging in from web and then after login I got a message that my password is about to expire and I need to change it - this is why the scraper failed.

So there isn't any issue, although it would be nice to have the scraper identify this scenario and write a message to the console about the need to change the password :)

[2018-03-23 16:58] #94 closed

[2018-03-24 18:45] esakal commented on #94
Hi @ifeins,
You are absolutely right, the scraper should identify such a scenario, I even added a placeholder as a reminder about it [here](https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/scrapers/leumi.js#L150) hoping to complete it once my password will expire. I'm probably too late and you already changed your password so you cannot extract the selectors needed to identify such

[2018-03-25 11:54] tamirtw commented on #74
Just tried iPhone + Charles (With SSL cert installed).
Seems like they have certificate pinning, thus making difficult to intercept the calls, maybe
if you have an older version of the app.
Like @eshaham said, headless browser (like the discount scraper) seems like the way to go here.
Btw, same applies to Fibi (Massad,First international bank,U-Bank use the same infra). They sign request bodies wh

[2018-03-25 18:55] i0natan opened #95 "Account balance"
Went through the docs and inspected the returned objects, couldn't find a way to get the account balance. Is this supported?

[2018-03-27 06:33] eshaham commented on #95
@i0natan not supported yet.
Should be a part of #76, so marking as duplicate.

[2018-03-27 06:33] #95 closed

[2018-03-27 06:37] eshaham commented on #76
@chilikla yes, let's try to simplify to these fields for now and see how it goes.
So, are we ready to get started? 😄

[2018-03-27 06:52] chilikla commented on #76
Yeah, @eshaham

So, this is the final structure:

Banks:
[code]
Credit cards:
[code]
Agreed?

[2018-03-27 06:58] eshaham commented on #76
@chilikla yes, let's do this.
As I've written above, I've created a new `account_summary` branch that we can use to iterate until all scrapers support account summary.

[2018-03-27 13:03] esakal commented on #83
@eshaham can you create a new branch for this feature?
Thanks!

[2018-03-28 04:32] eshaham commented on #83
@esakal done - called `add_memo_field`

[2018-03-31 08:44] eshaham opened #96 "Handle paging in LeumiCard scraper"
When there are many transactions in the same month, there may be paging, but they are not handled.

![image](https://user-images.githubusercontent.com/7040645/38161506-cf2ba1b2-34d8-11e8-9df1-d705eea49096.png)

[2018-04-01 12:33] #96 closed

[2018-04-02 04:45] eshaham commented on #83
@esakal pushed code to add `memo` field to Leumi Card and Isracard.
I also uncommented your code in Leumi scraper.
Discount doesn't seem to have any relevant field.
In Visa Cal there seem to be 2 relevant fields, but I don't have transactions with data in these fields, so couldn't figure out what to do. Maybe @nirgin could help?

We're still missing Bank Hapoalim - @sebikaplun @jonathanrauch, need

[2018-04-05 12:28] esakal opened #109 "false filtering when setting combineInstallments to false"
Hi,
https://github.com/eshaham/israeli-bank-scrapers/blob/5f6244c34e72acf5f8d13995d74d4f5bd16456ac/src/helpers/transactions.js#L38-L42

when `combineInstallments === false` the function `filterOldTransactions` filters the transactions using the `processedDate` property.

This is function fails to exclude transactions that were processed in a relevant month but were created in a previous month. Is

[2018-04-08 06:35] #57 closed

[2018-04-08 08:37] esakal commented on #109
When you choose not to combine installment transactions you want to keep them separately so following your example you will have 3 separated transactions as you described. But the meaning of `What date would you like to start scraping from?` changes when we are talking about separated (not combined) installments transactions . In such a scenario you expect seeing each installment as separated tran

[2018-04-09 15:46] eshaham commented on #109
@esakal ok, I think I got it now.
I think you are right, we could simply use the `date` property, since it is already adjusted in the `fixInstallments()` function.
I think the correct filter code should be:
[code]
Once we only compare to `txn.date`, there rest of the checks are redundant.
Is this what you had in mind?

[2018-04-09 15:46] esakal commented on #76
@eshaham @chilikla I would like to add scraping of summary for bank Leumi. If I understand correctly I need to scrape the following fields:
[code]

## Balance
@eshaham It is easy to scrape the balance but I think It is better to do it after you will merge master into this branch (to extend the latest version of the Leumi scraper that includes the pending transactions support)

Also, since the bala

[2018-04-09 15:48] esakal commented on #83
@eshaham which scrapers are we missing to merge `add_memo_field` into master?

[2018-04-09 16:05] eshaham commented on #76
Done.

@esakal you're probably right, it is a good addition to the options, but I don't think pending transactions should affect this account summary and balance, so that should be irrelevant to this issue. If you agree, feel free to file an issue.

hmm, that's interesting. An account without a credit limit. @chilikla, I guess this should be mentioned in the README file. @esakal I don't have a Leu

[2018-04-09 16:06] eshaham commented on #83
@esakal just Hapoalim AFAIK

[2018-04-09 21:57] esakal commented on #109
https://github.com/esakal/israeli-bank-scrapers/blob/d726f2f31b2d0dfbe1da3ad486df381bfa8331ea/src/helpers/transactions.js#L38-L45

Not exactly, because the `combineNeededAndInitialOrNormal` condition is mandatory if you choose to combine transactions. In such a scenario you want to filter out any transaction that is installment and is not the initial transaction. So I thing the fix should be to re

[2018-04-10 04:26] eshaham commented on #109
Shit, you're right. You're suggested code changes make sense.

Balance under summary should reflect the real balance of the account, meaning that if you've only paid the first installment out of several, balance would include the remaining payments, even if you specified to combine installments.

Some people, and under some use cases, one would prefer to refer to the initial transaction full amoun

[2018-04-10 14:47] esakal opened #112 "Leumi card scrapers fails to report errors during scraping"
https://github.com/eshaham/israeli-bank-scrapers/blob/ecdf9777f23280140370ffc79729d96449c8bddb/src/scrapers/leumi-card.js#L234-L236

## Bug Overview
the scraper currently ignore failures for line 234 `goto` command, resulting with "valid" scraping of 0 transactions instead of failing the process.

## Reproduce Scenario
change the value of the url to invalid value, for example `path: 'Registred/Tra

[2018-04-10 18:13] esakal commented on #109
Created #113

Sounds reasonable

I didn't think about this scenario. sounds reasonable as well

[2018-04-10 20:07] #109 closed

[2018-04-24 15:17] DedupOperator opened #118 "Leumi Card Error: unknown transaction type"
node.js terminates after multiple leumi-card module returns error code:
(node:4061) UnhandledPromiseRejectionWarning: \
    Error: unknown transaction type חודשי + ריבית

leumi-card.co.il shows regular transactions abroad as "חודשי + ריבית"
For trying to temporarily debug the issue, changing the variable (line 177) on the leumi-card.js generated module to:
var MONTHLY_CHARGE_TYPE_NAME = 'חודשי + ר

[2018-04-24 17:59] eshaham commented on #118
@DedupOperator thanks for reporting this, I will try to fix this soon

[2018-05-15 13:08] esakal commented on #83
@eshaham is it possible to merge `add_memo_field` into `master`? i think it will be very useful with what we already have even without the missing support in the Hapoalim.

[2018-05-23 06:48] eshaham commented on #83
@esakal I see you managed to get access to Hapoalim account 😄
Create a PR #124, can you please check the conflict in Hapoalim scraper?

[2018-05-23 13:30] esakal commented on #83
@eshaham I fixed the conflict in #125. I didn't know if you want the base to be `master` or `add_memo_field` but as I mentioned in the new PR feel free to edit and change the base branch

[2018-06-06 20:45] DedupOperator commented on #118
Thank you very much.
I'll kindly help provide samples to clarify and also betatest

[2018-06-09 14:10] DedupOperator commented on #118
Just to clarify, _all_ the 'Matach' transactions are displayed as "חודשי + ריבית" type.
As so, I think it should be addressed as an issue, not an improvement.

![for-israeli-bank-scrapers1of2](https://user-images.githubusercontent.com/38059469/41192493-3aa7bdc6-6c07-11e8-9b2e-a74e156059b7.png)
![for-israeli-bank-scrapers2of2](https://user-images.githubusercontent.com/38059469/41192492-3a7fe56c-6c0

[2018-06-10 09:44] #118 closed

[2018-06-10 09:48] eshaham commented on #83
This is now implemented in all scrapers 🎉

[2018-06-10 09:48] #83 closed

[2018-06-24 09:06] #112 closed

[2018-07-05 13:54] esakal opened #140 "Visa-Cal seems to be broken for few days now"
@eshaham

Visa-cal scraper fails for my accounts since the beginning of the month. At the beginning I thought it might be a temporary error as the message indicate, now I'm not that confident about it since it continue to fail. It might be something with my own credentials, although they passes the login phase.

I added the missing handling to catch and notify those errors here #139. I want to che

[2018-07-08 12:14] esakal commented on #140
closed by #141

[2018-07-08 12:14] #140 closed

[2018-07-09 19:14] lielran opened #142 "launch puppeteer browser outside the lib"
I found it hard to control the launch command of puppeteer.
I would be super nice If I could pass `browser` object to `createScraper(option)` function.

First of all: how do you feel about it❓
as I see it there is couple of options:
## option 1 :
[code]
where browser is `const browser = await puppeteer.launch(SomeParams);`

## option2: ```createScraper(options,maybeBrowser)```

both options will n

[2018-07-10 06:37] esakal commented on #142
Hi @lielran,
This library is using two different scraping approaches, only one of them is using (puppeteer) browser. Visa cal for example inherit from `BaseScraper` which doesn't require browser at all is it does direct calls to the server api. The purpose of `createScraper` factory function is to hide the detail implementation of the chosen scraper so I'm not sure it is advised to ask the browser

[2018-07-10 07:03] lielran commented on #142
I see...I wasn't aware of the API approach.

I still think since you are using `createScraper` for each scraper(or bank vendor) it should be possible to init the ones the using puppeteer outside `createScraper` function.

puppeteer has a lot of configurations(see this one: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions) I don't want to expose all of them v

[2018-07-10 07:12] esakal commented on #142
in [BaseScraperWithBrowser.initialize()](https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/scrapers/base-scraper-with-browser.js#L66) the library currently propagate only one property but we can easily extend it to propagate the complete `options` instance of `options.puppetter` dedicated object. Since this library is not based on typed languages (like Typescript), it should affect

[2018-07-10 11:10] lielran commented on #142
@esakal  cool, let's wait to @eshaham.

once we all agree I can work on a PR for that.

[2018-07-10 12:55] ifeins opened #143 "setup credentials (for playground) doesn't override previous credentials."
A few days ago I've setup credentials for playground (using `npm run setup`) for Visa Cal to debug an issue.
Today I've setup credentials for Isracard and when I ran `npm run start` it still attempted to scrape Visa Cal instead of Isracard.

[2018-07-10 13:00] ifeins commented on #143
Actually, that's not the issue, I see that it creates separate credentials files for each scraper.
The issue is that `npm run start` doesn't prompt the user to specify which scraper he/she wants to use.

[2018-07-10 18:49] esakal commented on #143
@ifeins actually it works as designed. `npm run start` executes scraping immediately without prompting the user for information, this is done as described to allow [debugging from IDEs](https://github.com/eshaham/israeli-bank-scrapers/blob/master/CONTRIBUTING.md#debug-your-changes-using-the-ide) like webstorm.

You should use the `npm run setup` to select which scraper to use when running. Once yo

[2018-07-11 06:01] ifeins commented on #143
@esakal Got it, thanks 👍
Will close the issue.

[2018-07-11 06:01] #143 closed

[2018-07-12 08:29] lielran opened #144 "options should supports date range"
currently, `options` object contains only `startDate`.

given that credit cards (as far as I know) are working by months while bank transactions support date ranges, I'm missing the option to provide `endDate` or maybe spilt it to credit card vendors(input will be months e.g 07/2018) and date ranges for bank transactions(e.g. 01/01/2018 -
01/02/2018)

[2018-07-12 13:31] esakal commented on #144
@lielran
The common use-case for this library is to scrape all transactions starting a specific date. I assume you consume this library from your own project so you can optimize the results there. You can, for example ,scrape using `startdate` and then filter till `enddate` in your application.

You mentioned that credit cards are working by months but it doesn't represent a regular month (e.g 1/6

[2018-07-15 20:41] eshaham commented on #144
I can see a use case for which this can be useful - especially if someone uses this module to scrape data on behalf of other users, and would like to avoid fetching irrelevant data for the user.
However, since none of the banks allow for more than one year worth of transactions, I'm not sure how important is this feature, in terms of saving compute time. And like @esakal mentioned, this can easily

[2018-07-15 20:49] eshaham commented on #142
@lielran I totally agree with the need for getting better control over the instantiation of the browser instance, both for the reasons you've mentioned, and also for being able to control the version of puppeteer being used.
For the first reason, we can easily send any additional props the user adds to the options object directly to the puppeteer launch function. But I think that allowing to injec

[2018-07-16 04:46] esakal commented on #142
@eshaham I'm not sure if it is possible to safely inject  the browser instance from outside of the library as the internal services/utils depends heavily on the puppeteer api. A good example is the problems we had with puppeteer as they changed their api for `$$eval`. I can think on many other places in the code that can be affected and it will open the library to problems that will be hard to mai

[2018-07-16 04:52] lielran commented on #142
@esakal  - can you explain a bit more why injecting will cause issues? from what I've seen you use `this.browser` which was the returns from the `puppeteer.launch()` method?

I started to work on that PR and initialize puppeteer outside the lib scope and passing the `browser` object to the lib and all works fine on two scrappers (Isracard, Otsar HaHayal).

[2018-07-16 05:01] esakal commented on #142
@lielran try to inject old version of puppeteer, take something very old like [0.13.0]https://github.com/GoogleChrome/puppeteer/releases/tag/v0.13.0). Although it seems silly choosing old version it simulates real future scenario:
1. you create an application that uses specific puppeteer version `v1.6.0` which is latest today.
2. after 3-4 months puppeteer deploy a new version `v2.0.0` with breaki

[2018-07-16 07:14] lielran commented on #142
@esakal In any given state `israeli-bank-scrapers` depended on one specific version `puppeteer`.
if you want to inject an old version you should align with the old version of `israeli-bank-scrapers`.

you can't really expect it to work if you injecting very old version.
another option would to use [peer dependency](https://yarnpkg.com/lang/en/docs/dependency-types/#toc-peerdependencies) - but this

[2018-07-16 10:35] lielran opened #146 "CI support"
we can add Travis CI (free to open source projects) so we'll have default test runs + pr checks

[2018-07-17 18:39] eshaham commented on #146
@lielran we should probably add tests first... 😄
running a CI just for linting isn't that beneficial IMO.
I've been wanting to add integration tests for a while now, but it's not that easy since we need to fetch and anonymize the data for each scraper. thoughts?

[2018-07-17 18:53] eshaham commented on #142
@esakal good point.
One way around this problem is to extract the dependency on puppeteer, define an interface the browser object should implement, and implement PuppeteerBrowser class which implements this dependency (could be either on a different repo, or the same one). That way whoever injects any version of puppeteer / a different framework would be in charge of making sure the wrapper implem

[2018-07-19 07:05] lielran commented on #142
Indeed Nightmare(same goes for CasperJs).  I was also my path till Google announce puppeteer, it was clear to me that it will replace all the headless browser scraping/testing tools

[2018-07-19 07:09] lielran commented on #142
regarding the injecting - I think that using peer dependency and enforcing working on the same version should work and prevent issues but I wouldn't jump to that solution right now.

I think that good documentation or maybe validating puppeteer version on runtime can proper error message cover us up

[2018-07-19 11:30] esakal commented on #142
@eshaham Nightmare was so buggy, I hated using it.

I love the suggested architecture as it will make this library more robust. But (there is always a but)  I'm not sure if it worth the effort as it will complicate the maintenance and I don't think many people will use it. If you have a backlog this one should definitely be part of that list. If you still want to check this one, we can brainstorm

[2018-07-19 16:19] lielran commented on #144
but most of the banks support date range, right?
why do we assuming the end day is today? over fetching can handle by the client for sure, but why should we pay the runtime overhead(all the extra data that is doing to be filtered).

my suggestion is to provide an optional end date where the default is none(=today). what do you say?

[2018-07-19 16:30] lielran commented on #142
@esakal yes. question is if we can know which version of puppeteer you have in runtime and compare to the version of the library.

[2018-07-19 16:30] lielran commented on #142
what do you say of the peer dependency? isn't it a good way to enforce the same version?

[2018-07-19 18:10] lielran opened #147 "tnx identifier should be String"
in order to not limit our self -we need to change the ID of tnx to String

[2018-07-19 18:18] lielran opened #148 "tnx status could be change to boolean"
in tnx `status` can be completed or pending.
this can be changed to isCompelted true|false

[2018-07-20 06:16] esakal commented on #148
Hi, it could be boolean, but I'm not sure if it is that important as we are using constant values quite frequently. Any concrete reason for changing the API?

The reason I'm asking is that changing public api affect not only all this library scrapers but also all other applications that consume this one. So I'm not favoring changing things unless it improve a functionality or fix a problem.

[2018-07-20 06:19] esakal commented on #147
Hi, the same answer as I wrote in #148 . Does it improve functionality or fix a bug?

The property name `identifier` is a bit confusing because `identifier` usually refer to unique id. Here it refer to Asmachta (אסמכתא). All the companies that this library scrape provide Asmachta as numbers and this is why I assume @eshaham defined this property as number. Are you familiar with a scraper that retu

[2018-07-20 06:23] esakal commented on #146
I will let @eshaham to decide about this one. As using a CI is most effective as part of deployment process and he is the one that deploy this library.

Obviously if we had unit tests and would be relevant also to pull requests but as we are dealing with sensitive data and rely on data sources that are not in our control I'm not sure it would be easy to add unit tests.

Regarding the lint this, as

[2018-07-20 11:45] esakal commented on #142
Hi,
I didn't find a way to know at runtime what is the puppeteer version. did you find such a way? I say as this original requirement was to allow external puppeteer initialization and you achieved it with #145, it might be enough for now. It will be the responsibility of the consumer who uses this option to check for compatibility when he updates this library. I will approve your pr and will let

[2018-07-20 12:42] esakal commented on #144
@lielran I reviewed all scrapers where they build the date range and this is what I came up with:

**hapoalim** - seems easy to implement
**leumi-card, isracard, amex** - they pass month range so if we will want to support end date range we will need to take extra month and then filter by range locally.
**otsar-hahayal** - it seems easy to implement but I cannot confirm it as I don't have an accou

[2018-07-26 08:38] lielran commented on #148
you find your copy this string into your code for no good reason. I guess that we need to decide if to change it someday and break compatibility(maybe before v1.0)

[2018-07-26 08:39] lielran commented on #147
same here. not urgent but better to save it as a string for not dealing with the issue in a future vendor.

[2018-07-26 08:42] lielran opened #151 "Separate scrappers for it's own lib"
what do you think of separate the scrapper in its own lib/repo?
I case of bugs(in scrapper) we'll have the option to rollback only the scrapper older version without changing the lib and other scrapper code.

what do you think about it?

[2018-07-26 08:44] lielran opened #152 "Typescript"
what do you think about moving to Typescript?

[2018-07-26 08:55] lielran opened #153 "transaction information"
I found out that Isracard provides more information that currently exposes in the transaction object:
[code]

<img width="649" alt="screen shot 2018-07-26 at 11 48 45 am" src="https://user-images.githubusercontent.com/1004667/43251992-26ce37a2-90ca-11e8-9fea-9512acc8182e.png">

I know that other vendors(mostly banks) don't hold this kind of infomation but it looks like super intersting infomation

[2018-07-26 10:13] esakal commented on #152
I'm a fan of typescript and I use it daily at work, but as the library is not that big it is not that important if it will use it or not.  Whether we should use it for this library or not it is subjective and depends on the preference of @eshaham and the rest of the contributors.

[2018-07-26 10:16] esakal commented on #153
Hi, I think that @eshaham tried to find the most common properties that must (of not all) vendors support. It is quite reasonable since not providing a data that is missing during scraping will affect the scraping credibility (as the user will not be able to distinguish between valid empty fields and fields that are empty just because we don't have information about them).

[2018-07-26 10:19] esakal commented on #151
I don't see how we benefit from it as it will complicate the devop process. We could use mono repo approach but again I'm not sure how valuable it will be as most of the times the bugs are created due to changes in the vendors site and not due to a developer that write buggy code.

Maybe I'm missing something, @eshaham wdyt?

[2018-07-26 10:21] esakal commented on #148
well copy a string that is considered an enum is the same for me as knowing that the property is boolean, number, nullable etc... I leave this call to @eshaham

[2018-07-26 10:48] lielran commented on #153
if you aim just for the common you are also missing the added value that some vendors can provide you. since it is on the level of the vendor then we can do optional data. the user can expect it will return in case of `Isracard` for example while in the case of `Hapoalim` it will be empty.

[2018-07-27 14:13] lielran commented on #153
why is the transaction is common in the first place? since the input/vendor is not the same why should the output be the same? the user knows he is targeting specific vendor data.

the other option is to add a custom section(json object) where we can add extra data if we can.

[2018-07-29 06:14] lielran commented on #152
since it's a library + we have 0 tests to prove things are working, I think that the benefit here is fewer bugs/issues.

[2018-07-29 06:30] eshaham commented on #148
@lielran While I'm ok with breaking changes before v1.0, I actually prefer the status approach.
Closing this for now.

[2018-07-29 06:30] #148 closed

[2018-07-29 06:33] eshaham commented on #152
@lielran not a fan of Typescript either, I love the simplicity of pure ES6.
I would like to put more effort into writing tests.
Closing this for now.

[2018-07-29 06:40] eshaham commented on #153
@lielran interesting point.
I've had this in my mind for some time. What @esakal said is correct - I've been trying to keep a common API across the scrapers.
Having said that, I do see value in returning extra data for a specific scraper, but this will only work if
A. It is returned under an extra section as you suggested and
B. Properly documented

@esakal wdyt?

[2018-07-29 06:47] eshaham commented on #147
@lielran the idea was indeed to return Asmachta for scrapers which support it.
Discount scraper is an example.
I wouldn't go with Asmachta for a field name, but I agree that identifier may be confusing.
Got any better names?

[2018-07-29 06:48] eshaham commented on #146
Let's add it only after we have a first test.
Closing this for now.

[2018-07-29 06:48] #146 closed

[2018-07-29 06:51] eshaham commented on #144
@lielran @esakal let's do it.
I added a `txn_end_date` branch - let's add PRs to this branch until this feature is ready

[2018-07-29 06:57] lielran commented on #153
I've noticed also the "common part" have few issues:
1) description is sometimes cut in the middle of the String. wherein the details you can see the whole String.
2) the transaction dates do not contain the time - only the actual dates

in both cases, it can be useful for "common" parts

[2018-07-29 07:03] esakal commented on #153
the transaction dates do not contain the time - only the actual dates

I think this is a bug in the scrapers as they should try to scrape the most relevant value if exists. @lielran I think you should improve those scrapers as mentioned.

Reviewing the snapshot in the original thread. @lielran which information would you like to add? because the information about the business can be considered as

[2018-07-29 07:08] eshaham commented on #153
@lielran I'm all for adding the time to the transactions, as long as most scrapers support them.
As for the cutting of the descriptions, I believe that it is the beehavior in most banks / credit cards.

Would solving theses be an additional http call?
Because if so, it will slow down scraping drastically.
Again, that's also acceptable, but perhaps we should add another parameter allowing users to

[2018-08-02 09:50] lielran commented on #153
@esakal  - I actually not sure what all of them means :)

@eshaham  the info that I find important is:
- business details : **full name** location, address, phone,...
- buying time in minutes (local date time) **- require anohter call for each line**
another information that we easly collect:
- credit card paying date( every 1,10,15 each month)  - not an extra call
- the type of the card (Masterca

[2018-08-06 07:34] esakal commented on #80
Hi @asfktz, following eshaham/israeli-ynab-updater#22 you mentioned that the transaction contain the following information:
[code]

can't we use those fields to figure original and charged currency?

Regarding the banks I think we can scrape also the foreign accounts, I can add the Leumi account if needed

[2018-08-07 03:40] eshaham commented on #152
@esakal still waiting for a typed language I had a good connection with - Typescript is definitely not it.
I feel it takes the fun out of Javascript, and it's one of the main reasons I'm staying away from later versions of Angular (used to love Angular 1).

[2018-08-07 03:46] eshaham commented on #153
@lielran all these fields sound interesting.
I'm all for adding them, as I said, as long as most scrapers can support them on without additional http requests.
As for information requiring more http requests, I don't think we should go down the path of creating new scrapers, but rather add an option to get extra info.

[2018-08-07 03:51] eshaham commented on #151
After reading this again, I just got what @lielran's meant.
Yet, I think it a lot of overhead to maintain separate repos for different scrapers, and believe that most of the time 95% of the scrapers functionality works.
Closing this for now.

[2018-08-07 03:51] #151 closed

[2018-08-07 03:55] eshaham commented on #147
@esakal ok.
I don't really see the need in changing the type of the field to a String, until something prompts us to do so. Closing this issue for now.

[2018-08-07 03:55] #147 closed

[2018-09-01 20:40] esakal opened #155 "scrape charged currency for credit cards"
We are missing charged currency when scraping credit cards. This information is needed as the user can choose whether to link his credit card to local bank account or foreign bank account. Without charged currency the value of charged amount means nothing.

I implemented that support for `leumi card scraper` in branch [charged-currency](https://github.com/eshaham/israeli-bank-scrapers/tree/charged

[2018-09-03 10:30] esakal commented on #80
@asfktz I would like to promote the support for charged currency. Please take a look at #155, I added new field to `leumi-card` named `chargedCurrency` in [charged-currency branch](https://github.com/eshaham/israeli-bank-scrapers/tree/charged-currency). If you can add their support for `Isracard` it would be great.

[2018-09-03 10:33] esakal commented on #155
Yes it does :) I missed that one. So great I will continue and add support for `leumi` foreign account and hopefully @asfktz will add support for Poalim and Isracard

[2018-09-05 16:57] asfktz commented on #155
Nice! I'm happy to see that.
I have so much love for this project (:

Yeah, I'll be able to add support for Poalim and Isracard.
I'm not available for open source so much lately, so it might take some time.

[2018-09-06 09:56] #142 closed

[2018-09-20 06:53] matanelgabsi commented on #76
Hi @chilikla @eshaham, is this still a work in progress? if no one is working on this, I would like to write the code to support bank hapoalim, leumi & otsar hachayal..

[2018-09-20 12:09] esakal commented on #76
Hi @matanelgabsi this is issue is still in progress. @chilikla already created PRs for leumi card (#104) and bank Hapoalim (#103). They are both pending since April I will check them and try to push them forward. It would be great if you will support bank leumi and bank otsar hachayal.

[2018-10-05 06:41] esakal commented on #155
closing this issue as it is a duplicate of #80

[2018-10-05 06:41] #155 closed

[2018-10-05 06:51] esakal commented on #74
Hi @tounano, Did you have any luck with scraping Mizrahi? I saw your comments about headless browser which might work here. But I think it is easier working with puppeteer as we did in some scrapers. You can extend [BaseScraperWithBrowser](https://github.com/eshaham/israeli-bank-scrapers/blob/a48216996fe7e5f6a314cc4f01017261170fb7c1/src/scrapers/base-scraper-with-browser.js) and use [Leumi](https:

[2018-10-10 21:42] shmaram opened #160 "This dependency was not found: * ws in ./node_modules/puppeteer/lib/WebSocketTransport.js"
Hi

Tried to build a simple Vue js project to run the scraper at the click of a button and got the following error:
This dependency was not found:
* ws in ./node_modules/puppeteer/lib/WebSocketTransport.js

Are you familiar with this one ?

[2018-10-11 08:01] shmaram opened #162 "TypeError: createScraper is not a function"
Hi

Tried to run the code and got the error
TypeError: createScraper is not a function

Adding my code:
`const createScraper = require('israeli-bank-scrapers');

const express = require('express');
const app = express();
const port = 3000;

app.get('/', (request, response) => {
  connect();
  response.send('Hello from Express!')

});

app.listen(port, (err) => {
  if (err) {
    return console.log

[2018-10-11 08:48] #162 closed

[2018-10-11 10:19] shmaram opened #163 "Leumi Card - unknown transaction type"
Hi

I think you are missing a transaction type for Leumi Card.
I get the following error :
{"success":false,"errorType":"generic","errorMessage":"unknown transaction type עסקת 30 פלוס\t"}

[2018-10-11 11:15] esakal commented on #163
@eshaham It seems that we map all transaction types (7 types) as `NORMAL_TXN_TYPE` and only 1 type as `INSTALLMENTS_TXN_TYPE`. As we are not using those type to anything else, Instead of keep managing them maybe we should consider defaulting to `NORMAL_TXN_TYPE` instead of throwing the mentioned error, what do you think?

If you agree then let me know if we need to keep the list of types or just k

[2018-10-15 18:11] eshaham commented on #163
@esakal I feel like we may be losing an important type of info which may be useful later on.
Let's keep mapping new transaction types, for now, I believe we will see less of those at some point.

[2018-10-16 06:52] #163 closed

[2018-11-01 14:07] mellowcandle opened #166 "Exception when running example"
Steps I did in order to check:
$ npm init
$ npm install israeli-bank-scrapers --save

Node version: v10.12.0

It might be trivial, but what am I missing ?

Thanks,
Ramon.

[code]

[2018-11-01 19:43] esakal commented on #166
Hi,
I'm installed it with node v10.13.0 (which is LTS) and it seems to work (see log below).

can you try again with version v10.12.0? you can use the [npm package - n](https://www.npmjs.com/package/n) to switch between versions.

[code]

[2018-11-04 07:43] mellowcandle commented on #166
Hi.
I switched to node v10.13.0.
I get the same error...

[2018-11-04 09:00] eshaham commented on #166
@mellowcandle maybe you're not using babel?
the `import { func } from 'module'` syntax is still not supported natively in node.js, AFAIK.
an easy fix would be to change your import code to
[code]

[2018-11-05 11:21] mellowcandle opened #167 "Leumi-card scraper ends with error"
Leumi Card: START_SCRAPING
Leumi Card: INITIALIZING
Leumi Card: LOGGING_IN
Leumi Card: LOGIN_SUCCESS
Leumi Card: TERMINATING
Leumi Card: END_SCRAPING
success: false
error type: generic
error: Unknown transaction type קרדיט

[2018-11-11 11:59] mellowcandle commented on #167
Merged, closing issue

[2018-11-11 11:59] #167 closed

[2019-01-01 13:27] guygberg opened #169 "Leumi card login result undefined"
Hello

When I try to use a simple code to read the transactions from Leumi card.
I get an error "'unexpected login result "undefined"'"

Code
it is surrond by an iife to be able to run the await
and the credentials are initialize correctly (same as your example)
![image](https://user-images.githubusercontent.com/40508367/50573278-a5aaa880-0dd9-11e9-91dd-ef9a4d00f23c.png)

The error:
![image](https

[2019-01-12 21:33] eshaham commented on #169
@guygberg I just tried to reproduce it with your code with my LeumiCard account, but it worked perfectly.
maybe you can try to print `scraperResult.errorMessage`?
I will need more info to help with this one.

[2019-01-12 21:34] eshaham commented on #166
@mellowcandle closing this for now

[2019-01-12 21:34] #166 closed

[2019-01-18 12:56] guygberg commented on #169
@eshaham  Thank for your resonance.
Now I get an [object, object] using this.
Please see below
![image](https://user-images.githubusercontent.com/40508367/51388165-42d34400-1b31-11e9-85de-3fb503cd765f.png)

[2019-01-18 15:08] esakal commented on #169
hmmm.... actually writing `console.log` should work regardless to the `browser` option. Can you please verify that:
1. you changed the file under `node_modules/israeli-bank-scrapers/lib` and not under `.../src`
2. that the change was actually saved (some IDE's prevent changing of files under `node_modules`
3. if that doesn't work change `console.log` to `console.error` maybe it is filtered somehow

[2019-01-22 16:45] Urigo opened #171 "Getting extra input from the user"
I'm working on the business version of Hapoalim.

I got it all running locally including getting the foreign and credit card transactions

The thing is, that in a business account once you have a successful login they send you SMS with a code.
I've added a command prompt locally to get it working easily for me, but I wonder what would you think would be the best way to add something like that in t

[2019-01-23 09:49] esakal commented on #171
Hi @Urigo,
I saw your question earlier today. While playing with our codebase I ended up implementing this feature as it felt natural extension to the login process.

@eshaham can you please review my solution in pr #172, I think we achieve an important support with efficient code extension. It is not ready yet until @Urigo will create a PR to branch `sms-verification` with the relevant Hapoalim s

[2019-02-09 14:56] guygberg commented on #169
Thanks @esakal

I have tried all the options with no success.
I have debug to see that my progrem does no reach that line.
I get an error thrown on the function waitUntil (I get a timeout)
The URL that I see along the debug is always:
"https://online.leumi-card.co.il/Anonymous/Login/CardHoldersLogin.aspx"

Do you know why do I get a timeout?

Regards
Guy

[2019-02-09 16:08] esakal commented on #169
Hi,
Let's try to quickly nail down this issue. From your attached image I understand that you are working with the playground? this is good as it means that you see the browser while scraping.

function `waitUntil` is used by`waitForRedirect`. Leumi scraper is using it as part of the login process [here](https://github.com/eshaham/israeli-bank-scrapers/blob/aef7c676b5279cd16f133a521f0abf9df4ad056d

[2019-02-10 15:37] guygberg commented on #169
I have made some progress.
I do get success on login in:
![image](https://user-images.githubusercontent.com/40508367/52535700-5d789180-2d5a-11e9-804c-6124f3868e59.png)

But I after the function finishes I get the below:
Do you know why?
![image](https://user-images.githubusercontent.com/40508367/52535725-84cf5e80-2d5a-11e9-9077-354afe69e8ec.png)

Thanks
Guy

[2019-02-10 16:57] guygberg commented on #169
@esakal
I was able to overcome the issue.
I want to thank you for all your help.
Hope it would be easier to connect to me Poalim card :)

[2019-02-12 20:18] esakal commented on #169
@guygberg great news! Let us know if you will need further assistance with the Poalim 👍

[2019-02-12 20:18] #169 closed

[2019-03-05 09:19] ptc-bsorek opened #178 "Leumi Card Scraper stopped working"

[2019-03-05 09:23] bsorek opened #179 "Leumi Card scrapper stopped working"
I get the following error. Seems like it logs in ok but the return value after login is not recgnized:
Leumi Card: START_SCRAPING
Leumi Card: INITIALIZING
Leumi Card: LOGGING_IN
Leumi Card: TERMINATING
Leumi Card: END_SCRAPING
success: false
error type: generic
error: unexpected login result "undefined"
Error: unexpected login result "undefined"
    at /Users/bsorek/Dev/git/personal/bankapp/israel

[2019-03-05 09:25] #178 closed

[2019-03-05 19:35] esakal commented on #179
hi @bsorek , usually this error indicate on either:
1. user/pass expired or going to be expired (which means that leumi card shows a blocker popup).
2. user/pass invalid

Please try the following:
1. retype the user/password into israeli-ynab-updater
2. connect to leumi-card with that user/pass and make sure it works.

if it still happens let me know if you it happens immediately or after appx 30

[2019-03-05 19:57] bsorek commented on #179
Hi,
I tried logging in directly and worked fine.I get the message immediately after seeing the LOGGING_IN status. I ran the scraper in debug, and I see that it successfully logged in but then there is an error. We see the dialog box that says it's redirecting me to my account, and as soon as the dialog disappears the exception occurs.

[2019-03-05 20:02] vmalloc commented on #179
I believe this is because of the recent redesign the Leumi-card website has undergone. It has been rebranded (as "Max"), and from the looks of it it looks like the login flow has changed (I had a scraper of my own that stopped working today as well)

[2019-03-05 22:25] esakal commented on #179
@vmalloc You are correct, it does happen now that they rebranded. but unfortunately they played with the flow as well. I will try to resolve it tomorrow and provide a PR.

[2019-03-06 23:10] esakal commented on #179
@bsorek I created a pr fixing the broken scraper #180. You can pull it and test it as well until @eshaham will review it.

[2019-03-08 17:05] Urigo commented on #171
hi again and sorry for the very late response.

@esakal thank you so much for the PR, it was very clear.

The reason I haven't responded was that I was focusing on finishing the project that uses the new scraper so I would make sure I run it every day.
Now it is the case and I am very happy with it :)

Now I want to contribute it back to the codebase.

The main question I have is that (and probabl

[2019-03-09 12:27] Urigo commented on #171
by the way, in my code I take all transactions from dollar and euro accounts, I take all the credit card transactions 6 months back and I take the balances of the credit card (shekel, dollar and euro) and  checking balance (shekel, dollars and euro)

[2019-03-09 13:20] Urigo commented on #171
maybe it's just a matter of changing some function to be static, like `convertTransactions`, `getRestContext`, `fetchPoalimXSRFWithinPage`, `fetchAccountData`.
Then I can use them if I want but not conform to the flow dictated by the base class.
I've also added a version of `fetchPoalimXSRFWithinPage` but that uses GET in order to send some more requests I needed

[2019-03-09 14:53] Urigo opened #181 "Dependency update stratgy"
What do you think is your dependency update strategy?

Probably now you are probably updating just when you need an update for some reason.

What do you think about using a tool like RenovateBot, to keep dependencies up to date?
As most of the code here is being used daily I believe that even without tests we can have good confidence of finding bugs relatively fast.

If we keep dependencies untouc

[2019-03-09 19:12] #179 closed

[2019-03-09 19:33] eshaham commented on #181
@Urigo great idea.
The only problem I see with this is that we don't have unit/integration tests, and so have a tool automatically create pull requests would not remove the overhead of actually making sure everything is still working. wdyt?

[2019-03-09 20:36] Urigo commented on #181
@eshaham yes there is not a lot of guarantees here except the fact that most of the people using/developing this are using it daily (at least me...) so if we merge a bad update, we would learn about the issue relatively quickly.
In my personal opinion it is worth it...

[2019-03-09 20:38] Urigo commented on #181
also, personally, I would increase the minimum version of Node required and remove some babel transformations...

[2019-03-09 20:39] eshaham commented on #171
While I usually try to stick to functional coding whenever I can, I think that in this case the current class structure really makes sense for me. It adds a clear structure, makes it very clear to implementers what they need to override, and creates a common language between scrapers.

That makes more sense for me, but even then, if we want to allow scrapers to expose other functions such as the o

[2019-03-09 20:40] eshaham commented on #181
In my personal opinion it is worth it...

ok, I'm convinced. @esakal, think differently?

[2019-03-09 20:42] Urigo commented on #171
True. But why does different scrapers need a common language?

and why would they need to expose the same thing?

[2019-03-10 15:00] esakal commented on #181
I favor the idea of updating dependencies automatically.

The question is how far will let the process go, will it also deploy to npm automatically? if not then most developers will not get new versions as they probably consume this library from NPM. Even if the process will release to NPM, `package-lock.json` will not let developers get new versions until they will explicitly ask to update it.

S

[2019-03-10 15:25] Urigo commented on #181
adding unit tests is always great.

about releasing to npm, I think it's good we won't release a new version for users on each update and only when we feel there is a need.
But, I don't think it means we shouldn't update automatically because maintainers like us can use it daily from source or we can create an automatic `alpha` releases with a hash (we do that for all of our open source libraries

[2019-03-10 15:35] esakal commented on #171
Now it is the case and I am very happy with it :)

Being able to use "open financing" is awesome and this is why I love this project.

God bless open-source projects, everyone can ask everything and contribute as they can.

Your question is interesting when talking about the implementation details used here of scrapers and ways to simplify creation of new ones. People who consume this library from

[2019-03-11 00:16] bsorek opened #182 "Monthly postponed payment error"
Getting an error `error: Unknown transaction type דחוי לחיוב החודשי`
These are monthly transactions done for recurring monthly subscription such as AMAZON PRIME in US dollars.
<img width="689" alt="Screen Shot 2019-03-10 at 20 13 06" src="https://user-images.githubusercontent.com/5676596/54093748-60729c00-4371-11e9-9c01-22ce6a3395e7.png">

[2019-03-11 07:42] esakal commented on #182
@bsorek can you pull my PR and reply if it solves your issue?

[2019-03-11 12:05] bsorek commented on #182
tested, and it works. Thanks

[2019-03-13 20:45] #182 closed

[2019-03-13 20:51] eshaham commented on #181
@esakal @Urigo so I think we all agree we should integrate something to create PRs with updated dependencies automatically.

regarding upgrading to use node 10, let's wait with that. I've been doing scraping with Google cloud functions (Google's take on AWS lambda), which supports Puppeteer out of the box. It only runs node 8, and even that is still in beta. Don't see a good reason to rush things,

[2019-03-14 14:56] bsorek commented on #182
@esakal was a new version pushed to NPM? I am trying to use the ynab-updater, but it still fails using version 0.6.5

[2019-03-14 15:30] esakal commented on #182
@eshaham can you please publish a new version?

[2019-03-16 05:02] esakal commented on #182
@bsorek in the meanwhile untill Elad will deploy a new version,  you can use a local version of the library. You might already know it but just in case:
1. in the ynab root folder link it to npm `npm link` (make sure you pulled master)
2. in your library root folder link to the local version by `npm link israeli-ynab-scrapers`

It should work until next time you run `npm install` in your library (

[2019-03-16 12:45] eshaham commented on #182
@bsorek @esakal sorry for the delay, needed to set up a temporary workstation.
published everything now.

[2019-03-21 08:51] bsorek opened #185 "leumi card scraper doesn't find password field"
Seems like leumi card changed the id of the password field
`error type: generic
error: Error: failed to find element matching selector "#PlaceHolderMain_CardHoldersLogin1_txtPassword"
Error: Error: failed to find element matching selector "#PlaceHolderMain_CardHoldersLogin1_txtPassword"
    at /Users/bsorek/Dev/git/personal/bankapp/israeli-ynab-updater/src/scrape/scrape-base.js:62:11
    at Genera

[2019-03-21 09:40] esakal commented on #185
@bsorek Leumi card are very annoying. I think their development team are bored so they push changes just to be occupied :)

I fixed it yesterday, created a PR. see #184
@eshaham can you review & deploy?

[2019-03-23 09:55] eshaham commented on #185
@bsorek @esakal done, and deployed

[2019-03-24 21:49] esakal commented on #171
@Urigo lets continue the discussing about stateless logic in #186 and keep this PR for discussion about its original context. Note that if we will choose to continue with #186 it should be easy to add such a support without affecting the existing flow

[2019-05-25 07:10] ifeins opened #200 "Visa Cal scraper stopped working"
Recently the Visa Cal scraper stopped working.
When I've looked into it I see that it fails to login with the following error response returned:

[code]

[2019-05-25 12:37] sagiba commented on #200
Looks like some of the endpoints have changed, managed to tinker around and get it to work with the following changes:
1. Change BASE_URL to 'https://cal4u.cal-online.co.il/Cal4U'
2. Change authUrl to 'https://connect.cal-online.co.il/api/authentication/login'
3. Add the following header to every request: X-Site-Id: 8D37DF16-5812-4ACD-BAE7-CD1A5BFA2206
4. Change the auth header prefix from CalAuth

[2019-05-25 14:34] ifeins commented on #200
@sagiba Wow, thanks for the quick reply.
Looking forward for the PR, let me know if I can help with anything.

[2019-05-25 15:01] eshaham commented on #200
@sagiba looking forward to seeing that PR 😄

[2019-05-25 16:56] ifeins commented on #200
@sagiba I've opened a PR with the changes you suggested, unfortunately the scraper still fails.
Can you let me know what should I fix?

https://github.com/eshaham/israeli-bank-scrapers/pull/201

[2019-05-25 17:50] sagiba commented on #200
I created a new PR #202 based on #201 plus a few other changes that were necessary. It now works for me.

(didn't know if I can edit your existing PR)

[2019-06-02 07:32] ifeins commented on #200
@sagiba I'm still unable to run the scraper using the playground.
I'm able to login to Visa Cal site using the username and password but the same credentials don't work in the scraper (I set them up using `npm run setup` and then `setup credentials`).

This is the error I'm getting:

[code]

Any idea what could be the issue?

[2019-06-02 07:43] esakal commented on #200
Hi @ifeins ,
I reviewed the code again and `INVALID_PASSWORD` seems to be mapped only to that specific scenario.

1. This scraper is using their mobile API if I understood correctly. If you can download their mobile app and make sure you are not blocked on that channel.
2. You can debug the playground using your IDE. This is the setup I did for webstorm to be able to debug the playground
![image](

[2019-06-02 09:02] sagiba commented on #200
I verified that it still works for me with a clean copy of eshaham/master.

Like @esakal suggested, please use the mobile app and see if it works for you. If it does, then you will have to sniff the app traffic to understand what it does differently in your scenario (I use Charles for that, can provide more detailed instructions if we get there). I cannot help because I cannot reproduce the issue.

[2019-06-03 20:14] ifeins commented on #200
My account was blocked a second time, and now after they reset it, the scraper started working again :)

[2019-06-03 20:14] #200 closed

[2019-06-05 17:39] #185 closed

[2019-06-22 13:09] asfktz commented on #80
Better late than never.
I'm working on the `chargedCurrency` field for `Isracard`.

First here are examples of the two transaction types

## Transaction Examples

### 1. A transaction that is charged in foreign currency:
(It charges my foreign currency account directly)

![image](https://user-images.githubusercontent.com/199747/59962957-275fd100-94f5-11e9-8fa5-1796ca33784a.png)

[code]

### 2. A t

[2019-06-24 06:56] eshaham commented on #80
@asfktz It's weird that they specify ILS for the original amount, although the transaction was originally USD.
I would probably stick with the currency of what they claim to be the original amount, because, as can be seen in your first example, it can be in other currencies.

[2019-07-07 16:55] asfktz commented on #80
OK, so I added `chargedCurrency`, and for Isracard, its always the same as originalCurrency

https://github.com/eshaham/israeli-bank-scrapers/blob/9484be69d0009297a5b5215357eaca304a6b7fe1/src/scrapers/base-isracard-amex.js#L110-L113

I feels a bit awkward knowing that the originalCurrency & originalAmount is wrong.
We know that know, but I don't think it will be clear for anyone else.

[2019-07-11 06:56] brafdlog opened #217 "Leumi card scraper has stopped working"
When running the scraper in the last few days I get the following error:

scraping failed for the following reason: GENERIC
Failed scraping  leumiCard
Error while trying to navigate to url https://online.max.co.il/Registred/Transactions/ChargesDeals.aspx?ActionType=2&MonthCharge=201907&Index=-2

[2019-07-11 11:40] liranso commented on #217
It seems like they change the transaction page completely.
I'm working on a fix on my end

[2019-07-11 11:44] eshaham commented on #217
@liranso I noticed they now transfer the list of transactions via a REST call, which will be much either for scraping purposes (see discount scraper for an example).
It is important to take this route, as it is much more reliable.

[2019-07-11 11:45] liranso commented on #217
Exactly,
I'm going to use the browser for login, and then make rest calls to get JSON response for each month
Is that what you though about?

[2019-07-11 11:49] eshaham commented on #217
indeed 👌

[2019-07-11 11:51] liranso commented on #217
what about conventions?
i saw that the adapter is using generators
what if i use async await for some of the new function?

[2019-07-11 17:24] liranso commented on #217
I want to create a branch for a PR
Can you give me permissions?
Also, i have some question about the "fix installments" code

[2019-07-12 03:57] esakal commented on #217
Hi @liranso thanks for your contribution. To submit a PR  its easy, jusr fork this library into your owb user, and create a PR from there into this repository.

What is your question about the fix installments?

[2019-07-12 06:51] liranso commented on #217
Ok, no question about the installments, I understand the purpose.
Created a PR

[2019-07-17 10:16] eshaham commented on #217
fixed by #219

[2019-07-17 10:16] #217 closed

[2019-07-20 19:12] brafdlog opened #227 "Leumi card scraper does not get the amount of the transactions"
Since the fix for issue #217 the leumi card scraper does return the transactions successfully but many of them with amount -0.

[2019-07-20 19:24] esakal commented on #227
Hi @brafdlog, can you please enter the site and check if those transactions are marked as pending transactions? meaning "עסקאות שאושרו וטרם נקלטו"

[2019-07-20 20:27] esakal commented on #227
If I'm correct, those are transactions that are marked as pending and tomorrow you will see them as regular transactions with the real amount. Please make sure to either check it today or not overriding the output tomorrow when you try again so you will be able to compare todays scraping and the new one tomorrow

[2019-07-20 20:32] brafdlog commented on #227
That seems to be the case.

So is this the expected behaviour? If so I will just filter out those transactions until they are no longer pending and get the real result.

[2019-07-21 07:29] esakal commented on #227
This is the expected behavior. As those transactions are not approved yet so the API returns 0 for actual payment.

Just use the status column, in my applications I always ignore transactions with pending status.

Im glad it is resolved :)

[2019-07-21 07:29] #227 closed

[2019-07-28 14:28] brafdlog opened #231 "Leumi scraper throws an error when there are no transactions during the given date range"
To find transactions the leumi scraper looks for the following selector: `table#WorkSpaceBox table#ctlActivityTable`.

When there are no transaction in a specific date range, the table that this selector points to does not exist and instead the following message is shown:

<img width="666" alt="Screenshot 2019-07-28 17 07 28" src="https://user-images.githubusercontent.com/7272927/62007986-f3637580

[2019-07-28 14:34] brafdlog commented on #231
Created a pr #232

[2019-07-30 21:19] brafdlog commented on #231
@esakal Can you take a look at the pr?

[2019-08-07 18:29] esakal commented on #231
fixed and merged  #232

[2019-08-07 18:29] #231 closed

[2019-08-11 00:55] asfktz opened #237 "Leumi card throws when there are no future transactions"
Leumi card throws when there are no future transactions, at least I guess this is the case.
What I can tell for sure is that it falls in `fetchTransactionsForMonth` when `data.result` is `null`.
In my case, it happens when `monthMoment` is next month.

https://github.com/eshaham/israeli-bank-scrapers/blob/59b5056e2e66ff501c3861e0b19dc2c2b76949af/src/scrapers/leumi-card.js#L114-L124

PR https://git

[2019-08-12 04:42] baruchiro commented on #74
OK, I've started working on it now.

This is my first time with NodeJS, but I think I'll get it. I looked at the other scrapers.

Tips are welcome.

[2019-08-12 05:56] esakal commented on #74
Well learning/coping from other scrapers are the best way to do it.

1. Since my previous comment a year ago we switched from playground to unit tests.
2. To make sure you bootstrap everything correctly I suggest you to search the term `hapoalim`(if IDE allow it search complete word with match case). Then just copy things and do the same for `mizrachi`
![image](https://user-images.githubuserconten

[2019-08-12 07:23] baruchiro commented on #74
1. Sure, I copied the tests from `leumi` and I working to pass them.
 2. 👍
 3. It seems that we expecting for an API, according to [this](https://www.mizrahi-tefahot.co.il/Lists/BankMizrahiSiteAssets/Reports/20001184e.pdf) document:

 ![image](https://user-images.githubusercontent.com/17686879/62850311-270cd680-bceb-11e9-9b48-8cb74226ca7b.png)

[2019-08-12 14:14] esakal commented on #74
great!

regarding 1st suggestion, i meant in other places as well like `.tests-config.tpl.js` and `definitions.js`.... it might be easier to review those places and add `mizrachi` in the same way.

![image](https://user-images.githubusercontent.com/4751797/62871592-702d4c80-bd24-11e9-919b-220be3f5c362.png)

[2019-08-13 13:25] kokoapps opened #240 "feature/configure-chrome-executable-path"
I want to submit a PR for allowing the configuration of chrome executable path in puppeteer.
Do I need a special permission for sending the PR?

[2019-08-13 17:53] esakal commented on #240
Hi @kokoapps, you don't need special permission to create a PR. You should just fork this repository and then create a PR from your repository to this one. It is quite simple.

that being said, there is already an exists PR that does exactly what you want. see #235. Actually it allow you do use this library with `puppeteer-core` which might be useful for you (since I don't see any reason passing t

[2019-08-13 18:52] baruchiro opened #241 "Make redirect ignore list more generic"
https://github.com/eshaham/israeli-bank-scrapers/blob/59b5056e2e66ff501c3861e0b19dc2c2b76949af/src/helpers/navigation.js#L25

In a new scraper, the login redirect contains a URL ends with `Default.aspx?language=he-IL`. I need the redirect will ignore the URL, no matter what is the query string.

The more complicated case is with URL like `Bank.com/he/index.html`, should ignore all `Bank.com/*/inde

[2019-08-14 14:00] esakal commented on #241
Hi @baruchiro,
The login options exposes `postAction` interceptor for custom login handling. see [leumi](https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/scrapers/leumi.js#L242) or any other scrapers that passes `postAction`

it should solve your case.

[2019-08-16 07:21] baruchiro opened #244 "Hash navigation (Angular router) return null and fail"
https://github.com/eshaham/israeli-bank-scrapers/blob/59b5056e2e66ff501c3861e0b19dc2c2b76949af/src/scrapers/base-scraper-with-browser.js#L94-L100

In this code, when we trying to navigate to a page that differs only after the hash, the request occurs in Ajax and there are no page loading events, so Puppeteer doesn't know that it was a request.

So the `response` will be `null` and the function wil

[2019-08-16 07:23] baruchiro commented on #244
I think the solution is to check if `pageToUse.url() === url` because even if the `response` is null, the `page.url` will update.

[2019-08-16 07:49] baruchiro commented on #244
I'd like to add a test to it, to make sure all the cases.
But for that, all the cases need to be defined.

It may not seem important now, but I hope this project will be a leading project in Israeli society, and it may be worthwhile to maintain correct code details.

[2019-08-16 08:26] baruchiro commented on #146
@eshaham Now is the time?

[2019-08-16 20:38] esakal commented on #181
I'm closing this issue as this library is using dependabot do update dependencies automatically

[2019-08-16 20:38] #181 closed

[2019-08-19 06:36] baruchiro opened #248 "waitForSelector with iframe"
The command `page.waitForSelector` will wait until the timeout, if the `selector` is in `iframe`.

[2019-08-19 09:50] baruchiro commented on #248
Additionally, clicking on an element found in the `iframe` will not perform as expected (no exception will be thrown, but the element will not be clicked).

[2019-08-19 18:07] DvirNaim opened #249 "Leumi Card is getting new transaction with amout of 0"
when the scraper is getting a new transaction, it displays it as 0.

i.e -
לאומי קארד: זיכוי - צומת ספרים עזריאלי על סך 0₪ בתאריך 2019-8-19 בסטטוס pending בחשבון 3715

although the transaction is over 0 (as we can see in LeumiCard's app)

[2019-08-19 20:25] esakal commented on #249
Hi @DvirNaim , this happens since in Leumi card when the transaction is in status pending, the api return amount 0.

from your example I can see that the status is `pending` thus the amount is 0.  This is poor result but inevitable one.

I suggest you to filter pending transactions out as they are not guaranteed for any scraper.

[2019-08-19 20:30] esakal commented on #248
is this a puppeteer issue or this library one? if this is puppeteer issue then I think you should check for relevant  issues in puppeteer repository.

[2019-08-19 20:32] esakal commented on #241
@baruchiro please let me know if I can close this issue

[2019-08-20 03:45] baruchiro commented on #248
This is kind of puppeteer issue, but we should handle it in our project.

If you Google about puppeteer with iframe, you will find some closed
issues. But in our project things still act different. So I think that's a
limitation, that we have to deal with it at our level.

On Mon, Aug 19, 2019, 23:30 Eran Sakal <notifications@github.com> wrote:

[2019-08-20 03:46] #241 closed

[2019-08-20 06:11] esakal commented on #248
Our focus in this library is on scraping transactions from Israeli institutes, we are using puppeteer as a framework to help us with this purpose. We should handle this use case only if we have a bug in one of the scrapers and you didn't find a workaround to this puppeteer issue.

Where do you have this issue? in the Mizrahi scraper you are adding? if so please create a reproducible project and I

[2019-08-20 06:20] baruchiro commented on #248
Yes, it happens in the Mizrahi Scraper. I try some kinds of workarounds, but each one leads to a different problem. Therefore, it delays me too much and I try through another page.

I will see where there are more problems and by that we will decide what is the right way.

[2019-08-20 17:44] esakal commented on #248
ok, let me know if you managed, if not create a reproducible example and I will try to assist

[2019-08-21 07:45] baruchiro opened #252 "Remove Line Breaking validation from lint"
Hi, in the `pre-commit` we run the `lint`, who is required to the `linebreaks to be 'LF'`.

But in Windows we work with `CRLF`, so we get the error: `Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style`.

Anyway Git commits all files as `LF`.

[2019-08-21 13:22] baruchiro opened #253 "Replace button.click with page.$eval"
https://github.com/eshaham/israeli-bank-scrapers/blob/59b5056e2e66ff501c3861e0b19dc2c2b76949af/src/helpers/elements-interactions.js#L13-L16

Using [this site](https://try-puppeteer.appspot.com/), I try two options for clicking a link, and only one works.

**Doesn't work**:
[code]

**Works**:
[code]

Related to #248

[2019-08-21 15:21] baruchiro commented on #253
I don't know if to open a new bug, because I don't know yet if we want to support the `iframe`.

The solution to this bug (in #254 ) still doesn't solve the `iframe` problem.
Try using Puppeteer to click on one of the links to change the image of the ball- http://www.littlewebhut.com/articles/html_iframe_example/.

[2019-08-21 19:45] esakal commented on #253
@baruchiro the link you provided in previous comment is not relevant as the iframe only show images and the anchors elements are in the top page. But while trying to play with that one I managed to click inside an iframe. Please try and let me know if it helps:
[code]
1. copy the above code to a javascript file, ie `iframe.js`
2. run `node iframe.js`
3. you will see an alert that is shown once the

[2019-08-21 19:47] esakal commented on #248
see comment [here](https://github.com/eshaham/israeli-bank-scrapers/issues/253#issuecomment-523620427) - might be relevant to this issue as well.

[2019-08-22 04:58] baruchiro commented on #253
Can you replace the `button` with `a[href="https://www.google.com"]`?
The `button` example from you works for me, but with `a` (and `await frame.$('a')`, of course) it does not work.

[2019-08-23 15:20] eshaham commented on #252
@baruchiro as long as you're sure the commit will be sent in LF, that makes sense.
PR welcomed 😄

[2019-08-25 07:25] baruchiro commented on #252
I'm pretty sure it's like that, but I can't find anything accurate.

I'm looking for `checkout system style, commit LF`

[2019-08-28 12:59] #244 closed

[2019-08-29 14:26] baruchiro commented on #74
During my work on the Mizrahi scraper, I came across an API request that the site performs to retrieve all transactions.
The problem is that the request must to send a **secret key** in the `header`.

I haven't checked much, but the key seems to come from an object being initialized in **Angular**.
In addition, the key goes inside the header of the requests the site sends.

So do you know a way to

[2019-08-30 10:34] esakal commented on #74
when the institute is using Angular, ASP.net, react and other libraries that manages state between calls, you should inherit `base-scraper-with-browser.js` and then as long as you are using the same puppeteer page to both login and scrape content, puppeteer should take care of passing header secrets. Following your other PRs I assume you already inherit from this class? if so, you can create a dra

[2019-08-30 15:34] baruchiro commented on #74
I will try to explain the situation better, there may be tips from another direction.

Of course, I inherit from `BaseScraperWithBrowser`, and I've already done some scraping steps (login, for example).
After login, I came across 2 options:
 1. Go to a **legacy address** where there is the HTML inside the `iframe`. (From #177 )
**Advantages:** The HTML is old and simple, has an `id` for most eleme

[2019-08-31 19:14] esakal commented on #74
Thank you for your detailed explanation. I know better understand what you try to achieve and it is better then just reviewing the code.

*legacy address* did you try using the same page instance you logged in with to access the iframe url directly (unless they have post messages or direct calls to `top` it should work).

If not, I do think `puppeteer` is natural choice for SPA (Angular, React) an

[2019-09-01 06:11] liranso commented on #249
Hi @esakal
i cannot find a "pending" status on transactions with "actualPaymentAmount" = 0
however i did find a pattern where these pending transactions have both "actualPaymentAmount" and "paymentDate" equals to **null**
we can filter these transaction out.

Also, i noticed that sometimes the last api call to leumi card returns a json with result=null - which causes the scraper to fail. we can al

[2019-09-01 06:44] esakal commented on #249
Hi @liranso, we don't actually have a bug here hence this issue should have been closed. So I'm referring to your comment separately.

however i did find a pattern where these pending transactions have both "actualPaymentAmount" and "paymentDate" equals to null

Once a transaction is marked as `Pending` all the other fields are not guaranteed to include valid values. This is true for all scrapers.

[2019-09-01 08:40] baruchiro commented on #74
If I access directly to the `iframe` URL, I got an empty page, probably a request is missing. (I don't know what is the `top` you mentioned)

----

I will take the paging option for now. Thanks.

[2019-09-01 18:44] liranso commented on #249
@esakal i missed the think with how we treat pending transaction in the code, now i see what you mean.
thanks

[2019-09-01 19:11] esakal commented on #249
@liranso 👍 feel free to open new issues if you have further questions.

[2019-09-01 19:11] #249 closed

[2019-09-01 19:15] esakal commented on #237
fixed as part of #234

[2019-09-01 19:15] #237 closed

[2019-09-04 11:53] baruchiro commented on #74
I found it, and it is very simple!

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforrequesturlorpredicate-options

[2019-09-08 21:11] eitansela opened #257 "SyntaxError: await is only valid in async function"
Steps I executed in order to reproduce:
$ npm init
$ npm install israeli-bank-scrapers --save

Node version: v12.10.0

[code]

Maybe it is a begginer issue...
Help will be appriciated.

[2019-09-10 11:59] esakal commented on #257
Hi @eitansela ,

I assume you try to run this method directly in the file/module. if so, you should wrap it with IIFE function:
[code]

[2019-09-10 13:22] eitansela commented on #257
Hello @esakal, thanks for the quick response.
I followed the Getting started guide I did exatclly what was written.

I am relativly new to NodeJs/JavaScript...
Can you maybe attach source code of a working example?

[2019-09-10 17:34] esakal commented on #257
Try the following
[code]

let me know if it worked for you

[2019-09-10 21:13] eitansela commented on #257
@esakal works amazing!
Thanks!

[2019-09-10 21:13] #257 closed

[2019-09-15 16:23] #240 closed

[2019-09-20 08:31] baruchiro opened #265 "Problems with Headers object"
https://github.com/eshaham/israeli-bank-scrapers/blob/443d44d757ca64a13aa675604c5d8be06b1c2152/src/helpers/fetch.js#L57-L77

I have a problem with line 64, it throws a `ReferenceError: Headers is not defined` error.

If I trying to use `nodeFetch.Headers` it works, but then in my MizrahiScraper, the method (`fetchPostWithinPage`) throws `Evaluation failed: ReferenceError: _nodeFetch is not defined

[2019-09-27 13:35] baruchiro opened #269 "[Question] There is a plan for GUI?"
Hi, there is a plan for developing a GUI app (with Electron or something else)?

Or will I start developing myself?

[2019-09-27 14:05] eshaham commented on #265
@baruchiro code running under page.evaluate are evaluated in the context of the browser. So I don't think it has to do with node.
But this is really weird. Perhaps you can try to remove the Headers class and just use an object?
[code]

[2019-09-27 14:06] eshaham commented on #269
@baruchiro we don't have plans to create a GUI, especially not under this project. Feel free to develop one yourself, we'll be more than happy to link to it from README once it's ready.

[2019-09-27 14:06] #269 closed

[2019-09-27 14:42] baruchiro commented on #265
If I using your solution I getting the error `ReferenceError: _objectSpread is not defined`.
So my solution will be to use `Object.assign`.

[2019-09-29 06:13] #265 closed

[2019-10-03 23:11] orzarchi opened #276 "Release 0.7.0"
Is there any reason why the new version has not been published to NPM? it's been 17 days.
I've had to create a fork just to publish it.

[2019-10-04 05:04] eshaham commented on #276
I was sure I completed the release, sorry.
Done now.

[2019-10-04 05:04] #276 closed

[2019-10-04 09:55] orzarchi commented on #276
Thanks!

[2019-10-04 11:29] baruchiro opened #277 "WaitUntil networkidle0 when you evaluate"
https://github.com/eshaham/israeli-bank-scrapers/blob/c0c1bccea7dedeeef0caeb258b4df75e5cbd629a/src/scrapers/base-scraper-with-browser.js#L147-L150

Without `options: { waitUntil: 'networkidle0' }`, the `waitForNavigation` will return before the page is loaded, and then, the next method- `getCurrentUrl` tring to `page.evaluate(() => window.location.href)` and throws `Execution context was destroyed

[2019-10-04 14:01] esakal commented on #277
I'm not sure why it happens to you and not to other scrapers but I see that you handled it in #256
[code]
so i'm not sure if we actually need to modify the base class unless we will have issues in other scrapers

[2019-10-04 14:08] #277 closed

[2019-10-06 05:51] esakal commented on #276
@orzarchi  consider using the [prerelease version](https://github.com/eshaham/israeli-bank-scrapers#getting-deployed-version-of-latest-changes-in-master) next time, this is a new feature added following your issue to provide immediate solution for people once a fix was merged.

[2019-10-27 05:33] baruchiro commented on #252
According to [this](https://eslint.org/docs/rules/linebreak-style#using-this-rule-with-version-control-systems) in `lint` docs, I will change the `.gitattribute` file.

[2019-11-01 09:40] baruchiro opened #296 "Bank Leumi failed with UNKNOWN_ERROR"
After login, the Bank Leumi scraper failed with `{success: false, errorType: "UNKNOWN_ERROR"}`

[2019-11-01 13:21] #296 closed

[2019-11-01 13:28] esakal commented on #296
@baruchiro Until @eshaham will release an official version, feel free to use the prerelease version automatically published to npm. just install `npm run israeli-bank-scrapers@ next`

[2019-11-01 13:37] baruchiro commented on #296
Also relevant to `-core`?

[2019-11-01 13:46] esakal commented on #296
yes, it is part of the automatic process added lately. `npm run israeli-bank-scrapers-core@next`

[2019-11-02 22:23] #74 closed

[2019-11-05 06:18] guygberg opened #299 "Cannot read property 'transactions' of null"
Hi

I have been using this leumi scraper.
I suddenly get the below error
Can you please help me understand what heppen?

"scraping failed for the following reason: GENERIC
scrapTreeWalkerd for the following reason: Cannot read property 'transactions' of null"

Regards
Guy

[2019-11-05 18:22] liranso opened #300 "leumi scraper fails"
Login process succeeded but leading to a different page than the current code expected.
The "getPossibleLoginResults" implementation on the leumi adapter, should expect this **"/eBanking\/SO\/SPA.aspx/"** on login success instead of **/ebanking\/SO\/SPA.aspx/**.
(they change the B to be upper case).

[2019-11-05 19:43] esakal commented on #300
Hi @liranso Actually it was already fixed as part of #296. see my last comment in that issue. Hope it helps.

[2019-11-05 19:43] #300 closed

[2019-11-09 17:52] baruchiro commented on #146
Here are the stages of the proposal I am thinking about:
I present them as steps, since it's pretty obvious that it's all too much to implement at once. So each stage has value in itself (in my opinion).

1. **Code Owners:** Github allows us to enforce [Code Owners](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners) by file, when Pull Request opens, if

[2019-11-10 07:13] ifeins opened #306 "Leumi Card scraper returns no transactions"
I'm running the leumi card scraper and getting the following output:

[code]

In the leumi card page I see that there are 2 transactions and it seems that the scraper is able to find them ("scraped 2 transactions from account...") however then it prints "no transactions".

Any idea why this happens?

[2019-11-10 21:33] esakal commented on #306
Hi @ifeins from your attached code it seems that you are using a very old version of this library. We switched to unit-tests approach in July 12 and it seems that your code it using the old wizard cli.

Which version are your running?

[2019-11-11 19:56] ifeins commented on #306
@esakal when you refer to "library", do you mean `israeli-ynab-updater` or `israeli-bank-scrapers`?
because the screenshot is from `israeli-ynab-updater` which has a dependency on `israeli-bank-scrapers`.
In any case I'm using the latest version of `israeli-ynab-updater` which uses version `0.6.9` of `israeli-bank-scrapers`.

I did however build the latest version of `israeli-bank-scrapers` and us

[2019-11-11 19:56] #306 closed

[2019-11-11 21:18] esakal commented on #306
@ifeins nice! I was confused because I built this CLI for both repositories and later removed it from this one. Anyway you should consider openning an issue in `israeli-ynab-updater` so Elad will be able to track that one and update its dependencies.

[2019-11-13 16:06] ifeins commented on #306
@esakal @eshaham btw I believe that version 0.7.0 still does't have the latest changes, both for leumi-card and for bank-leumi. Can you draft a new release and publish to npm?

[2019-11-13 19:14] esakal commented on #306
@ifeins publishing new versions is done by Elad. It is done manually at the moment due to lack of good unit-tests (since we scrape sites) so it might takes a while between deployment.

To overcome this issue we added an automatic deployment that is triggered everytime we push things to master. it is tagged as `next` in npm [link](https://www.npmjs.com/package/israeli-bank-scrapers/v/0.7.1-dev.05bf

[2019-11-14 08:07] ifeins commented on #306
@esakal got it, thanks for the info.

@eshaham is there any specific cadence to releasing a new official version of `israeli-bank-scrapers`?

Alternatively is it possible to change `israeli-ynab-updater` to use `israeli-bank-scrapers@next` instead of a fixed version?

[2019-11-14 08:35] eshaham commented on #306
@ifeins just updated `israeli-ynab-updater` to use 0.7.0.
Interesting idea to use `israeli-bank-scrapers@next`, though I would use `israeli-bank-scrapers@latest` - @esakal wdyt?

[2019-11-14 11:37] esakal commented on #306
the `latest` and `next` are only npm tags used during install/update, in `package.json` and `package-lock.json` it registers the actual value the tag referenced to at that point. So basically you cannot change it to use `next`. I might be missing something, wdyt?

[2019-11-16 16:11] eshaham commented on #306
no, you're right... 😞
I guess we will need to remember taking the latest release as soon as possible (or when @dependabot-bot recommends it)

[2019-11-17 18:29] eshaham commented on #299
@esakal do you have a Leumi account? Is the scraper working?
@guygberg maybe you can try debugging your code by running `node --inspect --inspect-brk <your_file>`?

[2019-11-17 18:34] eshaham commented on #253
@esakal @baruchiro where do we stand with this issue?

[2019-11-17 18:35] eshaham commented on #252
@esakal was this fixed by #291?

[2019-11-17 18:36] eshaham commented on #248
@baruchiro @esakal can we close this issue?

[2019-11-17 19:16] baruchiro commented on #252
Yes, #290 was supposed to close this.

[2019-11-17 19:16] #252 closed

[2019-11-17 22:11] esakal commented on #248
I think we can since we already merge Mizrachi and this PR was created to support that scraper.

@baruchiro please confirm

[2019-11-17 22:12] esakal commented on #253
I think this is redundant. It was created to support Mizrachi scraper which was already merged.

@baruchiro please confirm.

[2019-11-17 22:18] esakal commented on #299
Ah, I have missed this issue. It worked for me last time I checked.
@eshaham it works for me, I just scraped two different accounts of Leumi.

@guygberg you can test your code as Elad suggested or run the sources directly as described [here](https://github.com/eshaham/israeli-bank-scrapers/blob/master/CONTRIBUTING.md#testing-the-scrapers)

If it still fails, please add some logs from the cli

[2019-11-18 13:53] baruchiro commented on #248
OK, I don't remember, but probably I found a workaround or something.

[2019-11-18 13:53] #248 closed

[2019-11-18 13:58] baruchiro commented on #253
@eshaham, @esakal I think this is a bug we couldn't reproduce.
This issue can close, unless you want to keep potential bugs open.
In the worst case, this bug will reopen in two years 😉

[2019-11-25 20:19] #9 closed

[2019-11-25 20:19] #31 closed

[2019-11-25 20:19] #75 closed

[2019-11-25 20:19] #144 closed

[2019-11-25 20:19] #153 closed

[2019-11-25 20:19] #76 closed

[2019-11-25 20:19] #171 closed

[2019-12-03 21:33] brafdlog opened #322 "Discount scraper stopped working"
Discount scraper fails with the following error: `Login failed with UNKNOWN_ERROR error`

[2019-12-03 22:02] brafdlog commented on #322
The issues is that the expected success url after login is: `https://start.telebank.co.il/apollo/core/templates/default/masterPage.html#/MY_ACCOUNT_HOMEPAGE`

But the actual url is `https://start.telebank.co.il/apollo/core/templates/RETAIL/masterPage.html#/MY_ACCOUNT_HOMEPAGE`

I see that discount have updated their ui and I assume in this new ui the success url changed

[2019-12-03 22:02] brafdlog commented on #322
Created a pr to fix #323

[2019-12-04 11:15] brafdlog opened #324 "Upgrading from version 0.6.9 to 0.8.0 breaks the visa cal scraper"
With version `0.6.9` the visa cal scraper works correctly.
After upgrading to version `0.8`, visa cal scraping fails with the following error message:
`invalid json response body at https://restservices.cal-online.co.il/Cal4U/CalAuthenticator reason: Unexpected token < in JSON at position 0`

[2019-12-05 04:29] baruchiro opened #325 "Leumi Card failed"
[code]

- [ ] Fix the scraper.
- [ ] print more detailed error.

[2019-12-05 10:57] baruchiro commented on #325
Sorry, it was a popup

[2019-12-05 10:57] #325 closed

[2019-12-06 07:24] esakal commented on #322
pr #323 merged, as mentioned in the PR It might take time until it will be released as official latest. in the meanwhile feel free to pull the `next` tag from npm:
[code]

[2019-12-06 07:24] #322 closed

[2019-12-06 07:33] esakal commented on #324
hi @brafdlog,
is this still relevant? I managed to scrape 2 different users with 4 accounts (cards) total.
also, our source code doesn't include `CalAuthenticator` term. It might be an internal redirect tho.

let me know if it still happens

[2019-12-06 07:35] esakal commented on #299
@guygberg can you please update about this issue? was this resolved or still relevant?

[2019-12-06 12:37] brafdlog commented on #324
After installing the @next version it works. Closing the issue.
Thanks

[2019-12-06 12:37] #324 closed

[2019-12-07 18:36] guygberg commented on #299
Nope all good.
Thank you very much

On Fri, Dec 6, 2019 at 9:35 AM Eran Sakal <notifications@github.com> wrote:

[2019-12-08 06:53] esakal commented on #299
Great!

[2019-12-08 06:53] #299 closed

[2019-12-18 05:21] baruchiro commented on #269
@eshaham @esakal I started a [GUI project](https://github.com/baruchiro/israeli-bank-scrapers-desktop), and I planing to invite beta testers in the coming days.

I see my project as part of your project, so I want you to review **anything**, from the project name to design decisions.

More details are in the README.

[2019-12-21 12:57] esakal commented on #269
Hi @baruchiro. I'm glad you enjoy israeli-bank-scrapers project and find it useful.
Israeli-bank-scrapers is an infrastructure that allow other people to develop their own applications. It was not intended to be a standalone solution.

There are many decisions in the design that  confirm the state above. For example, when developing a local application using electron you should design for security

[2019-12-21 17:38] baruchiro commented on #269
Sorry, I didn't use the right words.

I totally agree on the idea of separating the repositories. What I meant to say is that because my project is (currently) intended to be a UI for `israeli-bank-scrapers`, I think @eshaham and @esakal will understand the needs he is trying to meet, and the requirements.

I generally invite you to do a review of my project because I think you understand it, and

[2019-12-22 14:49] eshaham commented on #269
@esakal totally agree, this belongs in the known projects section. I think that's what @baruchiro had in mind anyway.
@baruchiro I'd be more than happy to go over your project and even use it, but might take some time until I get to it 😅

[2020-01-06 16:27] baruchiro opened #341 "Leumi Card renamed to MAX"
Just see in the URLs and so...

[2020-01-06 16:34] baruchiro commented on #171
So, I see the #186 is merged. Any updates?

[2020-01-06 18:26] esakal commented on #171
#186 was not merged, it was closed. I created a branch that is using adapters. I need to complete it and add documentation. @Urigo should use this PR to add bank hapoalim business login adaper so we will be able to "feel" the scalability and then Elad should review everything and provide his inputs.

I will create a draft PR later this week with a list of open tasks.

[2020-01-12 06:42] adiohana commented on #341
Hi @baruchiro
I would like to contribute to this project.
any chance for some more details about this issue?

[2020-01-13 06:38] baruchiro commented on #341
This project uses the old name of "LeumiCard", and "LeumiCard" changed their name to "Max", so you need to change all "Leumi Card" in this project to "Max".

I'm just waiting to hear @eshaham 's opinion, but I think you can start because I don't see a reason for it to be a problem.

[2020-01-13 06:43] eshaham commented on #341
Totally makes sense

I would like to contribute to this project.
any chance for some more details about this issue?

PR welcomed

[2020-01-13 13:25] adiohana commented on #341
@eshaham @baruchiro
Just created my first PR :]
I have a strong background in financial web-scraping (mainly in US market) and I just heard about this cool project; I will definitely contribute more in the future.

[2020-01-13 16:52] adiohana opened #349 "Add loan account to returned entities"
In general, I think that users would like see their loan accounts (regular loans, mortgages, etc.)
This will be useful for many use cases.

[2020-01-18 16:13] adiohana commented on #349
@baruchiro @eshaham
what do you think? can we start implement this?

[2020-01-18 16:23] baruchiro commented on #349
First of all, to not mislead you, I'm not a maintainer of this project.

Also, I don't have loans and mortgages, so I don't know what is needed.

And see #76.

[2020-01-24 14:48] #253 closed

[2020-01-26 07:19] eshaham commented on #349
@adiohana while this is very important financial info, it won't be relevant to most users of this repo IMO. We will find it is very hard to add this info across the different scrapers.
There are many more basic things we need to do across the different scrapers, like more basic information about the checking account.
Let's skip this for now until the repo is much more mature.
Closing for now.

[2020-01-26 07:19] #349 closed

[2020-01-26 07:19] eshaham commented on #341
merged 👍

[2020-01-26 07:19] #341 closed

[2020-01-26 10:17] adiohana commented on #349
@eshaham thanks for the input.
do we have the list of essential info we want to add across scrapers? I will be happy to do some work

[2020-01-26 10:49] baruchiro commented on #349
I think this is the object we want to recive from each account:

https://github.com/eshaham/israeli-bank-scrapers/blob/88bd7b2a5a0175086c988b68345d0c6f7f3e0773/README.md#L73-L96

[2020-02-03 17:10] gczobel opened #363 "Question. New scraper guidelines"
Any guidelines about how to create a new scraper?
Use the chrome inspector looking for the page structure?

[2020-02-04 15:22] dratler opened #364 "Missing unionbank"
Hi @eshaham ,
You are missing unionbank (url : https://www.unionbank.co.il/igud/homepage/).
We at #Intuit would like to contribute to this effort.
@kalinoy and @shanigad from #Intuit.

[2020-02-05 12:10] SafiX opened #365 "Mizrahi fetchData not working"
Trying to simply get data with the default example.

Mizrahi.js -

`const request = await this.page.waitForRequest(TRANSACTIONS_REQUEST_URL);`

The request that is being waited for already happens in the 'postAction' step, so this line will time out.

[2020-02-05 12:14] SafiX commented on #365
I've fixed it locally if you're interested. Currently I don't have permissions...

[2020-02-06 16:27] dratler opened #368 "Add more test coverage"
We would like to add more test coverage to this project.
@kalinoy , @shanigad , @dudiventura , @NoamGoren and @dratler

by #Intuit

[2020-02-06 19:13] esakal commented on #363
Hello @gczobel, which institute are you planning to scrape?

1. You should read the [contributing.md](https://github.com/eshaham/israeli-bank-scrapers/blob/master/CONTRIBUTING.md) file, it contains useful information.
2. You then need to decide if you are going to scrape the web application or the mobile api. It actually depends on which api you have access to in your environment.
3. use the chrom

[2020-02-06 19:25] esakal commented on #365
@SafiX hi :) nice to e-meet you. Feel free to contribute. You can fork this repository and create a PR from your fork into this repository. see [this](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork) article.

I hope this help
Eran

[2020-02-11 21:11] eshaham commented on #368
hey @dratler
It's great to hear you guys want to help.
We definitely need better test coverage.
What do you have in mind?

[2020-02-11 21:14] eshaham commented on #364
@dratler PR welcomed, please follow the [contribution guide](https://github.com/eshaham/israeli-bank-scrapers/blob/master/CONTRIBUTING.md)

[2020-02-12 20:06] dratler commented on #368
Well I have talk to the team.
we would like to test i\o and also to add some unit tests

[2020-02-12 20:08] dratler opened #370 "Adding Data Validation \ Sanitation to BaseScript"
When loading an account \ transition we can normalise the data  @DudiVentura

[2020-02-12 20:09] dratler opened #371 "Add performance improvement such as url filtering"
When page been loaded we can reduce it's loading time be dropping images ,fonts etc

[2020-02-15 19:12] SafiX commented on #365
Hi, so after changing the default landing page after login, I cant reconstruct the issue anymore. Closing the issue.

[2020-02-15 19:12] #365 closed

[2020-02-16 07:26] blocka opened #372 "Visa cal not working"
The authentication endpoint is failing with a 503. I couldn't find any information about the REST api online (https://restservices.cal-online.co.il), so I'm guessing this a completely undocumented api, that may have been blocked?

[2020-02-29 17:11] eshaham commented on #372
@blocka not sure, just ran it now and it's working for me.
can you check again? if not working, do you manage to login into the website on the browser?

[2020-03-01 04:19] blocka commented on #372
I can log into the website fine. I haven't yet tried from the scraper, but a manual HTTP request (eg., using postman), still fails:

[code]

[2020-03-02 06:54] eshaham commented on #372
@blocka you're referencing an old version of the visacal code - see here:
https://github.com/eshaham/israeli-bank-scrapers/issues/324

seems like the URLs have changed.
FYI, they are indeed undocumented.

[2020-03-02 06:55] eshaham commented on #372
closing this issue for now

[2020-03-02 06:55] #372 closed

[2020-03-02 07:12] blocka commented on #372
Thanks...upgrading fixed the problem :man_facepalming:
If you can point out to me the documentation though, that would be appreciated...I could not find it, and putting the URLs into google didn't come up with anything.

[2020-03-08 18:14] davlasry opened #383 "get account current balance"
Would be cool to get the current balance for a specific account on top of getting the transactions. Could I work on it?

[2020-03-13 14:15] esakal commented on #383
Hi @dadou4243,
Currently the scrapers are a bit limiting because they share the same api for all companies. if we want to extend the data being scraped we need to add support in all scrapers before we can actually merge it to master.

A few months ago I was working on an idea that change the architecture of the scrapers that split the scraping process to smaller units (adapters). See #384 pr. Alth

[2020-03-18 07:02] LevBuchel opened #387 "Ubuntu - Unable to open X display."
Hello and thank you for your work on this open source project!
I have ran into an issues.
I am using Ubuntu 16.04 and i have installed all dependencies as required in the puppeteer guide.
When testing the scraper from my own application i am getting a response with the following error:

After going through similar issues, it seems that i have to set the `browser` option with `headless: true,`
I ca

[2020-03-18 12:00] LevBuchel commented on #387
Ok, so i think i found the code (base-scraper-with-browser.js):
[code]
It seems that if the browser option was not set then it gets the headless value from  !showBrowser option.
Which means i have to pass showBrowser as false, which i did.
And i got this error:
`"scraping failed for the following reason: GENERIC"`

Regardless, maybe passing the browser option causes an issue?

[2020-03-20 12:37] amitdahan commented on #152
Hey guys! Almost 2 years later, any chance the opinions above changed? 🤞🤞🤞

Really appreciate the work being done here regardless!

[2020-03-20 16:35] amitdahan commented on #152
Does this mean you guys'll accept my PR?

[2020-03-20 19:41] esakal commented on #152
Not yet :) I re-open the ticket for discussion. Last time we discussed about it @eshaham didn't favor Typescript. Let's wait for his insights about it.

[2020-03-27 10:59] gczobel opened #395 "MAX card error"
I added a new scraper for MAX card and is not working.

scraping Max
Max: START_SCRAPING
Max: INITIALIZING
Max: LOGGING_IN
Max: LOGIN_SUCCESS
Max: TERMINATING
Max: END_SCRAPING
success: false
error type: GENERIC
error: Unknown transaction type תשלום חודשי
Error: Unknown transaction type תשלום חודשי
    at exports.default (c:/ynab/israeli-ynab-updater/src/scrape/scrape-base.js:62:11)
    at exports

[2020-03-27 11:57] esakal commented on #395
Hi @gczobel we are adding txn types once we encounter them. I didn't get this one yet but the fix is quite trivial.

please pull #396, run it and let me know if it fixed your problem. If so I will merge it.

- Eran

[2020-03-27 15:46] gczobel commented on #395
Ok, I took the code and run with the change and found another missing type.
These two are missing:
const MONTHLY_PAYMENT = 'תשלום חודשי';
const FUTURE_PURCHASE_FINANCING = 'מימון לרכישה עתידית';

[2020-03-28 08:03] gczobel opened #397 "Isracard shotef +60"
Hi,
I'm having an issue with Business Isracard CC.
These card gives +60 days from the day the charge is created. For example, charges from 01/March are part of the May statement.

Now, in `getAllMonthMoments` in `dates.js`
https://github.com/eshaham/israeli-bank-scrapers/blob/ad5dda57bddbdcfc53aa7db3f92dfec475f3e647/src/scrapers/base-isracard-amex.js#L160

[code]

The `allMonths` are calculated fr

[2020-03-28 08:27] esakal commented on #397
hi
are those transactions visible in their site? can you provide a snapshot and blur your sensitive information?

If it does appear there and it is only a start time it should be possible to allow custom end time

[2020-03-28 09:07] esakal commented on #395
Try now

[2020-03-28 09:31] gczobel commented on #397
Yes, is visible in the site. You only need to change the date to May.
See the screenshots.

![dateselection](https://user-images.githubusercontent.com/754466/77819964-e930b700-70ef-11ea-90f0-505bc1d0b1fd.png)
![CC_Shotef60](https://user-images.githubusercontent.com/754466/77819965-ec2ba780-70ef-11ea-8380-7064d4d930db.png)

[2020-03-28 12:33] gczobel commented on #395
Yes. Is working now.
Thanks!

[2020-03-29 11:19] #395 closed

[2020-03-29 14:47] JavierChames opened #399 "Question about visa-cal"
Hello al i would like to ask a question about Visa cal scrapper,i use raspberry pi for this great project,for other acoounts like pohalim or isracard all works ok somwhow,i don't understand why,Visa cal stack,i i  dont know where,the same code in the PC works ok,some clue what or where to inspect?
Thanks

[2020-03-29 15:06] esakal commented on #399
can you send a print screen of the error stack / message?

[2020-03-29 18:40] JavierChames commented on #399
Hi, i don't have actually screenshot...
according the code...i have a main async function

async function getdata() {

}

somehow the function doesn't end.. I mean, stuck
I have some console.log of the data that appears in the console, but then something is stuck and I don't know what-as mentioned its in raspberry pi

[2020-04-06 12:42] gczobel commented on #397
@esakal No workaround for this?

[2020-04-10 12:11] dudiventura opened #411 "Missing beinleumi"
Hi @eshaham ,
You are missing the beinleumi bank (url: https://www.fibi.co.il/wps/portal/ ).
I've already contributed to the project along with the #intuit team by adding a scraper for Union Bank.
We would like to contribute to this effort as well.

[2020-04-10 17:41] esakal commented on #399
Hi,
Bank Hapoalim and Isracard scrapers are using puppeteer to scrape the data. Visa Cal doesn't. I understand that you have access to console log. Please share them here and remove sensitive data.

You can also add your own custom comments to figure out where it get stuck. Once you find the relevant piece of code share it here and we will try to assist

Eran.

[2020-04-10 17:50] esakal commented on #397
Hi,
I can mark this request as an enhancement and we can add it to the queue. It might take a while thou because we have some infrastructure improvements we are planning and has higher priority.

In the meanwhile you can easily fork this library and modify the code, it is quite easy as you don't really need to consider breaking api changes and other things that we need to think about before adding

[2020-04-10 17:59] esakal commented on #387
Hi @LevBuchel, sorry for not replying sooner. I haven't seen the email notification. Do you still experience this issue?
You wrote that you set all the relevant puppteer dependencies but this is something that happens automatically when you install dependencies so I'm not sure if you are trying to use the core version or the default version.

To answer your first question, assuming you are using t

[2020-04-12 04:18] gczobel commented on #397
The workaround is ok...
But please, mark the issue as a enhancement.

Thanks!

On Fri, Apr 10, 2020 at 8:50 PM Eran Sakal <notifications@github.com> wrote:

[2020-04-14 08:51] #364 closed

[2020-04-14 10:29] esakal opened #415 "possible problem with union bank scraper"
Hi @dratler
Line 168 doesn't seems correct.

https://github.com/eshaham/israeli-bank-scrapers/blob/a983b8b7741271d5f6797761dd2099ba447302b5/src/scrapers/union-bank.js#L167-L170

Since `elementPresentOnPage` returns a `boolean`, checking `offsetParent` will return `undefined` and the condition will always be true.

https://github.com/eshaham/israeli-bank-scrapers/blob/a983b8b7741271d5f6797761dd2099

[2020-04-15 05:47] #411 closed

[2020-04-15 08:46] dudiventura commented on #415
Hi @esakal
Thank you for brining it up, you are right.
It something we started to check during the development and didn't noticed that we left it like that which is wrong.

I'm deploying a fix to this function now.

[2020-04-15 10:29] LevBuchel commented on #387
Hello @esakal thank you for your reply.
I am using the default version.
Yes i have passed `showBrowser: false` and the error i am getting is:
[code]

When `showBrowser: true` i am getting the next error:
[code]

This is a full copy of the console log.

[2020-04-15 11:27] #415 closed

[2020-04-17 11:50] sagiba opened #418 "Returning raw transaction data"
Currently the scrapers are only returning the transaction data in the common structure after conversion. Some users might be interested in accessing raw transaction data without any conversion, but this is currently impossible.

Can we add a way to return the raw transaction data in addition to the common format?
I gave it a try for the CAL scrapers here:
https://github.com/sagiba/israeli-bank-scr

[2020-04-17 14:44] esakal commented on #418
@sagiba,  we have two types of scrapers, those who are using the puppeteer doesn't have a real raw transaction because they scrape the minimum information needed to create the structured transaction. Providing the raw transaction is useful only for companies that are scraping the api and not using puppeteer like visa cal. Even for those companies there might be a "detailed" view (extra information

[2020-04-17 15:53] sagiba commented on #418
@esakal, just because a scraper is doing screen scraping using puppeteer vs. using a proper API does not mean that there's no raw data. Look at the Hapoalim scraper for example, it is using puppeteer yet is still receiving JSON. Even if you were doing HTML parsing instead of getting a JSON, there's still raw data and it's still structured, e.g. if you are scraping an HTML table with transactions a

[2020-04-18 13:31] ocherfas opened #419 "Passing args to puppeteer launch method"
In my project, I run the scrapper from inside a docker container, and I want to make is as easy as possible. To prevent some issues that come up on the container and puppeteer, I need to pass an argument to the underline chrome process `--no-sandbox`.
I do not see any option to pass it through the api currently.
I guess that the required code change would be under https://github.com/eshaham/israel

[2020-04-18 19:49] JavierChames commented on #399
Hello
so-these is my code(please don't jug me for code review...

const puppeteer = require('puppeteer');
const { createScraper } = require("israeli-bank-scrapers");
//const sheetservice = require("./Sheets/AddToGoogleSheet");
const file_name = "./cal.txt";
let moment = require('moment');
//const dayBacksToShow = 2;
const dayBacksToShow = new Date().getDate();
let myCredentials = read_crendentials

[2020-04-19 17:16] esakal commented on #399
I'm not sure if this is causing the problem but please try to change the call `await` before the `getdata()`.
so the last line will be `await getdata();`

if it doesn't compile, try
[code]
let me know what happended

[2020-04-19 17:37] esakal commented on #419
Hi @ocherfas,
I think the API already support your use-case. We are allowing to pass the browser instance exactly for that purpose. Can you try in your code to provide the following browser as part of the `options` object?
[code]

[2020-04-19 19:27] JavierChames commented on #399
unfurntally , no change even when adding
(async function() {
    await getdata();
})();

the reason I call the main function to collect data after the error is to try again if I fail to scrap, for Hapoalim/Isracard it works perfects..
also in my pc, all works ok-maybe its something related to environments?

[2020-04-19 20:23] #368 closed

[2020-04-19 20:32] JavierChames commented on #399
I found the solution(workaround?)
I added just before the main function finish:
await browsertype.close();
and then the scrip finish...

[2020-04-19 21:06] esakal commented on #399
Hi,
Actually is sound like the solution you were looking for. I have missed it when I read your code but you do need to close connections. In some OS there are guards that can handle memory issues and force script to complete but maybe in raspberry pi it does wait for someone to close that connection.

Nice catch!

but regardless, you should imo use await with `getdata` because otherwise you are n

[2020-04-20 08:00] JavierChames commented on #399
Solution found, in Raspberry pi need to close the browser connection at the end...
Issue closed, Thanks @esakal  for the support

[2020-04-20 08:00] #399 closed

[2020-04-27 18:52] ocherfas commented on #419
Seems to work thanks!.
Maybe would be nice to add documentation for it. What do you think?

[2020-04-28 15:00] ocherfas commented on #419
Actually because I got into some issues for handling the browsing instance (for example closing the browser instance), I still think the better solution would be to pass extra arguments for the underline instance.
In the package, the puppeteer instance is handled correctly. As a user I would much rather use that handling and just pass arguments.

[2020-05-06 17:45] #371 closed

[2020-05-06 17:45] #370 closed

[2020-05-06 17:45] #363 closed

[2020-05-08 12:39] sagiba commented on #418
FYI, I'm experimenting with more flexible ways to have pluggable conversion logic, here:
https://github.com/sagiba/israeli-bank-scrapers/tree/visa-cal-improvements-ts

I'm doing this on the typescript branch because the type checking helps a lot when dealing with the raw transaction types, and also trying to add some test coverage for this delicate area.

Feedback is welcome..

[2020-05-08 13:42] esakal commented on #418
Hi,
Can you point on the main differences of the changes you did in your branch?

Keep in mind that i'm still working on the Typescript branch to enable `strict` `noImplicitAny` and `strictNullChecks` flags in `tsconfig.json` so you will probably have conflicts.

[2020-05-08 14:19] sagiba commented on #418
What I'm doing is to extract all of the conversion logic from raw transaction data to the common CreditCardTransaction type, into a new [TransactionConverter](https://github.com/sagiba/israeli-bank-scrapers/blob/233ca7ec2776ed0c21ba53ad3f8755c51f2b8073/src/scrapers/visa-cal/converter.ts) class. The idea is that you'd be able to inject an alternative converter to alter the conversion logic, either

[2020-05-08 17:28] esakal commented on #418
I assume the motivation is to allow people to project the data differently to their applications by replacing the default converter with their custom one? If so I'm not sure it applies to the majority as it is not a practice most people will do. Replacing the converter with your own copy means that once a company changes its' internal and we updates the default converter, users will not be aware o

[2020-05-09 14:51] hcosteff opened #441 "Otsar Hachayal login fails"
worked just a few weeks ago:
[code]

[2020-05-16 22:50] dadou4243 opened #442 "Bank Discount error after login"
When trying to scrap transactions from my Bank Discount account, I receive the following error:
scraping failed for the following reason: generic כרגע לא ניתן להציג את המידע. אפשר לנסות שוב מאוחר יותר או לפנות למוקד התמיכה בטלפון: 03-9439191 ובטלבנק 6111*

I can see in the chromium browser that it logs in and then the window is closed

[2020-05-16 23:17] dadou4243 commented on #442
I add a wrong startDate...

[2020-05-16 23:17] #442 closed

[2020-05-22 05:52] esakal commented on #152
@lielran just a short update (so the bot will not close this issue :) )
We are working on Typescript support here #404

[2020-05-22 06:07] lielran commented on #152
Thanks Eran!

On Fri, May 22, 2020 at 8:52 AM Eran Sakal <notifications@github.com> wrote:

[2020-05-25 09:42] JavierChames opened #447 "Visa cal issue-probably related to site(not sure where/what is the problem)"
since today I get this message for visa_cal
scraping failed for the following reason: UNKNOWN_ERROR No token found in authResponse: "אנו מתנצלים, עקב תקלה לא ניתן לבצע את הפעולה כעת.|ניתן לנסות שנית במועד מאוחר יותר"

[2020-05-31 08:48] sagiba commented on #80
Has there been any consensus regarding this issue?

I just ran into it, with a card that had GBP transactions that were charged in USD. For example:
[code]

The result of this with the current isracard scraper is:
originalAmount = -5.6, chargedAmount = -7.59, originalCurrency = USD

This is wrong, because the original currency is GBP and not USD.

[2020-05-31 10:12] JavierChames commented on #447
I found the issue, my password expired and needed to change it
needed a better way to detect it...
![image](https://user-images.githubusercontent.com/12410221/83349822-60790600-a340-11ea-960f-19b609b7c3be.png)

[2020-06-01 13:14] esakal commented on #447
Hi,
It happens frequently as it is not easy to simulate change password scenario. Next time it happens to you if you can create a PR with a fix it would be great!

Comment on this issue if you need further assistance.

[2020-06-01 13:14] #447 closed

[2020-06-01 13:15] esakal commented on #441
@hcosteff did you resolve it or is it still happening?

[2020-06-01 13:17] esakal commented on #419
@eshaham wdyt?

[2020-06-01 13:18] esakal commented on #418
@eshaham  wdyt?

[2020-06-01 13:21] esakal commented on #387
Do you have a way to debug it? if so see the contributing.md file it contains infromation how to run tests.

[2020-06-01 13:27] hcosteff commented on #441
Yes I resolved, thanks.
The issue was that the new login for otsar was fixed in IsraeliBankScrapers, but IsraeliYnabUpdater was not updated to use the right version of IsraeliBankScrapers.

When manually setting the dependency to a local version of IsraeliBankScrapers, it was not clear to me that I had to run `npm build` before using as a dependency.

This might be because I am coming from python/

[2020-06-01 13:57] sagiba commented on #418
@esakal

The application I'm writing keeps the raw data alongside the converted data. So if I ever find a bug in the conversion logic, I can change the converter and re-process any old transactions, even after they disappear from the original bank/card website.

This is a very powerful capability, and already proved handful several times as I found many shortcomings in the default conversion logic

[2020-06-01 14:02] esakal commented on #441
:) I'm glad that you solved it. we will consider extending the contributing.md file with instructions to build this library when using it locally.

[2020-06-01 14:02] #441 closed

[2020-06-01 14:16] sagiba commented on #80
@esakal can you please re-open this issue?

[2020-06-05 18:35] esakal commented on #418
@sagiba thanks for your detailed example, I now better understand how you find it useful.

What do you think about the following suggestion. Instead of having a new property (that might always be on the Transaction object or conditionally added by option), we can extend the `options` with a method that let users to influence on the resulted transactions. Something like:

[code]

In your case the u

[2020-06-05 18:41] esakal commented on #80
@sagiba I re-opened this one but reading the thread I'm a bit confuse about what can/should be done here.

[2020-06-05 20:38] sagiba commented on #418
@esakal, the problem with the approach you suggest is that it doesn't allow to re-process existing transactions with the built-in converter. I recommend de-coupling the conversion code from the scraping code, and making the converter a separate standalone component, so that it can be used to process previously stored transactions. This is useful if I'm making a custom modification to a converter,

[2020-06-05 20:41] sagiba commented on #80
@esakal, we need to change originalCurrency to map to currentPaymentCurrency instead of currencyId, and add another field, chargeCurrency, that maps to currencyId.

I can take care of this after we agree on #418, because I first want to add some test coverage on the conversion logic here.

[2020-06-06 07:21] philipgold opened #456 "Mizrahi scraper does not work in v0.9.0"
hey @baruchiro . I see you're Mizrahi supporter.

I have a valid Mizrahi account. I'm trying to work with Mizrahi scraper. And it looks like broken.
I tested through [israeli-ynab-updater](https://github.com/eshaham/israeli-ynab-updater) and    mizrahi.test.js (israeli-bank-scrapers)

I'm using version - v0.9.0

I have the following errors

In israeli-ynab-updater :
[code]

In Mizrahi Tests resutl

[2020-06-07 05:45] baruchiro commented on #456
This is about this line:
https://github.com/eshaham/israeli-bank-scrapers/blob/845f6c45682bf4afd256c918bca0bf28189d4a5c/src/scrapers/mizrahi.js#L114

The Osh page trigger an XHR request to get the transactions in JSON format, and we want this request.
But this request triggered immediately after the login, and this line waiting for a request that has already been made.

I don't remember if and how

[2020-06-07 14:04] esakal commented on #418
I think there are two suggestions here that you would like to promote together but they are still separate:
1. a way to expose the raw data on the transaction object so it will be accessible to the application using the library
2. a refactoring of the scraper to separate the conversion logic from the scrapers.

The first one is easier to promote and I think you should consider them separately.

[2020-06-07 14:47] sagiba commented on #418
`#2` is far more important. In fact, if we only do `#2`, and the converter is injectable, then `#1` can be achieved by injecting a converter that preserves the raw data, similar to what you suggested before with `parseTransaction`.

I don't understand the dilemma here. Separating the conversion logic makes the code cleaner, easier to test, and easier to re-use. And we can keep full backward-compat

[2020-06-08 05:56] philipgold commented on #456
It looks like recently there were changed Home page with a new iframe Login page construction. Login process does not work anymore.

![image](https://content.screencast.com/users/philip.goldm/folders/Snagit/media/07eedc18-72ab-4fb2-ac7b-951a5c164252/2020-06-08_08-50-48.png)

[2020-06-08 06:16] baruchiro commented on #456
Right, we need to work on it.

In scrapers, I'm always trying to find the legacy websites, there are simpler and they are not changing. So I think we need to use this URL: https://www.mizrahi-tefahot.co.il/login/LoginMTO.aspx to login.

You're welcome to try to fix this.

[2020-06-09 07:54] JavierChames commented on #383
Hi @davlasry
I'm using this great project and maybe I cant give you a tip if I understand what you mean.
if you want to get the current balance for account...you can get it...
i "expanded" for example the file hapoalims.js under scrapers folder and added to retrieve some more info.
see:
return {
      type: _constants.NORMAL_TXN_TYPE,
      identifier: txn.referenceNumber,
      date: (0, _moment.

[2020-06-09 08:10] davlasry commented on #383
@JavierChames Thanks Javier.
How can you make sure your changes will be saved after updating the library (npm or yarn update)?

[2020-06-09 08:31] JavierChames commented on #383
Hi
you, right, in the past an update, "removed" my updates, so I always save a copy of my local changes.
if the solution is good for you-for me it works-you are welcome to suggest to add it to the original code :-)

[2020-06-09 17:45] baaraak opened #457 "Problem with OtsarHahayal from npm registry"
Hi,
I have a weird bug when I'm trying to use this package and install it from npm (`npm install israeli-bank-scrapers`)
I get:
[code]
I'm using valid credentials and I'm using the same code from the README file.
When I set `showBrowser: true` this what I get.
![Screen Shot 2020-06-08 at 23 59 03](https://user-images.githubusercontent.com/16448454/84181734-055ab800-aa92-11ea-8a13-3eaa9ec3b9a7.png)

[2020-06-11 06:23] eshaham commented on #418
@sagiba @esakal I agree with both of you... 😄

Yes, it makes sense to extract conversion logic, and even to allow to override it, although, as Eran said, it could lead to unwanted experiences if the site changes. We could do that with a disclaimer that we do not recommend this approach for most users.

At the same time, I still don't understand what is wrong with @esakal's suggestion about attachi

[2020-06-11 06:28] eshaham commented on #419
I think it's a good idea to add the option to pass arguments to the puppeteer instance rather than having to maintain it by yourself.
@ocherfas PR welcomed!

[2020-06-11 06:31] sagiba commented on #418
@eshaham no problem with attaching the raw data to the result, that's good and actually what I wanted originally. Later I figured that I also need to be able to re-use the existing converters so that I can re-process existing raw data, and add unit tests, etc. So we also need to extract the converters, and make them injectable. Merely returning the raw data is not an alternative for this.

[2020-06-11 07:04] eshaham commented on #418
@sagiba got it
@esakal any final thoughts?

[2020-06-11 07:25] esakal commented on #418
I think there are two different requirements here. Providing a way to shape the transaction result when user provide interceptor will solve this issue.

The second one, talking about separating the converters is something else and we can/should discuss separately. thoughts about this one:
1. I don't see the benefit of letting people to replace converters because it make the api fragile. I do think

[2020-06-11 07:58] sagiba commented on #418
@esakal

The benefit is that your target users are asking for it ;-)
and if you won't do it, then some people who are eager to make things work their way will fork away your repo, and you will lose their contributions. This isn't a good place for an open-source project to be in.

I already maintain my own fork that meets my requirements, so things work for me. I've been hashing this issue with you

[2020-06-11 15:09] esakal commented on #457
please try `npm i israeli-bank-scrapers@next` and let me know if it works. If so we should ask @eshaham to release new official version

[2020-06-11 15:18] baaraak commented on #457
Working!
Thanks... 👍 👍

[2020-06-11 15:20] esakal commented on #418
@sagiba

and if you won't do it, then some people who are eager to make things work their way will fork away your repo, and you will lose their contributions. This isn't a good place for an open-source project to be in.

Actually I stopped reading after this paragraph. What you are mentioning here is lose-lose situation. You probably don't want to maintain your own fork the same as I will hate to

[2020-06-11 15:23] esakal commented on #457
Yesh!
@eshaham can you please release a new version and then close this one?

[2020-06-11 16:28] sagiba opened #458 "Roadmap"
Continuing here the discussion from #418:

@esakal wrote:

Actually I did ask about it back in the [very beginning](https://github.com/eshaham/israeli-bank-scrapers/issues/418#issuecomment-615323531) of the thread on #418:

I'd still love to hear more. Is there a consensus that the typescript branch is going to be merged? And that the adapters concept is going to be integrated? Are there any other

[2020-06-11 16:29] sagiba commented on #418
Thanks @esakal. I'm sorry if this came as too harsh or disrespectful, that's not wheat I meant. I know you are spending a lot of time and energy in improving this library and I'm grateful for your efforts.

I opened a new issue #458 to sync on the roadmap, can we please continue there?

[2020-06-15 21:06] esakal commented on #458
@sagiba Hi,
Due to the nature of this library, @eshaham and I try to introduce changes carefully, do everything gradually while maintaining full backward compatibility.  We try to avoid having a new major version that breaks the public API and prefers to extend the API so developers will have more control over the flow.

In #384, we experimented with a concept we temporarily call 'adapters'. The g

[2020-06-26 05:42] esakal commented on #457
@eshaham please close this one once you release a new official version

[2020-06-26 05:44] esakal commented on #456
@philipgold Hi, unfortunately I cannot assist as I don't have Mizrahi account. If you want to create a fix for that and need my assistance let me know.

[2020-06-26 06:42] esakal commented on #419
@ocherfas Hi! I created a PR to allow passing arguments to the puppeteer lunch command.  Feel free to track the merge status there

[2020-06-26 11:15] orzarchi commented on #447
@JavierChames I made a PR for this issue #461 🍾

[2020-06-27 17:06] hcosteff opened #471 "New scraping failure in Otsar"
can anyone help me debug this?

[code]

[2020-06-29 18:57] eshaham commented on #457
@esakal @baaraak done

[2020-06-29 18:57] #457 closed

[2020-07-02 16:17] esakal commented on #458
@sagiba Hi,
Just wanted to hear what from you about the above roadmap. I will soon create an issue asking contributors to review this issue and the Typescript issue and share their insights

[2020-07-02 16:18] esakal commented on #456
@baruchiro  @philipgold any progress with this one?
Have a great weekend
Eran

[2020-07-02 16:33] baruchiro commented on #456
Not from my side, sorry.

But @esakal , you can implement the login with the link I suggested (it also replaced, but still I think it's not going to change at the same rate as the home page), and send me the branch to run the tests.

I'm working on the [budget-tracking](https://github.com/brafdlog/budget-tracking), merging the [israeli-bank-scrapers-desktop](https://github.com/baruchiro/israeli-ba

[2020-07-02 16:34] sagiba commented on #458
@esakal sounds great, I am eagerly waiting for the TypeScript version to be released (I've been using the TS branch in my internal project for some time now).

re: adapters, I understand the principle, and it's good to have a more flexible framework to allow scraping additional types of data. But this doesn't directly address my request for being able to extract and replace the transaction convers

[2020-07-03 05:20] philipgold commented on #456
@esakal ,
I played with this.

I stuck with submitting a button on the new Mizrahi form. [Code link](https://github.com/eshaham/israeli-bank-scrapers/blob/845f6c45682bf4afd256c918bca0bf28189d4a5c/src/scrapers/mizrahi.js#L106)

I can't define how to call submit form button (`submitButtonSelector`) via element and selectors, due there is no id element.

My code snippet:

[code]
HTML section in form:

[2020-07-03 08:34] baruchiro commented on #456
Try this login page- https://sc.mizrahi-tefahot.co.il/SCServicesClientEZ/index.html#/login, I'm trying it now.
Seems that it sends the login credentials as simple JSON, but it has a bug because it not redirect you after the login.
You can navigate manually in the `postAction`, but I don't know if it is a good solution because, for example, I don't know it our `possibleResults` is supported in this

[2020-07-13 22:21] #419 closed

[2020-07-18 22:40] esakal commented on #471
Hi @hcosteff
I don't have access to Otsar account so I can only provide general directions:
1. in the scraper options, set `showBrowser: true,`. it should now show you a browser when scraping
2. run the scraper, make sure that you are reaching the same page that you get by logging into the system manually.
3. this selector is used also if you have multiple pages. if it does try to navigate to anot

[2020-07-18 23:09] esakal opened #482 "Cannot scrape American express with Puppeteer version ^2.0.0"
When trying to scrape Amex a reset is returned from the network
[code]

To solve it we need to use updated chromium that is provided in Puppeteer 5.x.

[2020-07-21 15:11] esakal commented on #152
.

[2020-07-26 09:14] erikash opened #486 "Isracard scraping doesn't work"
Hi,
I tried to scrape Isracard with my friends credentials (I don't have then any longer so I can't reproduce)
Puppeteer couldn't fill in in the 6digits + id + password (couldn't see the details being filled).
I scraped successfully using the same environment `hapoalim` account so it's not an evironment issue.

Using Node.js version `10.22` and `israeli-bank-scrapers` `0.9.1`.

The error I got was

[2020-07-27 15:53] esakal opened #487 "Support Typescript - Contributors Call To Action"
Hi All,

As you probably saw in the last few months we worked on a PR that will add Typescript support to our codebase. All the companies and utils were migrated to use Typescript in this pr #404.

# Call to action - testing all companies with the typescript support

**WE NEED YOUR HELP!** making sure all the companies work as expected.

The table below list all the
I mentioned below the creator o

[2020-07-27 16:15] baruchiro commented on #487
I have a Mizrahi, Max, Leumi, Isracard. I can test these all.

[2020-07-27 17:16] brafdlog commented on #487
I will test discount and visa cal

[2020-07-27 21:51] brafdlog commented on #487
Checked discount and visa cal. Build passes and scraping works. As far as I can tell, looking good

[2020-07-28 05:18] baruchiro commented on #456
@philipgold I'm starting to work on it, any updates?

[2020-07-28 05:57] esakal commented on #487
Hi All
@brafdlog thanks! I will update the table above

@baruchiro thanks! the date is more like wishful thinking :) if you can test Max, Leumi and Isracard earlier and later handle Mizrahi that would be great, but obviously, whenever you can test it that would be great :)

@eshaham can you pin this issue in the issues dashboard?

[2020-07-28 13:42] baruchiro opened #489 "Replace pre-commit with husky"
https://www.npmtrends.com/husky-vs-pre-commit

Is anyone opposed?

@eshaham @esakal

You can assign to me

[2020-07-28 17:17] #152 closed

[2020-07-30 10:30] baruchiro commented on #487
@esakal @eshaham You still have the old `tests` folder with `REAMDE.md` and `.gitignore`

[2020-07-30 11:03] esakal commented on #487
A short update. I pushed a commit that merge latest changes from master and also revert the error status values to match the ones we are currently sending to preserve backward compatibility with them.

https://github.com/eshaham/israeli-bank-scrapers/pull/404/commits/cf92390be739dbe3cc6e140c9ece9ad967e4f95e

it is pending a review of @eshaham but if you will run the code you will already test it w

[2020-07-30 11:11] baruchiro commented on #487
Tested on f784f7b9f20272d45b23f02d6d9b55680a87dea8:

- `leumi`
    - Both `invalidPassword` and `fetchTransactions` tests passed.
    - I think the `fetchTransacvtions` failed if `invalidPassword` is `true`. wired.
- `max` both passed
- `isracard`
- `mizrahi`: waiting for
==== My Windows is stuck, I have to restart=====

[2020-07-30 11:47] baruchiro commented on #486
It just said you have the wrong credentials.

And you don't see anything because it works with HTTP Requests.

[2020-07-30 12:52] erikash commented on #486
Thanks for the reply Baruch.
I’ve logged in with the credentials successfully manually...

Did you have a chance to test the integration?

On Thu, 30 Jul 2020 at 14:47 Baruch Odem (Rothkoff) <
notifications@github.com> wrote:

[2020-07-30 14:25] baruchiro commented on #486
Yes, it worked for me today.

[2020-07-31 11:51] #489 closed

[2020-07-31 12:10] esakal commented on #486
@erikash Isracard seems to work for me as well. I know it might be obvious but make sure you set the `password` and the `card6Digits` values correctly. I spent a few hour debugging just to figure out that I switched those values.

I was using both node 12.x and 8.x so it doesn't seem to be related to node version.

If you cannot reproduce it let's close this issue and once you will have additional

[2020-07-31 12:10] #486 closed

[2020-07-31 12:11] esakal opened #499 "Invalid status when providing wrong credentials with multiple companies"
Following the comment of @baruchiro  https://github.com/eshaham/israeli-bank-scrapers/issues/487#issuecomment-666303259 this happens also in `master` branch.

Changing the test-utils file to run only invalid use/password tests fails in multiple companies

[code]

[2020-07-31 12:11] esakal commented on #487
@baruchiro thanks, I will add it to the summary above.
Note regarding Isracard that it happens also in master so I'm going to open an issue specific for that and we can handle it separately.

![image](https://user-images.githubusercontent.com/4751797/89033399-5e7ef380-d33f-11ea-9261-a938a48cbfe5.png)

[2020-08-02 18:04] esakal commented on #456
fixed in #500, currently available thru the Typescript branch (pending approval and merge in #404

[2020-08-02 18:04] #456 closed

[2020-08-02 18:50] esakal commented on #487
retested the following with latest merge:
* Visa cal
* max
* isracard
* hapoalim
* leumi

[2020-08-02 18:52] esakal commented on #487
@matanelgabsi, @dratler,@kalinoy,@shanigad,@dudiventura and @NoamGoren - Any chance you can run the tests to complete the remaining scrapers?

Thanks!
Eran

[2020-08-02 18:53] esakal commented on #487
@eshaham please run tests as well and review latest changes due to merging from master and the fix of Mizrahi

[2020-08-03 03:55] baruchiro commented on #487
**Mizrahi**, **Max**, **Isracard** and **Leumi** tested on 27a194ca313fde12ebf15a1c2d0f71350fe933e1, but I can't find the output CSV (also in the previous test I did not see, I forgot to search it).

[2020-08-03 04:13] baruchiro opened #501 "Testing with private credentials"
I thought I had already brought up the subject in those days, but I did not find any issue about that.

Let's think about the easiest way to test the library in any change, or in any big change.

* It's hard for me to pronounce in English, so please edit the issue if necessary (or fix Google Translate :-))

----

**The limitation**, of course, is that the tests need the testers' passwords, so we n

[2020-08-03 20:28] esakal commented on #501
Hi @baruchiro, it is indeed frustrating that there is no easy way to test this library. We cannot mock anything because we depend on the companies sites, and we cannot share credentials, so each contirbutor is limited to the companies he/she is using.

I thought about it a lot and failed yet to find a good way to do that. Fortunately, I have access to 5 companies, so I have decent coverage when ch

[2020-08-03 20:32] esakal commented on #487
@baruchiro I found the output csv of the companies I tested.  Can you make sure the field `excelFilesDist` has valid path?

[code]

[2020-08-03 20:33] esakal commented on #487
@brafdlog Hi, any chance you run your tests again with latest merges from master into this branch?

[2020-08-03 21:01] brafdlog commented on #487
Checked visa cal and discount again. Looking good

[2020-08-04 06:15] baruchiro commented on #487
@esakal Tested with csv output, see my fix #502

[2020-08-04 06:50] esakal commented on #487
@brafdlog @baruchiro  thanks!

@eshaham how do you want to proceed? we confirmed 8 out of 11 companies, and the remaining three passes build checks but  were not tested by contributors that actually has those companies. Do you want to continue waiting or to merge it and handle issues if raises later as new PRs?

[2020-08-06 19:01] eshaham commented on #487
@esakal I think we should carry on, no need to block forever
we want to see this PR merged

[2020-08-07 11:00] #487 closed

[2020-08-07 11:02] esakal commented on #487
Hi All,
We are now type safe :) Thanks all for your patient waiting for the Typescript support.

If you encounter any issues feel free to open issues and I will try to assist.

Have a great weekend

[2020-08-07 11:02] baruchiro commented on #487
Hooray!!

@brafdlog

[2020-08-07 19:16] #387 closed

[2020-08-09 04:20] baruchiro commented on #501
Again, I didn't do research on this, but for example, CircleCI let you do define a [*Private Keys*](https://circleci.com/blog/keep-environment-variables-private-with-secret-masking/) to test the code with secret credentials. You can do that also in *Github*.

And I remember one of the limitations is that only a contributor can run these tests. That is, when someone does PR the tests will not run u

[2020-08-09 08:56] eshaham commented on #487
Great job!!!!
this is so awesome!

On Fri, Aug 7, 2020 at 2:02 PM Baruch Odem (Rothkoff) <
notifications@github.com> wrote:

[2020-08-09 09:59] omercnet commented on #501
testing with secrets isn't an issue - the problem is who holds these secrets?
whoever admins the CI solution (travis/cricleci/ghactions/etc.) will need to put in these secrets, and if there's no one person who has access to all sites, these secrets will be need to be shared.

Also consider change management as these secrets will need to be replaced every few months

[2020-08-09 10:03] baruchiro commented on #501
@omercnet I think we are assuming that no one will share his secrets.

This is why I try to think of how each tester will be responsible for his test environment, and will be able to easily report test results.

[2020-08-09 10:24] omercnet opened #505 "Scraper Microservice"
Has anyone implemented a microservice for this package?
Not everyone writes in nodejs, making this package available over REST API microservice would make it possible to use this :)

Will be happy to create something that builds off the SCRAPERS object

[2020-08-09 17:10] omercnet commented on #505
created https://github.com/omercnet/israeli-bank-scrapers-api

hope this helps someone besides me :)

[2020-08-11 09:42] omercnet commented on #501
essentially there's no need to always test all the scrapers, unless there's a change to the base types

perhaps the best way to accomplish this is to break this repo into a base repo and individual repos for each company as plugins, this would allow each company repo to have its own testing mechanism

[2020-08-11 09:48] baruchiro commented on #501
Please no more repos! 😂

[2020-08-11 23:07] #80 closed

[2020-08-16 10:25] #482 closed

[2020-08-17 16:29] #397 closed

[2020-08-17 17:29] #418 closed

[2020-08-18 12:32] tomreposify opened #510 "Bank Yahav Scraper?"

[2020-08-18 19:12] baruchiro commented on #510
Hi, you're welcome to develop it yourself.

Please look at the other scrapers as an example, and start to find the CSS selectors and so on for Bank Yahav.

I'm following this issue now, and also @eshaham  and @esakal were always here for me when I needed a consultation.

Try to get started and any question or dilemma share with us here.

[2020-08-19 05:02] eshaham commented on #510
@tomreposify one of the limitations of this project is that we don't actually have access to all banks/credit card providers, so we need help from the community to cover all of them.
If you're up for it, see [contributing doc](https://github.com/eshaham/israeli-bank-scrapers/blob/master/CONTRIBUTING.md) to get started and feel free to ask questions here.

[2020-08-19 05:08] eshaham commented on #505
@omercnet thanks for sharing.
This is a much-needed service, and I bet it may also have business opportunities (the main problem is that at scale it might get blocked by banks, and whoever implements it will need to take it under considerations).
For personal usage which targets those who don't code in node.js this sounds like a good idea.
Let us know when this project is more mature (has a proper

[2020-08-19 05:08] #505 closed

[2020-08-19 05:20] eshaham commented on #501
I can't see this happening without giving someone access to other people's credentials.

Over time the only solution I came up with for ongoing testing was to save the HTML and downloaded files of each website, anonymize data and use that in automated tests. This could be a very good sanity test suite, but it isn't a bulletproof solution since websites change.
We will need to build an easy mechani

[2020-08-19 05:20] #501 closed

[2020-08-19 05:22] eshaham commented on #471
perhaps @matanelgabsi can help?

[2020-08-19 06:11] matanelgabsi commented on #471
I've checked now - and there is no error for me..
maybe this is due to not having any transactions.. I will try to check
@hcosteff does that makes sense?

[2020-08-19 06:17] matanelgabsi commented on #471
I can confirm that the scraper works fine when there is no data, so that is not the issue
also looked at the code:
await waitUntilElementFound(page, 'table#dataTable077, #NO_DATA077');
seems that this was taken under consideration.. @hcosteff is it possible this is just a network error? if not - I'll be glad if you can try to give some more info, or try to scrape other dates and tell us if that he

[2020-08-19 08:21] omercnet commented on #505
I've been actually using it myself for testing as I was adding the enhancement in #509
I'd be happy to propose a PR to this repo that includes the server as part of the library to help development as well as standalone container that can be used as a standalone microservice

wdyt?

[2020-08-19 09:19] esakal commented on #471
I'm closing this ticket for now, @hcosteff feel free to re-open it if it still happens

[2020-08-19 09:19] #471 closed

[2020-08-20 08:03] hcosteff commented on #471
Yea sorry, I didn't update, this issue happened to me for several days and then stopped completely (I didn't change or redeploy or anything).

My guess is that the changed the DOM and then reverted it, but I'm not sure.

Thanks for looking into it and sorry again 🙇‍♂️

[2020-09-07 18:12] #458 closed

[2020-09-09 12:12] brafdlog opened #518 "Puppeteer types are imported from the puppeteer package instead of puppeteer-core"
In the `israeli-bank-scrapers-core` package, in the `next` version (`0.9.2-dev.83c4b6641`), there are imports of types from `puppeteer` instead of `puppeteer-core`. This causes compilation errors, see:

![Screen Shot 2020-09-09 at 15 00 33](https://user-images.githubusercontent.com/7272927/92596644-cdd8f300-f2ae-11ea-9864-d720eb8f79bd.png)

[2020-09-09 17:05] esakal opened #519 "consider removing dependabot"
@eshaham since we don't actually merge dependabot PRs and do a manual update once in a while, I don't think it helps keeping it in the PR lists. wdyt?

[2020-09-09 20:18] esakal commented on #518
@brafdlog Hi, thanks for reporting about it. After some investigation I improved the code modification logic and made sure the source code is using puppeteer-core across all sources so it will reflect like that in the defintion files.

Can you pull locally and verify that it solves your problem?

[2020-09-15 13:26] brafdlog commented on #518
@esakal I as wrote in the PR it looks fine.

Can this be merged?

[2020-09-16 16:39] esakal commented on #518
@brafdlog Hi, we need @eshaham for that....
We perform CR to each other before merging to master each other . Since you checked it on your machine I don't mind merging it but we will need Elad anyhow to deploy a new version to NPM (I don't have credentials).

If I will merge, you will be able to use the next version which is deployed automatically from master, if it can help you I will merge it to

[2020-09-16 17:30] brafdlog commented on #518
I understand. No need to diverge from your regular pr practices. I am currently working with a version of the package that i published from a fork of your repo to solve this. When you are ready and merge i will use the @next version.
Thanks

[2020-09-19 08:31] #518 closed

[2020-09-19 09:10] eshaham commented on #519
@esakal changed settings so that it only creates security PRs.
Will close the rest of pending PRs for now

[2020-09-19 09:10] #519 closed

[2020-10-07 17:34] baruchiro commented on #487
Hi, looking at the latest version [v0.9.1](https://github.com/eshaham/israeli-bank-scrapers/tree/v0.9.1), it is JS version.

When do you plan to publish a new version?

I need it also because the Mizrahi is broken in 0.9.1

[2020-10-07 20:05] eshaham commented on #487
@baruchiro I messed up
meant to do it a few times already, but apparently each time something distracted me and then I forgot 🤦
anyway, v1.0.0 is now released 🥳
cc @esakal

[2020-10-10 10:39] esakal opened #525 "Next version automatic deployment is broken and needs new NPM credentials"
@eshaham it seems that something happened with the authentication token used to deploy automatically the next version to npm. see the [failure results] (https://github.com/eshaham/israeli-bank-scrapers/runs/1235168325?check_suite_focus=true)

Can you please update the environment authentication token to resolve it?

you can then click on the re-run jobs to verify that it works.
![image](https://us

[2020-10-10 19:41] gczobel opened #527 "All the MAX transactions have amount 0"
I'm trying to add a new MAX card to the israeli-ynab-updater but every time the report result empty using version 0.9.1 (javascript)

I traced the issue to the MAX scrapper. This is the original raw transaction I see in max.ts function mapTransaction.
There the originalAmount and chargedAmount are initialized.
[code]

The transaction:
[code]

Now, the problem is here https://github.com/eshaham/isr

[2020-10-10 21:27] eshaham commented on #525
@esakal so I think I solved the auth issue but broke versioning
we probably need to run `npm version` as a build step to add the dev prerelease build number somehow

[2020-10-11 14:19] esakal commented on #527
Hi,
Can you check again? because I just pulled 3 max cards 60 days of transactions and it worked.

I would like to verify that it is not due to the weekend/hoilday, please try again and let us know.

[2020-10-11 16:05] gczobel commented on #527
Is working now... maybe related to the weekend. Thanks!

[2020-10-11 16:05] #527 closed

[2020-10-22 04:51] baruchiro opened #528 "Start work with Banks API?"
#### Discont

https://www.openbanking.co.il/open-banking/discount-api-catalog

Seems they have an API to fetch the data we need. They require registration.

#### Isracard

https://devportal.isracard.co.il/isracard/prod/

[2020-10-23 13:55] esakal commented on #528
it would be amazing! but... at the moment they provide api of open banking only to companies not to individuals.

המעוניינים לעשות שימוש בפלטפורמת הבנקאות הפתוחה של דיסקונט ייבחנו בהתאם להצעת הערך שהחיבור לבנק יוכל להניב עבורם ועבור לקוחות דיסקונט.

[2020-10-24 08:22] gczobel opened #529 "Missing MAX transaction type"
Hi,
Scrapping a max card I received a new tx type that is missing in max.ts
"פריסת העסקה הדחויה"

[2020-10-24 20:40] MSDevs opened #532 "Failing to scrape Hapoalim from Node server with Generic errorType"
Hi guys

I've tried running the example from readme from a basic nodejs application.
Using `hapoalim` its constantly failing with:
[code]
Other companyIds work well, tried with `otsarHahayal` for example.

When using `showBrowser=true`, I can see the page is not loading properly (blank white page).
Yet when navigating manually to the same URL, the login page is loaded as expected.

I've also run t

[2020-10-25 11:00] #499 closed

[2020-10-25 11:00] #510 closed

[2020-10-25 19:38] esakal commented on #532
@MSDevs I"m not sure what is the right way to tackle this one. because you are saying that it works in electron and also that other companies does work in node. so we can eliminate incompatible node version or wrong configurations on your side.

I think the best way will be to [debug using the ide](https://github.com/eshaham/israeli-bank-scrapers/blob/cf92390be739dbe3cc6e140c9ece9ad967e4f95e/CONTR

[2020-10-25 20:45] MSDevs commented on #532
@esakal Thanks for the quick reply.
I debugged the app as you suggested. My bad. In the process of generalizing the solution, I accidentally was using `username` instead of `userCode` for `hapoalim`.

[2020-10-25 20:45] #532 closed

[2020-10-31 05:27] eshaham commented on #528
I definitely love where this is going - open banking will eventually make this project obsolete.
But for now, they don't allow individuals to access the API, hoping they will change the policy soon (if anyone here got connections, this would be the time to talk to them).
Closing this for now.

[2020-10-31 05:27] #528 closed

[2020-10-31 19:08] #529 closed

[2020-10-31 19:32] esakal commented on #525
@eshaham the problem with npm version is that it commits it to github, it also doesn't use dirt (random value) so if we will not push it to master it will try to create the same version every time.

``` npm version prerelease --preid=next```

Why not reverting to what we previously had? what was the problem with that code? https://github.com/eshaham/israeli-bank-scrapers/blame/9e9eda9c3a711786cabc

[2020-11-01 13:50] baruchiro commented on #528
I have to say that I think this project will still be relevant even with Open Bank, since this project exposes one interface for all the banks...

[2020-11-11 11:09] ErezSavir opened #533 "Max scraper - Login pages now redirects to new login pages resulting in an error"
The max login page that is being used (https://online.max.co.il/Anonymous/Login/CardholdersLogin.aspx) is no longer active and is being redirected to https://www.max.co.il/login
This change results in the following error:
`waiting for selector "#PlaceHolderMain_CardHoldersLogin1_btnLogin" failed: timeout 30000ms exceeded`

[2020-11-14 14:33] #525 closed

[2020-11-16 13:57] #533 closed

[2020-11-17 09:11] ifeins opened #537 "Build step doesn't transpile class property"
I'm using `israeli-ynab-updater` in conjunction with `israeli-bank-scrapers` to manage my budget.

I've tried to take the latest version from master and integrate it to `israeil-ynab-updater` (using `npm link`) and I encountered the following error:

[code]

I checked the `base-scraper.js` file (the transpiled file in the `lib` folder) and found the following code:

[code]

It seems that the `buil

[2020-11-18 06:43] ifeins commented on #537
@esakal @eshaham I've also opened a PR to fix this issue.

[2020-11-18 20:40] #537 closed

[2020-11-19 08:20] tpseven-777 opened #539 "Amex scraper is broken"
It seems like there're some issues with Amex scraper this morning (Israecard scraper does work)
This issue is experienced with `v.0.9.1`, `v.1.0.0` and `next`

`$ node --trace-warnings .
Starting to scrape amex...
Evaluation failed: TypeError: Failed to fetch
(node:29436) UnhandledPromiseRejectionWarning: Error: GENERIC
    at scrapeSingleCard (/home/-----/homedev/index.js:671:10)
    at emitUnhan

[2020-11-20 17:39] gczobel opened #540 "Question: help with Bank Yahav"
Hi,
I'm trying to make a new Bank Yahav scrapper but I lack UI experience... For now, I managed to login, but I cannot jump to the page where the transactions can be extracted (/main/accounts/current/).

The home page is at `https://digital.yahav.co.il/BaNCSDigitalUI/app/index.html#!/main/home`. Changing it manually in the browser to `https://digital.yahav.co.il/BaNCSDigitalUI/app/index.html#!/mai

[2020-11-21 06:52] esakal commented on #540
Hi @gczobel checkout out for references in the project like [this one](https://github.com/eshaham/israeli-bank-scrapers/blob/849f6d0497cd2829f2b8cb4f289d0f1138b3accc/src/scrapers/beinleumi.ts#L190)

try
[code]

Let me know if it helped :)

[2020-11-22 18:52] tpseven-777 commented on #539
It seems like this issue is now gone. I haven't done anything besides re-running, so maybe something had changed in the web site

[2020-11-22 18:52] #539 closed

[2020-11-23 21:12] liranso opened #541 "problem after upgrading package to ^1.0.0"
i'm getting the following error (on both mac and linux) - Error: Cannot find module 'puppeteer-core'
after installing "puppeteer-core" i'm getting -
"scraping failed for the following reason: Could not find browser revision 818858. Run "PUPPETEER_PRODUCT=firefox npm install" or "PUPPETEER_PRODUCT=firefox yarn install" to download a supported Firefox browser binary."

only workaround is using "exec

[2020-11-26 11:28] gczobel commented on #540
It worked but I still have issues with other parts... I'm closing this and I'll open another one if I need more help.
Thanks!

[2020-11-26 11:28] #540 closed

[2020-11-29 06:53] baruchiro commented on #525
There are a few issues and PRs about this problem, so I can't find the updated one.

But the `next` release is still broken.

Also, why not publish another **release**?

[2020-11-29 07:53] eshaham commented on #525
@baruchiro I just triggered another next release and managed to run it nicely.
can you check if it's working for you?
will prepare an official release now.

[2020-11-29 07:56] baruchiro commented on #525
Yes, it working!

But if you're releasing a new stable release now, I will wait for that.

Thanks!

[2020-11-29 08:21] eshaham commented on #525
@baruchiro just did 💪

[2020-12-05 18:04] gczobel opened #542 "Help: Selecting dates in Yahav Bank"
Hi,
I managed for now to login and extract the transaction on the Yahav Bank.
The only missing part is a way to select the transaction dates.

The date selector does not allow any text input, only mouse clicks. I don't see any easy way to use it... maybe you guys with more UI experience are able to help.

I attached two images showing the page structure and the complete HTML of the date selector.

[2020-12-09 20:48] esakal commented on #541
hi @liranso. chromium 818858 seems to be valid version as you can see in the attached image. can you please elaborate about the way you integrate `israeli-bank-scrapers-core`?
1.  in which environment (ie electron?)
2. how did you download chromium version 818858?

Maybe it is obvious but I will write it here just in case. The only reason to use `israeli-bank-scrapers-core` (which use internally `

[2020-12-10 09:35] esakal commented on #542
Hi @gczobel,
From the snapshot provided you can easily call the method that the control call on close and thus bypassing the ui complexity.

use something like
[code]

![image](https://user-images.githubusercontent.com/4751797/101753808-bbec3380-3adb-11eb-8bd2-eb9e792066dc.png)

[2020-12-10 19:34] DoriDembinsky commented on #541
Hi @esakal,
I'm having the exact same issue as @liranso.
And I'm not using israeli-bank-scrapers-core, I'm using israeli-bank-scrapers.
I get the exact same message that he got, and when doing his workaround, It makes me go around this issue but as @liranso mention, the actual login into max doesn't work after it.

[2020-12-12 16:57] DoriDembinsky commented on #541
I tried a fresh install by creating a new directory with a clean package.json and no files.
I ran `npm i israeli-bank-scrapers@1.0.0 --save`

This is the output
[code]

As you can see the chromium version is 818858.

I hope it helps @esakal

[2020-12-12 17:37] esakal commented on #541
@DoriDembinsky indeed it is useful. In package-lock.json we lock version to 5.1.0 as you can see in my machine below. But your code shows that you are using latest which is 5.5.0 (`puppeteer@5.5.0 install /Users/dori/Development/test/node_modules/puppeteer`)...

We need to understand why your machine doesn't respect the manifest in package-lock file. any chance you are using yarn instead of npm?

[2020-12-12 19:00] DoriDembinsky commented on #541
So the reason is that your package.json has the following:
`"puppeteer": "^5.1.0"`

This actually doesn't ensure that it will install version 5.1.0.
because it has ^5.1.0 it installs the latest minor version which is 5.5.0.
If you want it to be strictly 5.1.0 it needs to be changed to 5.1.0 without ^

[2020-12-12 19:07] esakal commented on #541
Actually package-lock.json was created to prevent such a scenario. It doesn't really matter what you have in package.json, if the following conditions are met:
1. npm install honors package-lock.json only if it satisfies the requirements of package.json.
2. If it doesn't satisfy those requirements, packages are updated & package-lock is overwritten.

5.1.0 honors ^5.1.0 so it should be the one tha

[2020-12-12 20:45] esakal commented on #541
@DoriDembinsky you are right! In my setup I already have puppeteer thus I didn't see it when I re-ran the installation. Before we lock the puppeteer version in package.json let's check first that it works for you. Please do the following:

1. create a new folder
2. run `npm init`
3 *new step* run `npm install puppeteer@5.1.0`
4. run `npm install israeli-bank-scrapers`

The new step will enforce ha

[2020-12-13 08:36] DoriDembinsky commented on #541
Yes I tried it already yesterday, it works.
Also the scraping seems to work now as well :)
Thanks!

[2020-12-13 22:06] LiranBri commented on #383
Is there a built-in way to get the current balance?

[2020-12-14 07:32] LiranBri commented on #76
Hi, is it possible now to get final balance for Habeleumi bank?

[2020-12-14 17:04] baruchiro commented on #383
I think if we will wait until all the scrapers will support that, it's like a deadlock.

What about adding a `balance` field in the `TransactionsAccount` interface

https://github.com/eshaham/israeli-bank-scrapers/blob/07ecd3de0c4aa051f119aa943493f0cda943158c/src/transactions.ts#L2-L5

With type something like `number | NOT_IMPLEMENTED`?

[2020-12-15 11:27] esakal commented on #541
@DoriDembinsky  I'm trying to understand how to continue with this one. Because it is true that new projects will use puppeteer@5.5.0 but it should work as they didn't break the API. see the image below. So I don't think it is needed to lock the version in the package.json to 5.1.0.

What do you think?

@eshaham please review previous messages and advice

![CleanShot 2020-12-15 at 13 23 34@2x](htt

[2020-12-15 14:54] gczobel commented on #542
Something like this?
  await page.evaluate(_ => {
    'currentAccount.onFromCalendarClose("01/09/2020")';
  });

[2020-12-15 19:30] esakal commented on #383
I don't mind having  that field, we can set it to optional property so null means not implemented and number means a balance.

If you want to create a PR with that field and an implementation in institutes that you have access to feel free.

@eshaham any objections?

[2020-12-16 10:38] esakal commented on #542
yes that should work. did you try it?

[2020-12-16 14:36] gczobel commented on #542
Yes... do nothing. I tried changing the value of the date in the component too... but nothing happens when the line is executed...

[2020-12-16 15:03] esakal commented on #542
[code]
In your code you wrap the command with ' which make it a string. I believe this is why it doesn't work for you. Try the code I wrote above.

Also, make sure that you pass the date in the same format they the actual site does. you wrote it in `dd/MM/yyyy`. I suggest you to set a breakpoint and check the value the way they do it, confirm the format and the separator sign.

[2020-12-21 17:14] baruchiro commented on #383
@esakal Hey, but what about Credit Card? It will never have a balance, am I right?

It can be OK, but just consider it.

[2020-12-25 00:29] esakal commented on #541
@eshaham what do you think?
@liranso can you update how it ended on your side?

[2020-12-25 00:29] esakal commented on #542
@gczobel did it worked for you?

[2020-12-25 13:09] esakal commented on #383
@baruchiro  note that we added last balance and not running balance for each transation, again I can only help so I do see any reasons not having it there 👍

[2020-12-25 13:09] #383 closed

[2020-12-25 13:19] baruchiro commented on #383
I think you need to keep this issue open, because we need to work on the other accounts, so someone else can use this issue to get help.

And note that I don't know exactly in TS, but maybe this type-change is a breaking change and requires `major` version upgrade?

[2020-12-26 08:38] eshaham commented on #541
@esakal the only thing I'm thinking here is that puppeteer 5.5 might break `israeli-bank-scrapers-core`
if there's evidence that version 5.5 may not work in all scenarios, perhaps we should specify 5.1 specifically for now?
wdyt?

[2020-12-26 12:50] esakal commented on #541
Let's wait and see if people complain about it because my tests did show that latest puppeteer breaks our library.

[2020-12-26 13:04] esakal commented on #383
@baruchiro  it shouldn't break anything because you added an optional property by setting the ? sign.

anyhow, I will open a followup ticket with relevant tag to ask people to add their support.

Regrading credit cards, I think we can use the same property for them as well. the only difference is that you might have more than one balance if you have pending transaction in foreign currencies but fo

[2020-12-26 13:11] esakal opened #547 "Scraping current balance"
Following #546 PR where a new field named `balance` was added to the accounts as an optional field, whoever can add it to more companies and relate his/her PRs to this ticket that would be great.

https://github.com/eshaham/israeli-bank-scrapers/blob/556eba0adf0fed34e652a48ce67b1645221ef19c/src/transactions.ts#L3-L5

# Coverage
- [x] Bank Leumi
- [ ] mizrahi
- [ ] discount
- [ ] otsarHahayal
- [ ]

[2020-12-26 13:14] esakal commented on #383
lets continue any discussion about it here #547 547

[2020-12-28 19:15] sagidam opened #548 "Leumi Buisness Account not working"
I got this Error
"scraping failed for the following reason: GENERIC"
Cant find the problem...

[2020-12-29 08:37] liranso commented on #541
@esakal sorry for the late response
I used "israeli-bank-scrapers" and not "israeli-bank-scrapers-core"
the only way it works is to use that version in package.json -     "israeli-bank-scrapers": "^1.0.1-next.1",

[2021-01-10 10:00] RauEyal opened #549 "When trying to use Isracard it says Invalid password"
I tried to scrapped Isracard and got Invalid Password.
I changed the credentials part like said in the readme.
Any ideas?

[2021-01-10 11:28] #549 closed

[2021-02-02 14:08] moshe212 opened #550 "Not all tansaction get on Visacal"
I do not get my transaction from 2021 at all.
I pay on 10.01.2021 and i do not see this at all..

[2021-02-02 16:27] baruchiro commented on #550
More than that, I see the `max.ts` and `visa-cal.ts` shared the code related to `startMoment`, so you need to find where it different.

I guess it something related to the scraping itself.

[2021-02-05 07:18] ifeins opened #552 "Max scraper is broken"
When trying to scrape Max transactions I get the following error:

[code]

Did anyone encounter this issue?

[2021-02-05 07:56] ifeins commented on #552
Closing as apparently there was something wrong in my configuration of the scraper.

[2021-02-05 07:56] #552 closed

[2021-02-11 07:26] MosheL opened #553 "MAX login is broken (via israeli-bank-scapers-desktop)"
I have an username/password for max.
the hidden browser is going into max.co.il/login

Step 2: Starting to scrape max

![image](https://user-images.githubusercontent.com/2265043/107610406-348d7e80-6c4a-11eb-9625-13676074b0f3.png)

If I will switch manually to the correct tab I can enter (manually) the username/password and it works, but  the automatic process isnt working. its hang on this page.

[2021-02-11 18:50] esakal commented on #553
@MosheL Hi
Something is off in your version, are you using the latest one? see the code [here](https://github.com/eshaham/israeli-bank-scrapers/blob/2f9693baa3356002aabf22bb5086c3a00e3bbd80/src/scrapers/max.ts#L241) - it will always open the mentioned view and then simulate a click on the כניסה עם סיסמא tab.

I ran it now twice and it worked as expected

[2021-02-15 19:16] esakal commented on #550
@moshe212  does it still happen to you? if so, can you write here the version you are actually using (either from package.json or package-lock.json)

also what do you get? empty array or an error?

[2021-02-15 19:17] esakal commented on #553
@MosheL hi just checking if you still experience it

[2021-02-15 19:18] esakal commented on #548
@sagidam does it still happen to you? can you provide the version you are using (from package.json or package-lock.json)?

[2021-02-21 09:55] MosheL commented on #553
Hi

thanks
I was tried again, in a new project.

first test - password expired.
so I was changed the password and tried again.

the chromium opened, the browser navigated to max website but the process was hangs after successful login.

scraping failed for the following reason: GENERIC
![image](https://user-images.githubusercontent.com/2265043/108621500-9d8ba800-743b-11eb-9edc-10921c793ef9.png)

[2021-02-21 10:18] MosheL commented on #553
I tried again, and it hangs before the login stage. and again, and it work (the first step - the login).

I can't change your code now as I am using the code from NPM.   need  I  use the project from github and try to debug it ?

[2021-02-21 13:04] esakal commented on #553
@MosheL try the next version first. `npm install israeli-bank-scrapers@next`. let me know if it worked for you

[2021-02-22 19:08] tpseven-777 commented on #553
@esakal I've just tried to download the next version, and getting this:
waiting for redirect from https://www.max.co.il/homepage/welcome
scraping max failed for the following reason: TIMEOUT

[2021-02-23 13:30] MosheL commented on #553
the login stage is working. after the login it does nothing.

[2021-02-24 08:56] tpseven-777 commented on #553
@MosheL Working for you, but doesn't work for me in both current and next versions.
I'm not sure which version you've got

[2021-02-26 15:29] gczobel commented on #542
Sorry, I was stranded abroad all this time without access to my github account.
No... the latest option didn't work... and I cannot find a way to change the dates.
I have zero web / puppeteer experience so I'll try to filter the dates programmatically.

[2021-03-01 12:01] tpseven-777 commented on #553
Ok The issue for me (with @next) version was that the password had expired/changed/was wrong,
Note that the fail reason is TIMEOUT, so I've missed it.
Correct PW works with @next version.

[2021-03-02 18:57] esakal commented on #553
@tpseven-777  thats great!
regrading the password expired this is a known problem, it take times for people to get it and once it happens people tend to replace password and not try to update the library.

anyhow @eshaham when can you deploy an official version?

[2021-03-02 18:59] esakal commented on #553
@MosheL I'm not sure how I can assist. because it works on my machine (I run the script few times a week) and also @tpseven-777  managed to make it works with next version. you can record your view and send it to me (either in private or here) if you want - I might be able to notice a broken flow or something similar

[2021-03-02 19:02] esakal commented on #550
@moshe212 let me know if it still happens. If it does, share more logs / information so we will be able to try and assist

[2021-03-02 19:02] #550 closed

[2021-03-02 19:02] esakal commented on #548
@sagidam I'm closing this ticket for now, if it still happens let me know and we can reopen it

[2021-03-02 19:02] #548 closed

[2021-03-02 20:02] MosheL commented on #553
@esakal   Tested again for one month. it works. maybe hangs for large date range.

thanks !

[2021-03-03 07:55] eshaham commented on #553
@esakal released

[2021-03-08 22:22] hcosteff opened #555 "Bank Otsar Hahayal is broken - table#dataTable077" failed: timeout 30000ms exceeded"
scraping Bank Otsar Hahayal
Bank Otsar Hahayal: START_SCRAPING
Bank Otsar Hahayal: INITIALIZING
Bank Otsar Hahayal: LOGGING_IN
Bank Otsar Hahayal: LOGIN_SUCCESS

Bank Otsar Hahayal: TERMINATING
Bank Otsar Hahayal: END_SCRAPING
success: false
error type: GENERIC
error: waiting for selector "table#dataTable077" failed: timeout 30000ms exceeded
Error: waiting for selector "table#dataTable077" failed:

[2021-03-09 10:04] noamokman opened #556 "1.0.2 is broken"
Hey,
Version 1.0.2 is published without any files.
Just the readme and package.json.

[2021-03-09 19:43] hcosteff opened #557 "Bank Otsar many "empty" transactions"
This is output from scraping bank otsar
`<U+FEFF>"Date","Payee","Inflow","Status","Installment","Total"
"02/02/2020","",0,"completed",,
"02/02/2020","",0,"completed",,
"07/02/2020","",0,"completed",,
"07/02/2020","",0,"completed",,
"09/02/2020","",0,"completed",,
"10/02/2020","",0,"completed",,
"10/02/2020","",0,"completed",,
"11/02/2020","",0,"completed",,
"11/02/2020","",0,"completed",,
"19/02/2

[2021-03-12 08:15] tpseven-777 opened #558 "Specific transaction cannot be read from Cal"
Max scraper fails to parse:
getting 'unknown transaction type 68'
for this txn:
![image](https://user-images.githubusercontent.com/74489861/110911761-c35deb80-831b-11eb-956b-c07c86ce34c6.png)

[2021-03-12 19:34] esakal commented on #558
@tpseven-777 the scraper behave as expected, it doesn't recognise transaction type 68 so it abort the process. I created a PR to support it but I need you to test it before I can merge it (I don't have such a transaction type in my account).

It is a bit weird for me as all the other types of Max seems to be textual and you show here numeric type. But let's see how it works for you

[2021-03-13 19:36] esakal commented on #556
@eshaham I was able to confirm that 1.0.2 is broken, although when I pull master and build it the library seems fine, so I believe it happens due to local issue during deployment.

I ran
[code]
and observed the file being created.

Can you please release a new version and confirm its content?

[2021-03-13 19:39] esakal commented on #556
@noamokman thanks for reporting, for now feel free to use `israeli-bank-scrapers@next`, it is created automatically from master branch and I confirmed that it includes the missing `lib` folder from the official version.

[2021-03-13 19:41] esakal commented on #557
@hcosteff hello, I'm sorry but I don't have account in Bank Otsar so I cannot help here. maybe @matanelgabsi can help

[2021-03-13 19:42] esakal commented on #558
@tpseven-777 can you confirm the PR?

[2021-03-13 19:44] esakal commented on #555
@hcosteff I now see that you have two different issues for Bank Otsar, are they related?
Maybe Bank Otsar changed their site.
If it wasn't yet resolved you will need to download the repo and find the issue using the debugger, unless someone else with Bank Otsar account can do it

[2021-03-13 19:46] esakal commented on #553
@eshaham can you please verify the release you did 11 days ago 1.0.2, someone reported that it is broken and I think he is right.

I'm keeping this issue for now until we will be able to get verification

[2021-03-13 21:21] noamokman commented on #556
Yeah, thanks!
I'm just using 1.0.1 in the meanwhile :)

[2021-03-14 07:41] tpseven-777 commented on #558
Sure @esakal ,but I'm not experienced with JS. I'll be able to pull the PR branch, but not sure I know what to do with it afterwards.

[2021-03-14 08:27] eshaham commented on #556
Deployed 1.0.3 which seems to be working 👌

[2021-03-14 08:27] #556 closed

[2021-03-14 08:28] eshaham commented on #553
@esakal released 1.0.3

[2021-03-16 04:08] #547 closed

[2021-03-16 04:08] #541 closed

[2021-03-23 20:04] tpseven-777 commented on #558
So @esakal, how can we progress from here? Any chance you could prepare a test version?

[2021-03-24 08:44] tpseven-777 commented on #558
@esakal I'm not sure if this was effective for Visa too, but I'm now getting the same error:
unknown transaction type 68
For scraping visa cal.
Tested with current and next version, and also for some dates which were successful in the past (hence probably something had changed in visa cal's website that broke the scraper)

[2021-03-24 16:36] esakal commented on #558
@tpseven-777 hi, sorry I thought it was clear that we have tests already in the codebase. You have two ways to test it:

*Option 1*
Where are you depending on this library? if you are using NPM to depend on this library you can just install temporary from GitHub branch directly using this command `npm i eshaham/israeli-bank-scrapers#max-67`

*Option 2*
If you want to use the built-int tests you ne

[2021-04-02 16:24] etaytch opened #562 "Visa Cal: unknown transaction type 1"
Hey All,
I'm getting an `unknown transaction type 1` for Visa Cal scraper:

[code]

[2021-04-04 20:08] esakal commented on #562
hi,
In order to support this kind of transaction please provide information about it, you can copy the description in Hebrew from there website

[2021-04-12 15:24] izikf89 opened #564 "Bank Leumi - changed the transaction page and it seems to be broken.."
Its look like there is a version change (from ASP.net to angular)
The issuse starts with leumi.ts file row 246: "const accounts = await dropdownElements(page, 'select#ddlAccounts_m_ddl');" account exist but script not find them,

[2021-04-16 06:38] ifeins commented on #564
I've encountered this issue as well, when I'm scraping Leumi I get the following output:

[code]

Even though there are bank transactions in this month

[2021-04-16 14:24] esakal commented on #564
@ifeins  @izikf89 as they changed the transaction page it will not work until someone will adjust the Leumi scraper. @ifeins it result with success because they didn't "kill" the previous page but instead redirect silently to the new page and the HTML structure there result with 0 transactions as it looks for the old structure.

[2021-04-18 16:01] esakal commented on #564
@ifeins  @izikf89  I created a PR to adjust the scraper to the new site. If you can pull the PR and verify it.

[2021-04-19 15:57] ifeins commented on #564
@esakal Tested it and it worked, thanks for the fix 👍

[2021-04-19 17:54] esakal commented on #564
@ifeins that is great, Lets wait to verify the pending in the weekend and then I will be able to merge it.
@eshaham if you can check the PR in the meanwhile.
Thanks

[2021-05-02 14:52] tpseven-777 commented on #558
Hi @esakal
I've updated to the latest version, and went through all of my cards.
The only card I'm unable to scrape is **VISA CAL** (and not MAX as I've mistakenly applied to earlier)
Here's how it looks like on their web site. This transaction is there for every single month from now on..
![image](https://user-images.githubusercontent.com/74489861/116817444-06e01380-ab6f-11eb-9173-3c6e667aa90e.pn

[2021-05-02 15:33] baruchiro commented on #553
I think the MAX scraper is OK and you can close this issue

[2021-05-02 18:16] esakal commented on #558
@tpseven-777 Hi! unfortunately I cannot do that, in the codebase we handle transaction type which is numeric and I cannot determine the type of the transaction you have based on the UI snapshot.

Do you know how to enable dev tools and monitor the network? If so, filter requests by `CalTransactions`, you should find a request like that per each card, then check the response of the relevant card an

[2021-05-02 18:23] esakal commented on #558
@tpseven-777 feel free to check.
@eshaham fyi

[2021-05-02 18:43] #553 closed

[2021-05-02 18:48] esakal commented on #562
@etaytch I add support for that type as part of another PR. as you didn't provide description of that transaction I assumed this is like any other transactions and not instalments transaction

[2021-05-02 19:54] tpseven-777 commented on #558
I've tried this, following your previous guidance, but that didn't work:
`[ec2-user@ip-1-1-1-1 ~]$ npm i eshaham/israeli-bank-scrapers#visa-68
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno ENOENT
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t ssh://git@github.com/eshaham/israeli-bank-scrapers.git
npm ERR! enoent
npm ERR! enoent
n

[2021-05-03 09:26] esakal commented on #558
@tpseven-777 I don't remember why I said you can do it like that, it shouldn't let you pull the change like that.

how would you normally test things like that? do you have knowledge in node.js? if so you probably know how to test it, if not let me know and I will think how to proceed.

[2021-05-03 18:18] tpseven-777 commented on #558
@esakal I can't say that I have a standard testing procedure for this project, only for the code which uses this project.
I got the impression that making this change locally and then transpiling it (is this the correct word? I'm really not sure), should let me test it. But I'm not sure how this process should be triggered.
I'll be glad to learn though :)

[2021-05-04 15:16] baruchiro opened #569 "Request: Create a very simple CLI"
I see a very simple code [here](https://github.com/eshaham/israeli-bank-scrapers#getting-started) that required just a config of `credentials` and `options`. Someone asked me how to use this project inside a C# project, and I suggested to him to run it as a process. But he can't because this project is not an executable one.

What I suggest is to create a very simple executable file (by the [packa

[2021-05-04 19:27] #564 closed

[2021-05-06 06:29] RebliNk17 opened #571 "Isracard and Amex scapper not working"
when trying to login to Isracard and Amex I get invalid password.

[2021-05-06 06:58] RebliNk17 commented on #571
sorry, working.
i had a 21 chars password and in the website UI login, they are taking only the 20 first chars.
when used the scapper, it sent all 21 chars and it caused an invalid password message

sorry

[2021-05-06 06:58] #571 closed

[2021-05-08 09:52] tpseven-777 commented on #558
@esakal I've tested this code by applying the relevant part to visa-cal.js and running.
Works well,
Thanks!

[2021-05-09 12:21] #558 closed

[2021-05-10 10:07] erikash opened #574 "Is the beta version available in NPM?"
Hi,
I want to test the beta version,
Do I have to build it locally or is it published in NPM?

Thanks,
Erik.

[2021-05-10 10:11] etaytch commented on #562
Thanks @esakal and sorry for responding so late.
I currently don't have access to the Visa Cal account.
I'll update once I do 🙏

[2021-05-10 12:59] esakal commented on #562
@etaytch no worries, once you will provide the description of that type we will be able to support it

[2021-05-13 06:01] #574 closed

[2021-05-23 08:20] izikf89 opened #577 "My pull request is waiting for your approval..."
Please let me know if you need my help

[2021-06-02 14:45] paamonim opened #580 "A question regarding number of times that scraper can be used"
Hi.
Thank you all for your code.
Is there a limit for the times that each bank will allow to call for this scraper from **same IP**?
Thx.

[2021-06-03 18:11] esakal commented on #580
Hi,
I believe there is a limit but not on the library side but on the finance institutes side. I believe that they try to identify activities like this and block IPs or regions etc....

[2021-06-03 18:11] #580 closed

[2021-06-03 18:12] #577 closed

[2021-06-03 18:14] esakal commented on #569
@eshaham wdyt?

[2021-06-03 18:14] #562 closed

[2021-06-05 13:50] erikash opened #581 "Invalid dates returned from scraper for `completed` transactions (T-1 day)"
Hi,
Since around May 10 I get invalid dates in the transactions returned from the Scraper, they are stamped with yesterday's date.
*This only happens for transactions with status `completed` - for `pending` transactions the date is correct.

Reproduced for both Leumi and Max providers. (so it could be a wider issue?)

Attached screenshots of debugging + the Max web site
![WhatsApp Image 2021-06-05

[2021-06-05 13:56] #581 closed

[2021-06-05 13:56] erikash commented on #581
False alarm... missed that it's `21:00 UTC`

[2021-06-09 21:18] #542 closed

[2021-06-09 21:18] #555 closed

[2021-06-09 21:18] #557 closed

[2021-06-16 08:31] ivorco commented on #555
I have bank Otsar Hahayal but will have to see how I can debug it.
If you want the HTML file I can share it without my details if that helps.

[2021-06-17 13:12] baaraak opened #583 "Otsar hayal scraper is broken"
The scraper returns duplicates transaction and missing fields in some cases.
I know that 'otsar hayal' changed their website couple of months ago...

I'm using this in my own app and manage to fix it in my fork
it's seems that the problem is here: `parseTransactionPage`
https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/scrapers/otsar-hahayal.ts#L97

I changed it to this and it seems

[2021-06-18 08:03] esakal commented on #583
Hi @baaraak thanks for your insights. If you can create a PR from your fork I will be able to merge it. I prefer not doing it by myself because I will not be able to test my changes.

Thanks!

[2021-06-18 14:37] baaraak commented on #583
Done

[2021-06-20 10:23] JonathanNardia opened #586 "cannt get the account balance form isracard"
when i use
scrapeResult.accounts[0].balance

in isracard account i get

undefined

[2021-06-22 07:22] zavelevsky opened #588 "[SECURITY]: request (epic): provide a "zero trust" way to use your library"
Currently, users of this tool are required to trust it with their credentials.
This is true both for users who run this directly or 3rd party apps that wrap and use this tool.
In fact, we can identify three points of potential exploitation by library maintainers or by attacker who get access to its npm registry:
 - leaking the credentials (possible in several ways)
 - performing unauthorized opera

[2021-06-22 12:35] hannanel100 opened #589 "Request: add support for Bank Yahav"
I recently moved to Bank Yahav and was wondering if adding support for the bank is possible or planned at all.

[2021-06-22 14:32] esakal commented on #589
Hello @hannanel100, we always welcome contributors adding finance instituted that they have access to  like you with Bank Yahav. You can start from the [contributing.md](https://github.com/eshaham/israeli-bank-scrapers/blob/master/CONTRIBUTING.md) file to learn more how to accomplish it.

Adding new institutes is possible only for those who have access to them, unfortunately neither @eshaham nor m

[2021-06-22 22:53] esakal commented on #588
Kudos @brafdlog  for creating this open-source. I always appreciate and enjoy seeing people contributing on their free time to the community. I also developed a similar application during the last year that uses israeli-bank-scraper to import transactions into YNAB, using Electron with React. In the end, I decided to archive it because I understood that there isn't a proper way to provide an appli

[2021-06-23 16:28] brafdlog commented on #588
Thanks @esakal . @baruchiro are working on this together.
I started the same as you, from a script for my own use but then I saw how beneficial it was so I wanted to share it.
As you say, giving your bank credentials to a program like ours is risky. There are many attack vectors, and giving them appropriate attention would require a very significant amount of work. We are doing this as a side proj

[2021-06-23 16:34] zavelevsky commented on #588
As a side note, I'd recommend everyone that wants to use such tools, to get their hands on read-only credentials. Sadly, in Israel a set of credentials goes with a real person - so this option exists for shared accounts only - where one of the owners is ok with having only this limited access.

[2021-06-28 09:18] wwwshayronen opened #590 "Request: add support to Marcantil bank"
Hey, are you guys planning to add support to Marcantil bank?

[2021-06-28 13:34] erikash commented on #588
@esakal I agree with everything you said - but *personally* (not sure if I'm the mainstream here but could be) I would love to enter my credentials manually :)

[2021-06-28 19:37] hannanel100 commented on #589
Do you think this can be done by a first time contributor? I would love to give it a go, it would be great to have someone to direct questions to....

[2021-06-29 05:12] tpseven-777 commented on #569
@baruchiro Well, for me this was we an opportunity to learn some Node.JS
That someone who asked you probably doesn't want the data just to be printed on the screen, but rather do something with it.
Doing that something should probably be done under node.JS

[2021-06-29 05:17] tpseven-777 opened #591 "Issues with specific visaCAL input"
Hi,
I'm getting the following error when trying to fetch transactions from Visa cal.
This error is stable for a few days now, and relevant to a specific month only.
Could very well be something wrong with Visa cal site itself, but is there any way to verify that?

`invalid json response body at https://cal4u.cal-online.co.il/Cal4U/CardsByAccounts reason: Unexpected end of JSON input`

[2021-07-05 20:25] netanelbrauner commented on #591
Got same error too.

[2021-07-10 08:07] ifeins opened #596 "Publish new version to NPM"
Hey, I'm using `israeli-ynab-updater`, and have to manually install `israeil-bank-scrapers@next` as the last published version doesn't contain a fix for bank leumi.

Can someone publish the latest version to NPM?

[2021-07-10 19:06] #583 closed

[2021-07-11 05:42] esakal commented on #596
@ifeins Hi,
I'm closing this one in favor of eshaham/israeli-ynab-updater#165